<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Checkout">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Checkout</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/checkout.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Meistä</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="search.html">Löydä kumppanisi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Usein kysytyt kysymykset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Ota yhteyttä</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kieli
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Englanti</a>
                                <a class="dropdown-item" href="../no/index.html">Norja</a>
                                <a class="dropdown-item" href="../sv/index.html">Ruotsi</a>
                                <a class="dropdown-item" href="../dk/index.html">Tanska</a>
                                <a class="dropdown-item" href="index.html">Suomi</a>
                                <a class="dropdown-item" href="../is/index.html">Islanti</a>
                               
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="checkoutdetails">
            <div class="row">
                <div class="logodiv">
                    <img id="orglogo" src="" alt="org-logo">
                </div>
            </div>
            <div class="row">
                <div id="orgname"></div>
            </div>
        </div>
        <!-- <form action="https://instaraisingwebapp.azurewebsites.net/login" method="POST" id="payment-form" class="mb-3" onsubmit="return validateForm()"> -->
        <form action="http://127.0.0.1:5000/login" method="POST" id="payment-form" class="mb-3" onsubmit="return validateForm()">
            <div class="payment-container mb-3">
                <div class="row paymentRow">
                    <div class="col-9">
                        <label for="amountDonated" class="paymentamountdisplay">Keskimääräinen panos on € 25</label><br>
                        <label  class="paymentamountdisplay" id="amountselectedlabel"></label>
                        <input type="text" class="form-control" id="amountDonated" value="25" name="amountDonated" hidden required>
                    </div>
                    <div class="col-3">
                        
                        <div class="dropdown" style="float:right;">
                            <button class="dropbtn">Muuta summaa</button>
                            <div class="dropdown-content">
                                <a href="#" class="newamount" data-amount="5">€ 5</a>
                                <a href="#" class="newamount" data-amount="15">€ 15</a>
                                <a href="#" class="newamount" data-amount="25">€ 25</a>
                                <a href="#" class="newamount" data-amount="35">€ 35</a>
                                <a href="#" class="newamount" data-amount="45">€ 45</a>
                                <a href="#" class="newamount" data-amount="85">€ 85</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="payment-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName" class="paymentLabel">Etunimi :</label><span class="red-asterisk">*</span>
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName" class="paymentLabel">Sukunimi :</label><span class="red-asterisk">*</span>
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mobileNumber" class="paymentLabel">Matkapuhelinnumero :</label><span class="red-asterisk">*</span>
                            <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email" class="paymentLabel">Sähköposti :</label><span class="red-asterisk">*</span>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="address" class="paymentLabel">Osoite :</label><span class="red-asterisk">*</span>
                            <input type="text" class="form-control" id="address" name="address" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="postalCode" class="paymentLabel">Postinumero :</label><span class="red-asterisk">*</span>
                            <input type="text" class="form-control" id="postalCode" name="postalCode" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="postPlace" class="paymentLabel">Postitoimisto :</label><span class="red-asterisk">*</span>
                            <input type="text" class="form-control" id="postPlace" name="postPlace" required>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                           
                            <input type="text" class="form-control" id="currency" name="currency" value="EURO" hidden required>
                            <input type="text" class="form-control" id="language" value="fi" name="language" required hidden>
                            <input type="text" class="form-control" id="orgNamePay" name="orgNamePay" hidden required >
                        </div>
                    </div>
                </div>
               
                <div class="row mt-2 mb-2">
                    <h5>Velg betalingsmetode</h5>
                    <div class="payment-options">
                        <div class="my-3">
                            <div class="form-check">
                                <input type="radio" name="product" value="FINORG" class="form-check-input" id="fincorg">
                                <label class="form-check-label" for="credit">
                                    <div class="card-icon">
                                        
                                        <img src="/assets/img/credit-card-icon.png" alt="Credit Card Icon"> Tilaa ja tue tätä organisaatiota luottokortilla
                                    </div>
                                    
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>
               
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="acceptTerms" required>
                    <label class="form-check-label" for="acceptTerms">
                        Hyväksyn <a href="privacy.html" class="linkColor">ehdot ja säännöt</a>
                    </label><span class="red-asterisk">*</span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="acceptNewsletter">
                    <label class="form-check-label" for="acceptNewsletter">
                        Haluan saada uutiskirjeitä
                    </label>
                </div>
                <button id="payNow" class="paynow mt-3 mb-3" type="submit"><span >Maksa nyt</span></button>
                <p id="validationResult" style="color: red; display: none;">Ole hyvä ja valitse maksutapa</p>
            </div>
        </form>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sivustollamme käytämme evästeitä käyttökokemuksen parantamiseen, verkkosivuston optimointiin ja markkinointiin.
                    Suostumalla hyväksyt, miten käytämme evästeitä.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Hyväksy</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hylkää</button>
                <button type="button" class="btn" id="customizeBtn">Mukauta evästeitä</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Välttämättömät evästeet – ei voi poistaa käytöstä</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Välttämättömät evästeet ovat tarpeen perustoimintojen, kuten sivuston navigoinnin ja pääsyn 
                        suojattuihin osiin verkkosivulla. Verkkosivusto ei voi toimia tyydyttävästi ilman näitä evästeitä.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markkinointi</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Tämä eväste auttaa meitä löytämään käyttäjiä, jotka ovat kiinnostuneita tiedoista eri aiheista, 
                        jotta voimme tarjota sinulle relevantteja mainoksia.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Tallenna muutokset ja sulje</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lue lisää</button>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Seuraa meitä</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Tilaa uutiskirjeemme</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Sinun sähköposti" required>
                        <button type="submit" class="irsubscription" data-language="English">Tilaa</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Ota yhteyttä</h4>
                    <p><i class="fas fa-envelope"></i> Sähköposti: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Puhelin: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- core  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../../public/js/account.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
                sessionStorage.setItem('selectedLanguage', 'fi');
        });
    </script>

    <script src="../../public/js/header.js"></script>
    <script>
        function validateForm() {
        var radios = document.getElementsByName('product');
  
        for (var i = 0; i < radios.length; i++) {
          if (radios[i].checked) {
            return true; // Allow form submission
          }
        }
        $("#validationResult").show();
        // alert('Please select a radio button.');
        return false; // Prevent form submission
    }
    </script>
</body>
</html>