<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - I am a InstaRaiser</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/community.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="aboutus.html"></i>Meistä</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Löydä kumppanisi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Usein kysytyt kysymykset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Ota yhteyttä</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kieli
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Englanti</a>
                                <a class="dropdown-item" href="../no/index.html">Norja</a>
                                <a class="dropdown-item" href="../sv/index.html">Ruotsi</a>
                                <a class="dropdown-item" href="../dk/index.html">Tanska</a>
                                <a class="dropdown-item" href="index.html">Suomi</a>
                                <a class="dropdown-item" href="../is/index.html">Islanti</a>
                               
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    
    <section class="intaraiserheading">
        <div class="content-text-left">
            <h1 class="mainheading"> I’m an Instaraiser!</h1>
            <p class="lines">Onnittelut, olet nyt Instaraiser!   </p>
            <p class="lines">
                Onnittelut! Olet juuri ottanut merkityksellisen askeleen maailmaan positiivisen vaikutuksen tekemisessä. Käyttämällä verkkosivustoamme löytääksesi hyväntekeväisyysjärjestön, joka työskentelee sen parissa, mistä sinä välität, ja tekemällä anteliaan lahjoituksen, olet ansainnut arvostetun digitaalisen merkin "I’m an Instaraiser!". 
            </p>
            
        </div>
        <div class="content-text-right">
            <div class="irbadge">
                <img src="../../img/IR_mailtag.png" alt="IR badge"  class="irbadgeimg" width="200">
            </div>
            
        </div>
    </section>

    <section class="intaraisermean">
        <div class="content-text">
            <h2 class="subheading">Mitä tarkoittaa olla Instaraiser?   </h2>
            <!-- <p><em>"Embark on Your InstaRaising Journey"</em></p> -->
            <p class="lines">Instaraiserina olet osa empaattisten yksilöiden yhteisöä, jotka uskovat takaisin antamisen merkitykseen. Tämä merkki näyttää sitoutumisesi tukemaan asioita, jotka ovat sinulle tärkeitä. Mutta se on enemmän kuin vain merkki – se on symboli omistautumisestasi paremman maailman luomiseen.  </p>
        </div>
        <div class="contextimg">
            <img src="../../img/community.png" alt="InstaRaiser Image" class="content-image">
        </div>
        
    </section>


    <div class="container comunitycontainer">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <h3 class="subheading">Jaa merkkisi </h3>
                </div>
                <div class="row">
                    <p class="lines">
                        Jaa "I’m an Instaraiser!" -merkkisi sosiaalisessa mediassa ja inspiroi muita tulemaan Instaraisereiksi. Sitoutumisesi hyväntekeväisyyteen voi inspiroida positiiviseen muutokseen ja rohkaista muita osallistumaan.  
                    </p>
                </div>
                <div class="row">
                    <ul>
                        <li>
                            <h3 class="subheading">Pysy kuulolla lisää varten </h3>
                             
                            Työskentelemme jatkuvasti uusien aloitteiden ja kumppanuuksien parissa laajentaaksemme yhteisömme vaikutusta. Instaraiserina kuulet ensimmäisten joukossa jännittävistä mahdollisuuksista tehdä vielä suurempaa eroa.  
                        </li>
                        <li>
                            <h3 class="subheading">Kiitos, että olet Instaraiser  </h3>
                            Tukesi ja omistautumisesi tekevät todellisen eron niiden elämässä, jotka tarvitsevat sitä eniten. Emme olisi voineet tehdä tätä ilman sinua. Kiitos, että olet Instaraiser ja että autat meitä muuttamaan maailmaa, yksi hyväsydäminen teko kerrallaan.
                        </li>
                        <li>
                            <h3 class="subheading">Aloita </h3>
                            Valmis jatkamaan matkaasi Instaraiserina? Tutustu verkkosivustoomme, löydä lisää hyväntekeväisyysjärjestöjä ja pidä anteliaisuuden henki elossa.  
                        </li>
                        
                    </ul>
                </div>
            </div>
            <!-- <div class="col-3">
                <img src="../../img/IRbadge.png" alt="IR badge"  class="irbadgeimg">
            </div> -->
        </div>
    </div>

    <section class="cta-section mb-5"> 
        <!-- <p class="lines">Ready to make a difference? Become an InstaRaiser today and be part of a community that believes in change. Together, we can create a better world.</p> -->
            <a href="#" class="cta-btn">Hae nyt</a>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sivustollamme käytämme evästeitä käyttökokemuksen parantamiseen, verkkosivuston optimointiin ja markkinointiin.
                    Suostumalla hyväksyt, miten käytämme evästeitä.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Hyväksy</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hylkää</button>
                <button type="button" class="btn" id="customizeBtn">Mukauta evästeitä</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Välttämättömät evästeet – ei voi poistaa käytöstä</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Välttämättömät evästeet ovat tarpeen perustoimintojen, kuten sivuston navigoinnin ja pääsyn 
                        suojattuihin osiin verkkosivulla. Verkkosivusto ei voi toimia tyydyttävästi ilman näitä evästeitä.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markkinointi</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Tämä eväste auttaa meitä löytämään käyttäjiä, jotka ovat kiinnostuneita tiedoista eri aiheista, 
                        jotta voimme tarjota sinulle relevantteja mainoksia.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Tallenna muutokset ja sulje</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lue lisää</button>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Seuraa meitä</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Tilaa uutiskirjeemme</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Sinun sähköposti" required>
                        <button type="submit" class="irsubscription" data-language="English">Tilaa</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Ota yhteyttä</h4>
                    <p><i class="fas fa-envelope"></i> Sähköposti: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Puhelin: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- core  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/home.js"></script>
    
    <script src="../../public/js/header.js"></script>
    
</body>
</html>