<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - FAQ</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/faq.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Meistä</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Löydä kumppanisi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="faq.html">Usein kysytyt kysymykset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Ota yhteyttä</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kieli
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Englanti</a>
                                <a class="dropdown-item" href="../no/index.html">Norja</a>
                                <a class="dropdown-item" href="../sv/index.html">Ruotsi</a>
                                <a class="dropdown-item" href="../dk/index.html">Tanska</a>
                                <a class="dropdown-item" href="index.html">Suomi</a>
                                <a class="dropdown-item" href="../is/index.html">Islanti</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container faqcontainer mt-5">
        <h1 class="text-center mb-4">Usein kysytyt kysymykset</h1>

        <input type="text" id="faqSearch" placeholder="Etsi kysymystä...">
        
        <div class="accordion" id="faqAccordion">
            <!-- FAQ Item 1 -->
            <div class="card">
                <div class="card-header" id="faqHeading1">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                            <i class="fas fa-chevron-down"></i>  Mikä on Instaraising?
                        </button>
                    </h2>
                </div>
    
                <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising on digitaalinen alusta, joka on suunniteltu yhdistämään hyväntekeväisyyden lahjoittajat ja hyväntekeväisyysjärjestöt globaalisti. Tehtävämme on helpottaa tehokasta antamista ja vaikuttaa merkittävästi maailmanlaajuisen äärimmäisen köyhyyden vähentämisessä. 
                    </div>
                </div>
            </div>
    
            <!-- FAQ Item 2 -->
            <div class="card">
                <div class="card-header" id="faqHeading2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                            <i class="fas fa-chevron-down"></i>  Miten Instaraising toimii?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising antaa lahjoittajille mahdollisuuden löytää ja yhdistää erilaisiin hyväntekeväisyysjärjestöihin ja -kohteisiin. Lahjoittajat voivat suoraan rahoittaa heille tärkeitä projekteja tai kohteita, ja järjestöt voivat esitellä aloitteitaan ja saada tukea virallisen verkkosivustomme kautta. 
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="card-header" id="faqHeading3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                            <i class="fas fa-chevron-down"></i>  Mitä kohteita Instaraising tukee?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Tuemme laajaa valikoimaa kohteita, mukaan lukien kriisinhallinta, humanitaarinen apu, koulutus, terveydenhuolto, yhteisön kehittäminen, lasten hyvinvointi, ihmisoikeudet, ympäristönsuojelu ja monet muut. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                            <i class="fas fa-chevron-down"></i>  Miten Instaraising eroaa muista hyväntekeväisyysalustoista?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising on ainutlaatuinen sitoutumisessaan vähentää äärimmäistä köyhyyttä vähintään 5% globaalisti. Alustamme on suunniteltu läpinäkyvyydelle, helppokäyttöisyydelle ja kunkin lahjoituksen vaikutuksen maksimoimiseksi. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading5">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                            <i class="fas fa-chevron-down"></i>  Onko Instaraising voittoa tavoittelematon järjestö?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ei, Instaraising toimii yhteisön kehittämisjärjestönä Peach Groupin alaisuudessa. Päämäärämme on sosiaalinen vaikutus, ei voitto. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading6">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
                            <i class="fas fa-chevron-down"></i>  Kuinka voin lahjoittaa Instaraisingin kautta?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse6" class="collapse" aria-labelledby="faqHeading6" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Lahjoittaaksesi luo vain tili, selaa syiden tai järjestöjen luetteloa ja valitse, mihin haluaisit osallistua. Alustamme tarjoaa turvallisen ja suoraviivaisen prosessin lahjoitusten tekemiseen. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading7">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse7">
                            <i class="fas fa-chevron-down"></i>  Voivatko hyväntekeväisyysjärjestöt tehdä yhteistyötä Instaraisingin kanssa?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse7" class="collapse" aria-labelledby="faqHeading7" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ehdottomasti. Hyväntekeväisyysjärjestöt voivat hakea listautumista alustallemme. Kun ne on tarkastettu ja hyväksytty, ne voivat alkaa vastaanottaa lahjoituksia ja tukea globaalilta lahjoittajien yhteisöltämme.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading8">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse8">
                            <i class="fas fa-chevron-down"></i>  Kuinka Instaraising varmistaa järjestöjen laillisuuden alustallaan?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse8" class="collapse" aria-labelledby="faqHeading8" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Suoritamme perusteellisen tarkastusprosessin jokaiselle järjestölle. Tähän sisältyy niiden oikeudellisen aseman, tehtävän, taloudellisen läpinäkyvyyden ja vaikutuksen seurantahistorian varmistaminen.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading9">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse9" aria-expanded="false" aria-controls="faqCollapse9">
                            <i class="fas fa-chevron-down"></i>  Ovatko lahjoitukset Instaraisingin kautta verovähennyskelpoisia?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse9" class="collapse" aria-labelledby="faqHeading9" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraisingin kautta tehdyt lahjoitukset voivat olla verovähennyskelpoisia riippuen asuinmaasi verolaeista. Suosittelemme konsultoimaan veroneuvojan kanssa tarkan tiedon saamiseksi.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading10">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse10" aria-expanded="false" aria-controls="faqCollapse10">
                            <i class="fas fa-chevron-down"></i>  Kuinka voin ottaa yhteyttä Instaraisingiin lisäkysymyksiä tai kumppanuuksia varten?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse10" class="collapse" aria-labelledby="faqHeading10" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Lisätietoja tai keskustellaksesi kumppanuusmahdollisuuksista, ota meihin yhteyttä osoitteessa info@instaraising.com tai käy "Ota meihin yhteyttä" -sivullamme verkkosivustollamme. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading11">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse11" aria-expanded="false" aria-controls="faqCollapse11">
                            <i class="fas fa-chevron-down"></i>   Mikä on Instaraisingin taustalla oleva visio?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse11" class="collapse" aria-labelledby="faqHeading11" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising perustettiin visiolla luoda yhteydessä oleva ja vaikuttava hyväntekeväisyys-ekosysteemi. Tavoitteenamme on hyödyntää digitaalisen innovaation voimaa merkityksellisen muutoksen edistämiseksi ja sekä lahjoittajien että järjestöjen voimaantumisen mahdollistamiseksi tehokkaasti edistämään globaalia hyvinvointia. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading12">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse12" aria-expanded="false" aria-controls="faqCollapse12">
                            <i class="fas fa-chevron-down"></i>  Ketkä voivat hyötyä Instaraisingista?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse12" class="collapse" aria-labelledby="faqHeading12" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising palvelee kahta pääryhmää: yksilöllisiä ja institutionaalisia lahjoittajia, jotka etsivät luotettavia kohteita, sekä vahvistettuja hyväntekeväisyysjärjestöjä, jotka etsivät tukea aloitteilleen. Alustamme on suunniteltu palvelemaan kaikkia, jotka haluavat tehdä positiivista vaikutusta. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading13">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse13" aria-expanded="false" aria-controls="faqCollapse13">
                            <i class="fas fa-chevron-down"></i>  Kuinka Instaraising varmistaa läpinäkyvyyden ja luottamuksen?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse13" class="collapse" aria-labelledby="faqHeading13" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Priorisoimme läpinäkyvyyden tarjoamalla yksityiskohtaisia tietoja kustakin hyväntekeväisyysjärjestöstä, heidän projekteistaan ja varojen käytöstä. Säännöllisiä päivityksiä ja vaikutusraportteja jaetaan lahjoittajille. Lisäksi alustamme noudattaa tiukkoja turvallisuusprotokollia varmistaakseen turvalliset ja läpinäkyvät transaktiot.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading14">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse14" aria-expanded="false" aria-controls="faqCollapse14">
                            <i class="fas fa-chevron-down"></i>  Kuinka voin seurata lahjoitukseni vaikutusta Instaraisingissa? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse14" class="collapse" aria-labelledby="faqHeading14" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Lahjoittajat saavat säännöllisiä päivityksiä ja vaikutusraportteja tukemiinsa projekteihin liittyen. Nämä raportit sisältävät yksityiskohtia edistymisestä, saavutuksista ja lahjoitusten todellisesta maailman vaikutuksesta. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading15">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse15" aria-expanded="false" aria-controls="faqCollapse15">
                            <i class="fas fa-chevron-down"></i>  Voinko vapaaehtoistyöllä tai tarjota ei-rahanmuotoista tukea Instaraisingin kautta?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse15" class="collapse" aria-labelledby="faqHeading15" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Kyllä, rahallisten lahjoitusten lisäksi Instaraising suunnittelee vapaaehtoistyömahdollisuuksien ja muiden ei-rahanmuotoisten tukimuotojen tarjoamista. Tämä ominaisuus kehitetään mahdollistamaan käyttäjien osallistumisen hyväntekeväisyyskohteisiin monipuolisilla tavoilla. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading16">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse16" aria-expanded="false" aria-controls="faqCollapse16">
                            <i class="fas fa-chevron-down"></i>  Mitä toimenpiteitä Instaraising tekee henkilökohtaisten ja taloudellisten tietojen suojaamiseksi?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse16" class="collapse" aria-labelledby="faqHeading16" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Käytämme edistyneitä turvatoimia, mukaan lukien salauksen ja turvalliset palvelinyhteydet, henkilökohtaisten ja taloudellisten tietojesi suojaamiseen. Yksityisyys ja tietoturva ovat ensisijaisen tärkeitä kaikissa toiminnoissamme. 


                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading17">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse17" aria-expanded="false" aria-controls="faqCollapse17">
                            <i class="fas fa-chevron-down"></i>  Kuinka Instaraising valitsee ja kategorisoi tukemansa syyt?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse17" class="collapse" aria-labelledby="faqHeading17" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Syyt valitaan perustuen kiireellisiin globaaleihin tarpeisiin ja kestävän kehityksen tavoitteisiin. Luokittelemme ne eri sektoreihin, kuten koulutus, terveys, ihmisoikeudet jne., helpottaaksemme lahjoittajien navigointia. 
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="faqHeading18">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse18" aria-expanded="false" aria-controls="faqCollapse18">
                            <i class="fas fa-chevron-down"></i>  Tekeekö Instaraising yhteistyötä yritysten kanssa CSR-aloitteissa?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse18" class="collapse" aria-labelledby="faqHeading18" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Kyllä, teemme aktiivisesti yhteistyötä yritysten kanssa heidän yritysten sosiaalisen vastuun (CSR) aloitteissaan. Alustamme voi auttaa yrityksiä tunnistamaan rahoitusta ja seuraamaan sosiaalisia projekteja, jotka ovat linjassa heidän CSR-tavoitteidensa kanssa. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading19">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse19" aria-expanded="false" aria-controls="faqCollapse19">
                            <i class="fas fa-chevron-down"></i>  Kuinka voin pysyä ajan tasalla Instaraisingin toiminnasta ja vaikutustarinoista?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse19" class="collapse" aria-labelledby="faqHeading19" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Kannustamme sinua seuraamaan meitä sosiaalisen median kanavillamme ja tilaamaan uutiskirjeemme saadaksesi säännöllisiä päivityksiä, vaikutustarinoita ja näkemyksiä toiminnastamme. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading20">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse20" aria-expanded="false" aria-controls="faqCollapse20">
                            <i class="fas fa-chevron-down"></i>  Kuinka voin antaa palautetta tai ehdotuksia Instaraisingin parantamiseksi?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse20" class="collapse" aria-labelledby="faqHeading20" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Arvostamme palautettasi ja ehdotuksiasi. Voit ottaa meihin vapaasti yhteyttä verkkosivustomme yhteydenottolomakkeen kautta tai suoraan osoitteessa info@instaraising.com. Panoksesi on olennainen jatkuvassa parantamisessamme.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading21">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse21" aria-expanded="false" aria-controls="faqCollapse21">
                            <i class="fas fa-chevron-down"></i>  Kuinka Instaraising varmistaa, että lahjoitukseni käytetään tarkoitetulla tavalla?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse21" class="collapse" aria-labelledby="faqHeading21" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ylläpidämme tiukkaa valvontaa varojen käytössä. Jokaisen alustallamme olevan järjestön on annettava yksityiskohtaiset suunnitelmat siitä, miten lahjoituksia käytetään, ja heidän on toimitettava säännöllisiä raportteja varojen allokoinnista ja projektin edistymisestä.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading22">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse22" aria-expanded="false" aria-controls="faqCollapse22">
                            <i class="fas fa-chevron-down"></i>   Minkälaista taloudellista läpinäkyvyyttä Instaraising tarjoaa lahjoittajilleen?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse22" class="collapse" aria-labelledby="faqHeading22" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Taloudellinen läpinäkyvyys on toimintamme kulmakivi. Tarjoamme lahjoittajille pääsyn taloudellisiin raportteihin, mukaan lukien yksityiskohtaiset erittelyt siitä, miten varoja jaetaan ja käytetään hyväntekeväisyysjärjestöissä. Tämä varmistaa, että lahjoittajat näkevät suoraan heidän panostensa vaikutuksen.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading23">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse23" aria-expanded="false" aria-controls="faqCollapse23">
                            <i class="fas fa-chevron-down"></i>  Kuinka voin varmistaa hyväntekeväisyysjärjestöjen aitouden Instaraisingissa?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse23" class="collapse" aria-labelledby="faqHeading23" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Suoritamme kattavan tarkastusprosessin jokaiselle alustamme järjestölle. Tämä sisältää niiden oikeudellisen aseman, taloudellisen terveyden, toiminnallisen historian ja vaikutuksen seurantahistorian tarkistamisen. Vain tiukat kriteerimme täyttävät järjestöt listataan.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading24">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse24" aria-expanded="false" aria-controls="faqCollapse24">
                            <i class="fas fa-chevron-down"></i>  Vähennetäänkö Instaraisingissa lahjoituksista hallinnollisia maksuja?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse24" class="collapse" aria-labelledby="faqHeading24" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Pyrimme maksimoimaan lahjoitustesi vaikutuksen. Vaikka alustan toiminnasta on minimaalisia hallinnollisia maksuja, varmistamme näiden maksujen läpinäkyvyyden, ja merkittävä osa kustakin lahjoituksesta tukee suoraan valittua syytä. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading25">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse25" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  Kuinka usein Instaraising päivittää lahjoittajia rahoitettujen projektien etenemisestä?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse25" class="collapse" aria-labelledby="faqHeading25" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Lahjoittajat saavat säännöllisiä päivityksiä tukemiensa projektien edistymisestä. Nämä päivitykset, jotka yleensä annetaan neljännesvuosittain, sisältävät edistymisraportteja, viimeaikaisia kehityksiä ja tulevaisuuden suunnitelmia. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading26">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse26" aria-expanded="false" aria-controls="faqCollapse26">
                            <i class="fas fa-chevron-down"></i>  Voivatko lahjoittajat valita, miten heidän lahjoituksiaan käytetään tietyssä projektissa tai järjestössä?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse26" class="collapse" aria-labelledby="faqHeading26" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Kyllä, lahjoittajilla on joustavuutta määritellä, miten he haluavat lahjoituksensa käytettävän. Alustamme järjestöt esittelevät erilaisia tarpeita ja projekteja, mikä mahdollistaa lahjoittajien osallistumisen heille intohimoisimpiin alueisiin. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading27">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse27" aria-expanded="false" aria-controls="faqCollapse27">
                            <i class="fas fa-chevron-down"></i>  Tarjoaako Instaraising lahjoituskuitteja verotarkoituksiin?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse27" class="collapse" aria-labelledby="faqHeading27" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Kyllä, tarjoamme lahjoituskuitteja, joita voidaan käyttää verovähennyksiin. Verohyöty riippuu kuitenkin lahjoittajan asuinmaasta ja sen erityisistä verolaeista. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading28">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse28" aria-expanded="false" aria-controls="faqCollapse28">
                            <i class="fas fa-chevron-down"></i>  Miten Instaraising käsittelee erimielisyyksiä tai huolenaiheita lahjoituksen suhteen?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse28" class="collapse" aria-labelledby="faqHeading28" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Otamme kaikki lahjoituksiin liittyvät huolenaiheet tai erimielisyydet erittäin vakavasti. Lahjoittajat voivat ottaa suoraan yhteyttä tukitiimiimme minkä tahansa ongelman kanssa, ja takaamme perusteellisen ja ajallaan tapahtuvan ratkaisuprosessin. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading29">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse29" aria-expanded="false" aria-controls="faqCollapse29">
                            <i class="fas fa-chevron-down"></i>  Voinko seurata lahjoitukseni pitkäaikaista vaikutusta Instaraising-alustalla?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse29" class="collapse" aria-labelledby="faqHeading29" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ehdottomasti. Kannustamme pitkäaikaiseen vaikutuksen seurantaan ja tarjoamme vuosittaisia vaikutusraportteja, jotka kuvaavat lahjoitustesi kestävää vaikutusta eri projekteihin ja kohteisiin. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading30">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse30" aria-expanded="false" aria-controls="faqCollapse30">
                            <i class="fas fa-chevron-down"></i>  Kuinka Instaraising käsittelee palautuksia tai virheitä lahjoitusten käsittelyssä?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse30" class="collapse" aria-labelledby="faqHeading30" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Mikäli lahjoitusten käsittelyssä ilmenee virheitä tai jos hyvitystä pyydetään, tukitiimimme on valmiina auttamaan. Meillä on selkeä käytäntö tällaisten tilanteiden käsittelyyn varmistaaksemme lahjoittajien tyytyväisyyden ja luottamuksen.
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sivustollamme käytämme evästeitä käyttökokemuksen parantamiseen, verkkosivuston optimointiin ja markkinointiin.
                    Suostumalla hyväksyt, miten käytämme evästeitä.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Hyväksy</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hylkää</button>
                <button type="button" class="btn" id="customizeBtn">Mukauta evästeitä</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Välttämättömät evästeet – ei voi poistaa käytöstä</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Välttämättömät evästeet ovat tarpeen perustoimintojen, kuten sivuston navigoinnin ja pääsyn 
                        suojattuihin osiin verkkosivulla. Verkkosivusto ei voi toimia tyydyttävästi ilman näitä evästeitä.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markkinointi</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Tämä eväste auttaa meitä löytämään käyttäjiä, jotka ovat kiinnostuneita tiedoista eri aiheista, 
                        jotta voimme tarjota sinulle relevantteja mainoksia.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Tallenna muutokset ja sulje</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lue lisää</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Seuraa meitä</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Tilaa uutiskirjeemme</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Sinun sähköposti" required>
                        <button type="submit" class="irsubscription" data-language="English">Tilaa</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Ota yhteyttä</h4>
                    <p><i class="fas fa-envelope"></i> Sähköposti: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Puhelin: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/faq.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
</body>
</html>