<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Privacy</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Meistä</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Löydä kumppanisi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Usein kysytyt kysymykset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contactus.html">Ota yhteyttä</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kieli
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Englanti</a>
                                <a class="dropdown-item" href="../no/index.html">Norja</a>
                                <a class="dropdown-item" href="../sv/index.html">Ruotsi</a>
                                <a class="dropdown-item" href="../dk/index.html">Tanska</a>
                                <a class="dropdown-item" href="index.html">Suomi</a>
                                <a class="dropdown-item" href="../is/index.html">Islanti</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container privacycontainer">
            <div class="content">
                <h1 class="mainheading mt-5">Tietosuojaseloste</h1>
            </div>
            <div class="content">
                <p>
                    <ol>
                        <li>HENKILÖTIETOJEN KERÄÄMINEN</li>
                        <li>OIKEUTESI</li>
                        <li>HENKILÖTIETOJEN KERÄÄMINEN VERKKOSIVUMME KÄVIJÖILTÄ</li>
                        <li>MUUT TOIMINNOT JA TARJOUKSET VERKKOSIVULLAMME</li>
                        <li>VASTALAUSEET TIETOJEN KÄSITTELYÄ TAI TIETOJEN PERUMISTA KÄSITTELYSTÄ</li>
                        <li>VERKKOTAPAHTUMIEN REKISTERÖINTI</li>
                    </ol> 
                </p>
            </div>
            <div class="content">
                <h2>1.	Henkilötietojen kerääminen</h2>
                <p class="mb-2">
                    (1) Tämä tietosuojaseloste selittää, miten ja mitä henkilötietoja keräämme sinulta verkkosivustomme kautta. Henkilötiedot 
                    tarkoittavat kaikkia tietoja, jotka voidaan liittää sinuun henkilökohtaisesti, kuten nimesi, osoitteesi, sähköpostitilisi ja käyttäytymisesi.
                </p>
                <p class="mb-2">
                    (2) Tietosuojavastaava EU:n yleisen tietosuoja-asetuksen (GDPR) 4 artiklan 7 kohdan mukaisesti on
                </p>
                <div class="contact-info">
                    <p class="company-name">PEACH GROUP AS</p>
                    <p>Stangslia 5</p>
                    <p>3179 Åsgårdsstrand</p>
                    <p>Tel.: +47 46 31 18 65</p>
                    <p>Email: <a href="mailto:finncato@peachgroup.no">finncato@peachgroup.no</a></p>
                </div>
                <p>Tietosuojavastaava : Martin Hoel</p>
                <p class="mb-2">
                    Voit ottaa yhteyttä tietosuojavastaavaamme osoitteeseen <a href="mailto:ir-contact@instaraising.com" class="linkpages">ir-contact@instaraising.com</a>  
                    otai postiosoitteeseemme lisäämällä "GDPR".
                </p>
                <p class="mb-2">
                    (3) Aina kun otat meihin yhteyttä sähköpostitse tai yhteydenottolomakkeen kautta, tallennamme sinun antamasi tiedot (sähköpostitilisi, 
                    mahdollisesti nimesi ja puhelinnumerosi) voidaksemme vastata kysymyksiisi. Poistamme tällä tavoin kerätyn tiedon, kun sen säilyttäminen 
                    ei ole enää tarpeen, tai rajoitamme sen käsittelyä, jos siihen liittyy lakisääteisiä säilytysvelvoitteita.
                </p>
                <p class="mb-2">
                    (4) Jos käytämme sopimuskumppaneita tukemaan tarjontamme 
                    yksittäisiä toimintoja tai haluamme käyttää tietojasi mainontaan, 
                    asiaankuuluvat sovellettavat menettelyt kuvataan yksityiskohtaisesti
                     alla. Alla kuvataan myös vakiintuneet kriteerit tietojen säilytysajan kestolle.
                </p>
                <p class="mb-2">
                    (5) Meitä käsittelemät tiedot poistetaan tai niiden käsittelyä 
                    rajoitetaan GDPR:n 17 ja 18 artiklan mukaisesti. Ellei tässä 
                    tietosuojaselosteessa nimenomaisesti toisin todeta, meiltä 
                    tallennetut tiedot poistetaan heti, kun niitä ei enää tarvita 
                    tarkoitukseensa, eikä lakisääteiset säilytysvelvoitteet estä niiden
                    poistamista. Käsiteltävien tietojen kohdalla, joita ei ole 
                    poistettu, koska niitä tarvitaan muihin laillisiin tarkoituksiin, 
                    niiden käsittelyyn asetetaan rajoituksia. Tämä sääntö koskee 
                    esimerkiksi tietoja, jotka on säilytettävä kaupallisten tai 
                    verolainsäädännöllisten syiden vuoksi.
                </p>
            </div>
            <div class="content">
                <h2>2.	Oikeutesi </h2>
                <p class="mb-2">
                    (1) Sinulla on seuraavat oikeudet koskien meitä käsittelemiäsi henkilötietoja: Sinulla 
                    on oikeus saada tietoa sinua koskevista henkilötiedoista, joita me käsittelemme. 
                    Toivomme ymmärrystäsi, koska muussa kuin kirjallisessa meille toimitetussa 
                    tiedustelussa todennäköisesti pyydämme sinulta todistusta siitä, että olet todella 
                    se henkilö, jonka väität olevan. 
                </p>
                <p class="mb-2">
                    Sinulla on myös oikeus muuttaa, poistaa tai rajoittaa henkilötietojesi käsittelyä
                    laillisesti sallittuun laajuuteen. Lisäksi sinulla on oikeus vastustaa 
                    henkilötietojesi käsittelyä laillisesti sallitussa laajuudessa. Sama pätee myös
                    "tietojen siirrettävyyden" oikeuteen.
                </p>
                <p class="mb-2">
                    (2) Lisäksi sinulla on oikeus tehdä valitus Norjan tietosuojaviranomaiselle 
                    (Datatilsynet) siitä, miten henkilötietojasi käsitellään meidän toimestamme.
                </p>
            </div>
            <div class="content">
                <h2>3.	Henkilötietojen kerääminen verkkosivujemme kävijöiltä </h2>
                <p class="mb-2">
                    (1) Kun verkkosivustoamme käytetään pelkästään tiedon hankkimiseen, eli et 
                    rekisteröidy tai anna meille tietoja millään muulla tavalla, keräämme vain 
                    selaimeltasi saadut henkilötiedot palvelimellemme. Kun haluat tarkastella 
                    verkkosivustoamme, keräämme seuraavat tekniset tiedot, jotka ovat tarpeen 
                    teknisistä syistä, jotta voimme näyttää sinulle verkkosivustomme ja varmistaa 
                    riittävän pääsyn vakauden ja turvallisuuden (oikeusperusta on GDPR:n 6 artiklan 
                    1 kohdan 1 alakohdan f mukainen):
                </p>
                <ul>
                    <li class="listclass">IP-osoite;</li>
                    <li class="listclass">Kyselyn päivämäärä ja aika;</li>
                    <li class="listclass">Aikavyöhykkeen ero Greenwichin keskiaikaan (GMT);</li>
                    <li class="listclass">Kyselyn sisältö (tarkka sivu, jota käytettiin);</li>
                    <li class="listclass">Pääsyn tila/HTTP-tilakoodi;</li>
                    <li class="listclass">Tiedonsiirtovolyymin jokaisessa tapauksessa;</li>
                    <li class="listclass">Kyselyn generoiva verkkosivusto;</li>
                    <li class="listclass">Selain;</li>
                    <li class="listclass">Käyttöjärjestelmä ja sen käyttöliittymä;</li>
                    <li class="listclass">Selaimen kieli ja versio.</li>
                </ul>
                <p class="mb-2">
                    Näitä tietoja säilytetään turvallisuussyistä (esimerkiksi väärinkäytön tutkimiseksi 
                    tai petoksen estämiseksi) enintään seitsemän päivää, ja ne poistetaan tämän jälkeen. Tietoja, jotka on säilytettävä pidemmän aikaa todisteena, poistetaan vasta asianomaisen tapahtuman täyden selvittämisen jälkeen.
                </p>
                <p class="mb-2">
                    (2) Lisäksi edellä lueteltujen tietojen lisäksi tietokoneesi tallentaa evästeemme, 
                    kun käyt verkkosivustollamme. Evästeet ovat pieniä tekstitiedostoja, jotka 
                    tallennetaan kiintolevyllesi tiedostoina, jotka on liitetty selaimeesi, ja joiden 
                    avulla tietyt tiedot välitetään evästeen lähettäjälle (tässä tapauksessa meille). 
                    Evästeet eivät pysty suorittamaan ohjelmia tai tartuttamaan tietokonettasi 
                    mihinkään virukseen. Niiden tarkoitus on tehdä työskentelystä internetissä 
                    yleisesti ottaen käyttäjäystävällisempää ja tehokkaampaa. 
                </p>
                <p>(3) Evästeiden käyttö :</p>
                <p class="mb-2">
                    a) Tämä verkkosivusto käyttää seuraavia evästetyyppejä, joiden laajuus 
                    ja toiminnot selitetään yksityiskohtaisemmin alla:
                </p>
                <ul>
                    <li class="listclass">Istuntokoekkeet (ks. b); </li>
                    <li class="listclass">Pysyvät evästeet (ks. c).</li>
                </ul>
                <p class="mb-2">
                    b) Istuntokoekkeet poistetaan automaattisesti, kun suljet selaimen. Ne sisältävät 
                    erityisesti istunnon tunnus -sijainnin, jonka avulla selaimesi erilaiset pyynnöt 
                    liitetään koko istunnon ajan. Ne mahdollistavat meille tietokoneesi tunnistamisen 
                    aiempana vierailijana, kun palaat verkkosivustollemme. Istuntokoekkeet poistetaan, 
                    kun suljet selaimen.

                </p>
                <p class="mb-2">
                    c) Pysyvät evästeet poistetaan automaattisesti ennalta määritellyn ajanjakson jälkeen,
                    joka voi vaihdella evästeestä toiseen. Voit poistaa evästeet milloin tahansa 
                    selaimesi turva-asetusten avulla.
                </p>
                <p class="mb-2">
                    d) Voit mukauttaa selaimesi asetuksia oman harkintasi mukaan ja erityisesti kieltää 
                    kolmansien osapuolien evästeiden hyväksynnän tai kaikkien evästeiden hyväksynnän. 
                    Huomaa kuitenkin, että tällöin et luultavasti voi käyttää joitain verkkosivustomme 
                    toimintoja.

                </p>
            </div>
            <div class="content">
                <h2>4.	Muita toimintoja ja tarjouksia verkkosivullamme</h2>
                <p class="mb-2">
                    (1) Tarjoamme mahdollisuuden käyttää verkkosivustoamme pelkästään tiedonhankintaan 
                    liittyviin tarkoituksiin, mutta tarjoamme myös erilaisia palveluja, joita voit 
                    käyttää, jos ne kiinnostavat sinua. Yleensä joudut antamaan tarkempia 
                    henkilötietojasi voidaksesi käyttää niitä, ja ne kuuluvat yllä kuvattujen 
                    tietojenkäsittelyperiaatteiden piiriin.
                </p>
                <p class="mb-2">
                    (2) Käytämme ulkopuolisten palveluntarjoajien palveluja joidenkin tietojesi 
                    käsittelyyn. Valitsemme ja sitoudumme huolellisesti palveluntarjoajiimme, 
                    ja heitä ohjataan ja valvotaan säännöllisesti.
                </p>
                <p class="mb-2">
                    (3) Lisäksi voimme luovuttaa henkilötietosi kolmansille osapuolille, jos 
                    tarjoamme tapahtumia, sopimuksia tai vastaavia palveluja yhdessä kumppaneidemme 
                    kanssa. Saat yksityiskohtaisempia tietoja tästä, kun annat henkilötietosi.
                </p>
                <p class="mb-2">
                    (4) Jos palveluntarjoajamme tai kumppanimme sijaitsevat Euroopan talousalueen (EEA) ulkopuolella, 
                    ilmoitamme sinulle tämän tilanteen seurauksista tarjouksemme kuvauksessa.
                </p>
            </div>
            <div class="content">
                <h2>5.	Vastalauseet tietojen käsittelyä tai tietojesi peruuttamista vastaan käsittelystä
                </h2>
                <p class="mb-4">
                    (1) Voit peruuttaa aiemmin myöntämäsi suostumuksen henkilötietojesi käsittelyyn milloin 
                    tahansa. Tällainen suostumuksen peruutus vaikuttaa henkilötietojesi saatavuuteen 
                    käsittelyä varten heti, kun ilmoitat siitä meille.
                </p>
                <p class="mb-2">
                    (2) Siltä osin kuin käsittelemme henkilötietojasi tukemaan oikeutettuja etujamme, 
                    voit vastustaa tällaista käsittelyä. Tämä pätee erityisesti tilanteissa, joissa 
                    kyseisten tietojen käsittely ei ole tarpeen sopimuksen kanssasi tekemisen 
                    tarkoituksessa, mikä seikka mainitaan kuvauksessa kyseisestä toiminnosta alla. 
                    Jos teet vastalauseen meille, pyydämme ystävällisesti perustelemaan, miksi emme 
                    saisi käsitellä henkilötietojasi tällä hetkellä käsiteltävällä tavalla. Jos 
                    vastalauseesi osoittautuu perustelluksi, tutkimme asian ja joko keskeytämme 
                    tietojesi käsittelyn ja teemme asianmukaisia muutoksia tai ilmoitamme sinulle, 
                    miksi meidän on jatkettava kyseisten tietojen käsittelyä, jos suojaaminen on tarpeen.
                </p>
                <p class="mb-2">
                    (3) Voit vastustaa henkilötietojesi käsittelyä markkinointi- ja tietoanalyysitarkoituksiin 
                    milloin tahansa. Voit ilmoittaa meille vastalauseestasi markkinointia vastaan alla 
                    olevissa yhteystiedoissa kohdassa 1 (2).
                </p>
            </div>
            <div class="content">
                <h2>6.	Verkkotapahtumien rekisteröinti</h2>
                <p class="mb-2">
                    (1) Jos haluat rekisteröityä tapahtumiin - sekä ilmaisiin että maksullisiin - 
                    on välttämätöntä sopimuksen tekemiseksi, että annat meille tarvittavat 
                    henkilötiedot rekisteröintisi käsittelemiseksi. Pakolliset kentät on merkitty 
                    erikseen, muut kentät ovat valinnaisia. Käsittelemme sinun antamiasi tietoja 
                    rekisteröinnin käsittelyyn. Tähän on oikeusperusteena GDPR:n 6 artiklan 1 kohdan 
                    1 alakohta b ja alakohta f.
                </p>
                <p class="mb-2">
                    Voimme myös käsitellä antamiasi tietoja informoidaksemme sinua laillisista, verotuksellisista 
                    ja taloudellisista kehityksistä, tarjotaksemme sinulle muita mielenkiintoisia ja 
                    tärkeitä tietoja tai lähettääksemme sinulle teknisiä tietoja sisältäviä sähköposteja.
                </p>
                <p class="mb-2">
                    (2) Kauppa- ja verolainsäädännön mukaan meidän on säilytettävä osoitteesi, maksu- ja 
                    tilaustietosi kymmenen vuoden ajan. Kolmen vuoden kuluttua kuitenkin rajoitamme 
                    käsittelyä, eli tietojasi käytetään vain lain määräämiin velvoitteisiin.
                </p>
                <p class="mb-2">
                    Åsgårdsstrand, 28.08.2023
                </p>
            </div>
        </div>
    </main>

    
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sivustollamme käytämme evästeitä käyttökokemuksen parantamiseen, verkkosivuston optimointiin ja markkinointiin.
                    Suostumalla hyväksyt, miten käytämme evästeitä.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Hyväksy</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hylkää</button>
                <button type="button" class="btn" id="customizeBtn">Mukauta evästeitä</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Välttämättömät evästeet – ei voi poistaa käytöstä</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Välttämättömät evästeet ovat tarpeen perustoimintojen, kuten sivuston navigoinnin ja pääsyn 
                        suojattuihin osiin verkkosivulla. Verkkosivusto ei voi toimia tyydyttävästi ilman näitä evästeitä.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markkinointi</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Tämä eväste auttaa meitä löytämään käyttäjiä, jotka ovat kiinnostuneita tiedoista eri aiheista, 
                        jotta voimme tarjota sinulle relevantteja mainoksia.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Tallenna muutokset ja sulje</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lue lisää</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Seuraa meitä</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Tilaa uutiskirjeemme</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Sinun sähköposti" required>
                        <button type="submit" class="irsubscription" data-language="English">Tilaa</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Ota yhteyttä</h4>
                    <p><i class="fas fa-envelope"></i> Sähköposti: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Puhelin: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
</body>
</html>