<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Our partners and donors</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/projects.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Meistä</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Löydä kumppanisi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Usein kysytyt kysymykset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Ota yhteyttä</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kieli
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Englanti</a>
                                <a class="dropdown-item" href="../no/index.html">Norja</a>
                                <a class="dropdown-item" href="../sv/index.html">Ruotsi</a>
                                <a class="dropdown-item" href="../dk/index.html">Tanska</a>
                                <a class="dropdown-item" href="index.html">Suomi</a>
                                <a class="dropdown-item" href="../is/index.html">Islanti</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="partnerheading">
        <div class="content-text-left">
            <div class="container introduction">
                <h1 class="mainheading">Hankkeet & Ohjelmat</h1>
                <p class="linetext">Tärkeät hankkeet ja ohjelmat Instaraisingissa ja kumppaneidemme kanssa olemme omistautuneet merkityksellisen muutoksen luomiseen monenlaisten hankkeiden ja ohjelmien kautta. Olemme innoissamme siitä, miten Instaraising voi auttaa erilaisia yhteisöjä ja ihmisiä.</p>
            </div>
        </div>
        <div class="content-text-right">
            <img src="../../img/Education.png" width="100%" alt="">
        </div>
    </section>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom benifitmainheading">Nykyiset Hankkeet</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Tulevat aloitteet</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">Instaraising ja kumppanimme työskentelevät aktiivisesti erilaisten hankkeiden ja ohjelmien kehittämisen parissa. Painopistealueemme sisältävät puhtaan veden saatavuuden tarjoamisen, koulutusmahdollisuuksien parantamisen ja terveydenhuollon kehittämisen kehittymättömillä alueilla.</p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Opi lisää
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Hankkeiden kehittäminen</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">Tällä hetkellä tiimimme ovat sitoutuneet erilaisten hankkeiden huolelliseen suunnitteluun ja muotoiluun. Yhteistyö asiantuntijoiden, yhteisöjen ja potentiaalisten kumppaneiden kanssa on käynnissä varmistaakseen, että hankkeet ovat kestäviä, tehokkaita ja todella hyödyllisiä.</p>
                    </div>
                    <a href="#" class="btn custombtn">
                        Opi lisää
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Pysy kuulolla päivityksistä</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">Tulevien hankkeidemme yksityiskohdat ja siitä, miten voit osallistua ja tukea näitä syitä, ilmoitetaan pian.</p>
                    </div>
                    <a href="#" class="btn custombtn">
                        Opi lisää
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom benifitmainheading">Katsoen Eteenpäin</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Yhteisön sitoutuminen</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Instaraisingin ja kumppaneidemme hankkeet keskittyvät yhteisöjen sitouttamiseen vastaamaan heidän erityistarpeitaan.</p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Opi lisää
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Kumppanuudet ja yhteistyöpyrkimykset</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Olemme sitoutuneet rakentamaan vahvoja kumppanuuksia lisätäksemme ohjelmiemme ulottuvuutta ja vaikutusta. </p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Opi lisää
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Instaraisingin käyttö</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Instaraisingin avulla odotamme yhdistävämme laajemman yleisön lahjoittajia ja tukijoita sekä lisäävämme yhteisiä pyrkimyksiämme ajamaan positiivista muutosta.</p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Opi lisää
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sivustollamme käytämme evästeitä käyttökokemuksen parantamiseen, verkkosivuston optimointiin ja markkinointiin.
                    Suostumalla hyväksyt, miten käytämme evästeitä.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Hyväksy</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hylkää</button>
                <button type="button" class="btn" id="customizeBtn">Mukauta evästeitä</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Välttämättömät evästeet – ei voi poistaa käytöstä</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Välttämättömät evästeet ovat tarpeen perustoimintojen, kuten sivuston navigoinnin ja pääsyn 
                        suojattuihin osiin verkkosivulla. Verkkosivusto ei voi toimia tyydyttävästi ilman näitä evästeitä.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markkinointi</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Tämä eväste auttaa meitä löytämään käyttäjiä, jotka ovat kiinnostuneita tiedoista eri aiheista, 
                        jotta voimme tarjota sinulle relevantteja mainoksia.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Tallenna muutokset ja sulje</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lue lisää</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Seuraa meitä</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Tilaa uutiskirjeemme</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Sinun sähköposti" required>
                        <button type="submit" class="irsubscription" data-language="English">Tilaa</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Ota yhteyttä</h4>
                    <p><i class="fas fa-envelope"></i> Sähköposti: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Puhelin: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../public/js/header.js"></script>
</body>
</html>