<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - charity reports</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/report.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Meistä</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Löydä kumppanisi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Usein kysytyt kysymykset</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Ota yhteyttä</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kieli
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Englanti</a>
                                <a class="dropdown-item" href="../no/index.html">Norja</a>
                                <a class="dropdown-item" href="../sv/index.html">Ruotsi</a>
                                <a class="dropdown-item" href="../dk/index.html">Tanska</a>
                                <a class="dropdown-item" href="index.html">Suomi</a>
                                <a class="dropdown-item" href="../is/index.html">Islanti</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

   

    <section class="hero"></section>

    <section class="content">
        <div class="content-left">
            <div class="container leftsidetext">
                <p class="lines">
                    Tämän raportin tarkoituksena on antaa yleiskatsaus CERF:lle vuosina 2006–2023 tehtyihin rahoituslahjoituksiin, keskittyen suurimpiin lahjoittajamaihin ja niiden sitoutumiseen CERF:n tehtävän tukemiseen. Mukana olevan kaavion data toimii tämän analyysin perustana.  
                </p>
            </div>
            
        </div>
        <div class="content-right">
            <div class="container rightsidetext">
                <h2 class="reportheading">Statistics & Reports</h2>
                <div class="row reportdetails">
                    <p class="lines">
                        Yhdistyneiden kansakuntien keskusapuvarasto (CERF) on humanitaarinen rahasto, jonka YK:n yleiskokous perusti vuonna 2006 varmistamaan nopeampaa ja luotettavampaa humanitaarista apua luonnonkatastrofien ja aseellisten konfliktien kohteeksi joutuneille. CERF on yksi nopeimmista ja tehokkaimmista tavoista tukea humanitaarista vastausta hädässä oleville ihmisille. Se mahdollistaa humanitaaristen avustajien nopean reagoinnin kriittisellä hetkellä, kun hätätilanteet ilmenevät, varmistaen, että apu saavuttaa uhrit viipymättä.   
                    </p>

                    <h4 class="chartheading">Lahjoitukset vuosina 2006–2023</h4>
                    <p class="lines">
                        Vuoden 2006 jälkeen CERF on saanut merkittävää tukea eri jäsenvaltioilta. Vuosina 2006–2023 rahasto on vastaanottanut huomattavia lahjoituksia humanitaarisen avun johtavilta mailta. Iso-Britannia on suurin lahjoittaja yhteensä 1,8 miljardin dollarin lahjoituksillaan, seuraavina ovat Ruotsi ja Alankomaat, kummankin lahjoitusten ollessa 1,2 miljardia dollaria. Saksa lahjoitti 1,1 miljardia dollaria ja Norja 983,9 miljoonaa dollaria, osoittaen vahvaa sitoutumista globaaleihin humanitaarisiin ponnisteluihin.   
                    </p>
                   
                </div>
                <div class="row reportdetails">
                    <h4 class="chartheading">Lahjoitukset vuonna 2023</h4>
                    <p class="lines">
                        Keskitettynä vuoteen 2023 Saksa nousee suurimmaksi lahjoittajaksi vaikuttavalla 106,5 miljoonan dollarin lahjoituksella. Alankomaat seuraa merkittävällä 71,8 miljoonan dollarin summalla. Iso-Britannia, pitäen yllä historiallista asemaansa merkittävänä lahjoittajana, on lahjoittanut 64,0 miljoonaa dollaria. Ruotsi 63,3 miljoonalla dollarilla ja Norja 43,1 miljoonalla dollarilla ovat myös suurten lahjoittajien joukossa, vahvistaen asemiaan humanitaarisen tuen avainpelaajina.  
                    </p>
                </div>

                <div class="row reportdetails">
                    <h4 class="chartheading">Vuoden 2023 suurimpien lahjoittajien analyysi</h4>
                    <p class="lines">
                        Vuoden 2023 tiedot viittaavat strategiseen yhteistyöhön eurooppalaisten kansakuntien välillä, Saksan johtaessa listaa, tiiviisti seurattuna Alankomaista, Iso-Britanniasta, Ruotsista ja Norjasta. Lahjoitukset heijastavat näiden maiden jatkuvia ja koordinoituja ponnisteluja hätätilanteiden haasteisiin vastaamiseksi ympäri maailmaa.  
                    </p>
                </div>

                <div class="row reportdetails">
                    <h4 class="chartheading">Norjan lahjoitus ja globaali vaikutus</h4>
                    <p class="lines">
                        Norjan lahjoitukset, jotka lähestyvät yhteensä 1 miljardia dollaria vuodesta 2006 ja 43,1 miljoonaa dollaria vuonna 2023, korostavat maan sitoutumista ylläpitämään globaaleja humanitaarisia arvoja. Norjan varat ovat olleet ratkaisevia välittömien toimenpiteiden mahdollistamisessa, alirahoitettujen hätätilanteiden tukemisessa ja avun tarjoamisessa ennakoimattomien katastrofien jälkeen. Norjan strateginen keskittyminen CERF:n rahoittamiseen osoittaa ymmärrystä hyvin resursoitua hätävastausmekanismia kohtaan, jotta varmistetaan, ettei kukaan jää ilman apua kriisin iskiessä.  
                    </p>
                </div>

                              
            </div>
            
        </div>
    </section>

    <div class="container">
        <div class="chart">
            <div class="chart-container">
                <!-- <h2>Top 3 Organizations Donation Distribution</h2> -->
                <canvas id="donationPieChart"></canvas>
            </div>
    
            <div class="explanation">
                <h4 class="chartheading">Paras lahjoittaja 2023 (USD)</h4>
                <ul>
                    <li class="lines"><strong class="chartheading">Germany:</strong> USD 106.5 M</li>
                    <li class="lines"><strong class="chartheading">Netherlands:</strong> USD 71.8 M</li>
                    <li class="lines"><strong class="chartheading">United Kingdom:</strong> USD 63.3 M</li>
                    <li class="lines"><strong class="chartheading">Sweden:</strong> USD 63.3 M</li>
                    <li class="lines"><strong class="chartheading">Norway:</strong> USD 43.1 M</li>
                </ul>
            </div>
        </div>  
    </div>

    <section>
        <div class="remainingcontent">
            <div class="row reportdetails">
                <h4 class="chartheading">Maantieteellinen ja hätätilanteisiin liittyvä vaikutus</h4>
                <p class="lines">
                    CERF:n jakamat varat on jaettu globaalisti, käsitellen alirahoitettuja kriisejä pääasiassa Afrikassa, Aasiassa ja Latinalaisessa Amerikassa. Esimerkiksi CERF:n rahoitus on ollut ratkaisevaa nopeassa vastauksessa Etelä-Sudanin nälänhätään, Indonesian maanjäristykseen ja jatkuvaan Syyrian kriisiin. Kaavio ei anna yksityiskohtia vuoden 2023 varojen maantieteellisestä jakautumisesta, mutta historiallisesti CERF on varmistanut, että apu saavuttaa eri alueet perustuen hätätilanteiden kiireellisyyteen ja laajuuteen.
                </p>
            </div>
            <div class="row reportdetails">
                <h4 class="chartheading">Yhteenveto</h4>
                <p class="lines">
                    YK:n keskusapuvarasto pysyy olennaisena välineenä globaalissa humanitaarisessa vastausarkkitehtuurissa, kiitos vakaan tuen sen suurilta lahjoittajilta. Tiedot vuosilta 2006–2023, yksityiskohtaisesti keskittyen vuoden 2023 lahjoituksiin, esimerkillistävät kansainvälisen yhteisön kollektiivista sitoutumista, jota johtavat maat kuten Saksa, Alankomaat, Iso-Britannia, Ruotsi ja erityisesti Norja. Nämä lahjoitukset eivät ainoastaan tarjoa välitöntä apua, vaan myös edistävät koordinoidumpaa ja tehokkaampaa globaalia hätävastejärjestelmää. 
                </p>
            </div>
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sivustollamme käytämme evästeitä käyttökokemuksen parantamiseen, verkkosivuston optimointiin ja markkinointiin.
                    Suostumalla hyväksyt, miten käytämme evästeitä.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Hyväksy</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hylkää</button>
                <button type="button" class="btn" id="customizeBtn">Mukauta evästeitä</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Välttämättömät evästeet – ei voi poistaa käytöstä</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Välttämättömät evästeet ovat tarpeen perustoimintojen, kuten sivuston navigoinnin ja pääsyn 
                        suojattuihin osiin verkkosivulla. Verkkosivusto ei voi toimia tyydyttävästi ilman näitä evästeitä.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markkinointi</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Tämä eväste auttaa meitä löytämään käyttäjiä, jotka ovat kiinnostuneita tiedoista eri aiheista, 
                        jotta voimme tarjota sinulle relevantteja mainoksia.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Tallenna muutokset ja sulje</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lue lisää</button>
            </div>
        </div>
    </div>

    
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Seuraa meitä</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Tilaa uutiskirjeemme</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Sinun sähköposti" required>
                        <button type="submit" class="irsubscription" data-language="English">Tilaa</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Ota yhteyttä</h4>
                    <p><i class="fas fa-envelope"></i> Sähköposti: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Puhelin: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Dummy data for pie chart
            // var pieChartData = [45, 20, 15, 15, 10 ];
            var pieChartData = [106.5 , 71.8, 64.0, 63.3, 43.1 ];

            // Dummy data for explanation
            var explanationData = [
                'Germany: Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                'Organization B: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
                'Organization C: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
            ];

            // Pie chart
            var pieCtx = document.getElementById('donationPieChart').getContext('2d');
            var pieChart = new Chart(pieCtx, {
                type: 'pie',
                data: {
                    labels: ['Germany', 'Netherlands', 'United Kingdom','Sweden','Norway'],
                    datasets: [{
                        data: pieChartData,
                        backgroundColor: [
                            //'rgba(144, 238, 144, 0.7)',   // Light reeen

                            //'rgba(173, 216, 230, 0.7)',   // Light Blue

                            //'rgba(50, 205, 50, 0.7)',  // Medium green

                            //'rgba(70, 130, 180, 0.7)',   // Medium Blue

                            //'rgba(0, 128, 0, 0.7)',   // Dark Green
                            
                            //'rgba(0, 0, 128, 0.7)'       // Dark Blue

                            

                            'rgba(135, 206, 250, 0.7)',   // Sky Blue

                            'rgba(255, 165, 0, 0.7)',     // Orange

                            'rgba(255, 69, 0, 0.7)',      // Red-Orange

                            'rgba(255, 192, 203, 0.7)',   // Pink

                            'rgba(128, 0, 128, 0.7)'      // Purple
                        ]
                    }]
                }
            });

            // Explanation
            // var explanationContainer = document.querySelector('.explanation ul');
            // explanationData.forEach(function (item) {
            //     var li = document.createElement('li');
            //     li.innerHTML = item;
            //     explanationContainer.appendChild(li);
            // });
        });
    </script>
    <script src="../../public/js/header.js"></script>
</body>
</html>
