<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - updates</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/news.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Hitta din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Vanliga frågor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakta oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelska</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="index.html">Svenska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finska</a>
                                <a class="dropdown-item" href="../is/index.html">Isländska</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container newscontainer">
        
        <h3 class="newsheading">
            De allvarliga konsekvenserna av att stoppa livsmedelshjälp i Tchad: En pågående humanitär kris. 
        </h3>
        <div class="row">
            <div class="col-6">
                <div class="introduction">
                    <p>
                        Den nyligen offentliggjorda beslutet av Världens livsmedelsprogram (WFP) att avbryta livsmedelshjälpen till 1,4 miljoner människor i Tchad, inklusive flyktingar från Darfur, är en oroande utveckling. Detta beslut, drivet av den eskalerande globala efterfrågan på humanitär hjälp och otillräcklig finansiering, kan få omfattande och förödande konsekvenser. 
                    </p>
                </div>

                <div class="firstpart">
                    <h5>
                        Den omedelbara humanitära påverkan:  
                    </h5>
                    <p>
                        Den omedelbara effekten av att avbryta livsmedelshjälpen skulle vara en drastisk ökning av hunger och undernäring. Tchad, som redan kämpar med livsmedelsosäkerhet på grund av faktorer som klimatförändringar och politisk instabilitet, kommer att uppleva en ökning av allvarlig undernäring, särskilt bland barn och sårbara grupper. Avbrottet i hjälpen kan också förvärra befintliga hälsoproblem och leda till en högre dödsfrekvens. 
                    </p>
                </div>
                
            </div>
            <div class="col-6 imagediv">
                <img src="../../img/chadfood.png" alt="">
            </div>
            
        </div>
        <div class="row">
            <div class="firstpart">
                <h5>
                    Sociala och politiska konsekvenser:  
                </h5>
                <p>
                    Livsmedelsbrist är känd för att vara en katalysator för social oro. Avbrottet i WFP-hjälp kan leda till ökad spänning både inom samhällen och gentemot flyktingar. Det kan potentiellt leda till en ökning av brottsligheten, eftersom desperata individer tar till extrema åtgärder för att försörja sig själva och sina familjer. Dessutom kan det försämra redan sköra relationer med grannländer, eftersom människor kan korsa gränserna i sökandet efter mat och skydd. 
                </p>
            </div>
        </div>
        <div class="row">
            
            <h5>
                Påverkan på utbildning och barns utveckling:  
            </h5>
            <p>
                Hunger har ett direkt samband med utbildningsresultat. Barn som är undernärda har svårt att koncentrera sig och är mer benägna att missa skolan eller sluta helt. Avbrottet i livsmedelshjälpen kommer att hämma deras kognitiva utveckling och upprätthålla fattigdomscykeln. 
            </p>
            
        </div>
        <div class="row">
            <h5>
                Långsiktiga ekonomiska konsekvenser:  
            </h5>
            <p>
                Avbrott i livsmedelshjälp är inte bara en kortsiktig kris utan också en långsiktig ekonomisk utmaning. En undernärd befolkning är mindre produktiv, vilket påverkar Tchads redan sköra ekonomi. De långsiktiga kostnaderna för att hantera de följande hälsoproblemen och förlusten av mänskligt kapital kan långt överstiga kostnaden för att fortsätta hjälpen. 
            </p>            
        </div>
        <div class="row">
            <h5>
                Internationella konsekvenser:  
            </h5>
            <p>
                Situationen i Tchad kan fungera som en indikation för andra regioner som står inför liknande utmaningar. Den internationella gemenskapen måste erkänna det brådskande behovet av kontinuerlig humanitär insats. Att inte stödja länder som Tchad kan leda till större global instabilitet. 
            </p>
           
           <p>
            Beslutet från WFP, även om det återspeglar bredare utmaningar, är en påminnelse om sårbarheten för livsmedelssäkerheten i regioner som Tchad. Det understryker behovet av att den internationella gemenskapen omprövar sitt åtagande för humanitär hjälp. Kostnaderna för att inte agera är enorma, inte bara i form av mänskliga liv utan även när det gäller att upprätthålla fattigdom och instabilitet. Denna situation kräver omedelbar uppmärksamhet och åtgärder för att förhindra en humanitär katastrof i Tchad och bortom det. 
           </p>
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                    Genom att samtycka accepterar du hur vi använder cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nödvändiga cookies – kan inte stängas av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                        få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                        tillfredsställande utan dessa cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marknadsföring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                        olika ämnen, så att vi kan ge dig relevanta annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Följ oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Prenumerera på vårt nyhetsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Prenumerera</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakta oss</h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- core  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/home.js"></script>

    <script src="../../public/js/header.js"></script>
    
</body>
</html>