<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - FAQ</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/faq.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Hitta din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="faq.html">Vanliga frågor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakta oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelska</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="index.html">Svenska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finska</a>
                                <a class="dropdown-item" href="../is/index.html">Isländska</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container faqcontainer mt-5">
        <h1 class="text-center mb-4">Vanliga frågor</h1>

        <input type="text" id="faqSearch" placeholder="Sök efter en fråga...">
        
        <div class="accordion" id="faqAccordion">
            <!-- FAQ Item 1 -->
            <div class="card">
                <div class="card-header" id="faqHeading1">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                            <i class="fas fa-chevron-down"></i>  Vad är Instaraising?
                        </button>
                    </h2>
                </div>
    
                <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising är en digital plattform utformad för att koppla samman välgörenhetsdonatorer med välgörenhetsorganisationer globalt. Vårt uppdrag är att underlätta effektivt givande och göra ett betydande avtryck i minskningen av global extrem fattigdom. 
                    </div>
                </div>
            </div>
    
            <!-- FAQ Item 2 -->
            <div class="card">
                <div class="card-header" id="faqHeading2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                            <i class="fas fa-chevron-down"></i>  Hur fungerar Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising låter donatorer upptäcka och ansluta sig till olika välgörenhetsorganisationer och orsaker. Donatorer kan direkt finansiera projekt eller orsaker som de bryr sig om och organisationer kan visa upp sina initiativ och få stöd genom vår officiella webbplats. 
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="card-header" id="faqHeading3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                            <i class="fas fa-chevron-down"></i>  Vilka orsaker stöder Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi stöder ett brett spektrum av orsaker inklusive krishantering, humanitärt bistånd, utbildning, hälsovård, samhällsutveckling, barns välfärd, mänskliga rättigheter, miljöbevarande och många fler. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                            <i class="fas fa-chevron-down"></i>  Hur skiljer sig Instaraising från andra välgörenhetsplattformar?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising är unikt i sitt åtagande att minska extrem fattigdom med minst 5% globalt. Vår plattform är utformad för transparens, användarvänlighet och för att maximera effekten av varje donation. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading5">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                            <i class="fas fa-chevron-down"></i>  Är Instaraising en ideell organisation?
                    </h2>
                </div>
                <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Nej, Instaraising fungerar som en samhällsutvecklingsorganisation under Peach Group. Vårt huvudsakliga mål är social påverkan snarare än vinst. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading6">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
                            <i class="fas fa-chevron-down"></i>  Hur kan jag donera genom Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse6" class="collapse" aria-labelledby="faqHeading6" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        För att donera, skapa bara ett konto, bläddra igenom listan över orsaker eller organisationer och välj var du vill bidra. Vår plattform tillhandahåller en säker och enkel process för att göra donationer. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading7">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse7">
                            <i class="fas fa-chevron-down"></i> Kan välgörenhetsorganisationer samarbeta med Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse7" class="collapse" aria-labelledby="faqHeading7" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Absolut. Välgörenhetsorganisationer kan ansöka om att listas på vår plattform. När de har blivit granskade och godkända kan de börja ta emot donationer och stöd från vårt globala gemenskap av donatorer. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading8">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse8">
                            <i class="fas fa-chevron-down"></i>  Hur säkerställer Instaraising legitimiteten hos organisationerna på sin plattform?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse8" class="collapse" aria-labelledby="faqHeading8" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi genomför en grundlig granskningsprocess för varje organisation. Detta inkluderar att verifiera deras juridiska status, uppdrag, finansiell transparens och spårrekord av påverkan. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading9">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse9" aria-expanded="false" aria-controls="faqCollapse9">
                            <i class="fas fa-chevron-down"></i>  Är donationer genom Instaraising skatteavdragsgilla?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse9" class="collapse" aria-labelledby="faqHeading9" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Donationer som görs genom Instaraising kan vara skatteavdragsgilla beroende på ditt lands skattelagar. Vi råder att konsultera med en skatteexpert för korrekt information. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading10">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse10" aria-expanded="false" aria-controls="faqCollapse10">
                            <i class="fas fa-chevron-down"></i>  Hur kan jag kontakta Instaraising för fler frågor eller partnerskap?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse10" class="collapse" aria-labelledby="faqHeading10" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        För fler förfrågningar eller för att diskutera partnerskapsmöjligheter, vänligen kontakta oss på info@instaraising.com eller besök vår "Kontakta Oss"-sida på vår webbplats. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading11">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse11" aria-expanded="false" aria-controls="faqCollapse11">
                            <i class="fas fa-chevron-down"></i>  Vad är visionen bakom Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse11" class="collapse" aria-labelledby="faqHeading11" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising grundades med visionen att skapa ett mer sammanlänkat och inverkansrikt välgörenhetsekosystem. Vårt mål är att utnyttja kraften i digital innovation för att underlätta meningsfull förändring och ge både donatorer och organisationer möjligheten att effektivt bidra till global välfärd. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading12">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse12" aria-expanded="false" aria-controls="faqCollapse12">
                            <i class="fas fa-chevron-down"></i>   Vem kan dra nytta av Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse12" class="collapse" aria-labelledby="faqHeading12" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising tjänar två huvudgrupper: individuella och institutionella donatorer som vill bidra till pålitliga orsaker och verifierade välgörenhetsorganisationer som söker stöd för sina initiativ. Vår plattform är utformad för att tillgodose alla som önskar göra en positiv inverkan.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading13">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse13" aria-expanded="false" aria-controls="faqCollapse13">
                            <i class="fas fa-chevron-down"></i>  Hur säkerställer Instaraising transparens och förtroende? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse13" class="collapse" aria-labelledby="faqHeading13" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi prioriterar transparens genom att tillhandahålla detaljerad information om varje välgörenhetsorganisation, deras projekt och användning av medel. Regelbundna uppdateringar och effektrapporter delas med donatorer. Dessutom följer vår plattform strikta säkerhetsprotokoll för att säkerställa säkra och transparenta transaktioner. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading14">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse14" aria-expanded="false" aria-controls="faqCollapse14">
                            <i class="fas fa-chevron-down"></i>  Hur kan jag spåra effekten av min donation på Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse14" class="collapse" aria-labelledby="faqHeading14" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Donatorer får regelbundna uppdateringar och effektrapporter relaterade till de projekt de stöder. Dessa rapporter innehåller detaljer om framsteg, prestationer och verklig världspåverkan av deras bidrag. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading15">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse15" aria-expanded="false" aria-controls="faqCollapse15">
                            <i class="fas fa-chevron-down"></i>   Kan jag frivilligt eller erbjuda icke-monetärt stöd genom Instaraising? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse15" class="collapse" aria-labelledby="faqHeading15" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, förutom monetära donationer planerar Instaraising att underlätta volontärmöjligheter och andra former av icke-monetärt stöd. Denna funktion kommer att utvecklas för att möjliggöra för användare att engagera sig i välgörenhetsorsaker på mångfaldiga sätt. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading16">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse16" aria-expanded="false" aria-controls="faqCollapse16">
                            <i class="fas fa-chevron-down"></i>   Vilka åtgärder vidtar Instaraising för att skydda personlig och finansiell information? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse16" class="collapse" aria-labelledby="faqHeading16" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi använder avancerade säkerhetsåtgärder, inklusive kryptering och säkra serveranslutningar, för att skydda din personliga och finansiella information. Integritet och datasäkerhet är av yttersta vikt i alla våra verksamheter. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading17">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse17" aria-expanded="false" aria-controls="faqCollapse17">
                            <i class="fas fa-chevron-down"></i>  Hur väljer och kategoriserar Instaraising de orsaker som den stöder?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse17" class="collapse" aria-labelledby="faqHeading17" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Orsaker väljs utifrån brådskande globala behov och hållbara utvecklingsmål. Vi kategoriserar dem i olika sektorer såsom utbildning, hälsa, mänskliga rättigheter, etc., för att underlätta enkel navigering för donatorer. 
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="faqHeading18">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse18" aria-expanded="false" aria-controls="faqCollapse18">
                            <i class="fas fa-chevron-down"></i> Samarbetar Instaraising med företag för CSR-initiativ? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse18" class="collapse" aria-labelledby="faqHeading18" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, vi samarbetar aktivt med företag för deras initiativ inom företagens sociala ansvar (CSR). Vår plattform kan hjälpa företag att identifiera finansiering och spåra sociala projekt som är i linje med deras CSR-mål. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading19">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse19" aria-expanded="false" aria-controls="faqCollapse19">
                            <i class="fas fa-chevron-down"></i>  Hur kan jag hålla mig uppdaterad om Instaraisings aktiviteter och inverkanshistorier?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse19" class="collapse" aria-labelledby="faqHeading19" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi uppmuntrar dig att följa oss på våra sociala mediekanaler och prenumerera på våra nyhetsbrev för regelbundna uppdateringar, inverkanshistorier och insikter i våra aktiviteter.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading20">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse20" aria-expanded="false" aria-controls="faqCollapse20">
                            <i class="fas fa-chevron-down"></i>  Hur kan jag ge feedback eller förslag för att förbättra Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse20" class="collapse" aria-labelledby="faqHeading20" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi värderar din feedback och förslag. Tveka inte att kontakta oss via vårt webbplats kontaktformulär eller direkt på info@instaraising.com. Ditt bidrag är väsentligt för vår kontinuerliga förbättring. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading21">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse21" aria-expanded="false" aria-controls="faqCollapse21">
                            <i class="fas fa-chevron-down"></i>  Hur säkerställer Instaraising att min donation används som avsett?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse21" class="collapse" aria-labelledby="faqHeading21" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi upprätthåller strikt tillsyn över fondanvändningen. Varje organisation på vår plattform måste tillhandahålla detaljerade planer för hur donationer kommer att användas och de måste lämna regelbundna rapporter om fondfördelning och projektframsteg. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading22">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse22" aria-expanded="false" aria-controls="faqCollapse22">
                            <i class="fas fa-chevron-down"></i>   Vilken typ av finansiell transparens erbjuder Instaraising till sina donatorer?                       
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse22" class="collapse" aria-labelledby="faqHeading22" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Finansiell transparens är en hörnsten i vår verksamhet. Vi ger donatorer tillgång till finansiella rapporter inklusive uppdelningar av hur medel fördelas och används av de välgörande organisationerna. Detta säkerställer att donatorer kan se den direkta effekten av deras bidrag. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading23">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse23" aria-expanded="false" aria-controls="faqCollapse23">
                            <i class="fas fa-chevron-down"></i>  Hur kan jag verifiera äktheten hos välgörenhetsorganisationer på Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse23" class="collapse" aria-labelledby="faqHeading23" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi genomför en omfattande granskningsprocess för varje organisation på vår plattform. Detta inkluderar att verifiera deras juridiska status, finansiella hälsa, operativa historia och påverkansspår. Endast organisationer som uppfyller våra strikta kriterier listas. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading24">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse24" aria-expanded="false" aria-controls="faqCollapse24">
                            <i class="fas fa-chevron-down"></i>  Dras det administrativa avgifter från donationer på Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse24" class="collapse" aria-labelledby="faqHeading24" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        i strävar efter att maximera effekten av dina donationer. Även om det finns minimala administrativa avgifter för drift av plattformen, säkerställer vi transparens om dessa avgifter och en betydande majoritet av varje donation stöder direkt den valda orsaken. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading25">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse25" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  Hur ofta uppdaterar Instaraising donatorer om framstegen för finansierade projekt?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse25" class="collapse" aria-labelledby="faqHeading25" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Donatorer får regelbundna uppdateringar om de projekt de stöder. Dessa uppdateringar, som vanligtvis ges på kvartalsbasis, inkluderar framstegsrapporter, nyliga utvecklingar och framtidsplaner. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading26">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse26" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  Kan donatorer välja hur deras donationer används inom ett specifikt projekt eller organisation?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse26" class="collapse" aria-labelledby="faqHeading26" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, donatorer har flexibiliteten att specificera hur de vill att deras donation ska användas. Organisationer på vår plattform beskriver olika behov och projekt, vilket gör det möjligt för donatorer att bidra till områden de är mest passionerade om. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading27">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse27" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i> Tillhandahåller Instaraising kvitton för donationer för skatteändamål?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse27" class="collapse" aria-labelledby="faqHeading27" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, vi tillhandahåller kvitton för donationer som kan användas för skatteavdrag. Skatteförmånen beror dock på donatorns bostadsland och dess specifika skattelagar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading28">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse28" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  I händelse av en tvist eller oro om en donation, hur hanterar Instaraising det? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse28" class="collapse" aria-labelledby="faqHeading28" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi tar alla bekymmer eller tvister gällande donationer mycket allvarligt. Donatorer kan kontakta vårt supportteam direkt med eventuella problem, och vi säkerställer en grundlig och snabb lösning. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading29">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse29" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  Kan jag spåra den långsiktiga effekten av min donation på Instaraising-plattformen? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse29" class="collapse" aria-labelledby="faqHeading29" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Absolut. Vi uppmuntrar till spårning av långsiktig påverkan och tillhandahåller årliga effektrapporter som illustrerar den bestående effekten av dina donationer på olika projekt och orsaker. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading30">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse30" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  Hur hanterar Instaraising återbetalningar eller fel i doneringsprocessen?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse30" class="collapse" aria-labelledby="faqHeading30" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        I händelse av fel i doneringsprocessen eller om en återbetalning begärs, är vårt supportteam tillgängligt för att hjälpa till. Vi har en tydlig policy på plats för att hantera sådana situationer för att säkerställa donatorernas tillfredsställelse och förtroende. 
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                    Genom att samtycka accepterar du hur vi använder cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nödvändiga cookies – kan inte stängas av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                        få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                        tillfredsställande utan dessa cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marknadsföring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                        olika ämnen, så att vi kan ge dig relevanta annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Följ oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Prenumerera på vårt nyhetsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Prenumerera</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakta oss</h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/faq.js"></script>
   
</body>
</html>