<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Hem</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
   
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Hitta din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Vanliga frågor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakta oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelska</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="index.html">Svenska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finska</a>
                                <a class="dropdown-item" href="../is/index.html">Isländska</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">Tyska</a>
                                <a class="dropdown-item" href="../fr/index.html">Franska</a>
                                <a class="dropdown-item" href="../es/index.html">Spanska</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid video-background">
        <!-- <video autoplay loop muted id="background-video">
            <source src="../../video/donation.mp4" type="video/mp4">
        </video> -->
        <div class="content-wrapper d-flex justify-content-center align-items-center">
            <div class="mb-4 text-center">
                <h1 class="mainheading">Stöd din hjärtefråga på ett snabbare, smartare och mer intuitivt sätt.</h1>
                <p class="text">
                    Vill du göra skillnad men är osäker på var du ska börja? 
                    <br>
                    Prova vårt unika insamlingsportal et för att hitta din ideala välgörenhetsorganisation.
                </p>
                <p class="mb-0 mt-5"><a href="search.html" class="btn lead">Hitta din match</a></p>
            </div>
        </div>
    </div>

    <section class="boxsection">
        <div class="container boxcontainer">
            <div class="row mx-auto">
                <div class="col-md-3 mb-2 mt-2 col-sm-6 column part part1 svpart1">
                    <i class="fas fa-envelope"></i>
                    <div class="newsletter-section">
                        <h5> Nyhetsbrev & Uppdateringar </h5>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mt-2 col-sm-6 column part part2 partnerssv">
                    <i class="fas fa-handshake"></i>
                    <div class="newsletter-section">
                        <h5>Partnerer & Donatore</h5>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mt-2 col-sm-6 column part part3 projectssv">
                    <i class="fas fa-tasks"></i>
                    <div class="newsletter-section">
                        <h5>Projekt & Program</h5>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mt-2 col-sm-6 column part part4 reportsv">
                    <i class="fas fa-chart-bar"></i>
                    <div class="newsletter-section">
                        <h5>Statistik & Rapporter</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

    <section class="testimonial-section">
        <h4 class="aimsHead">Hör från vårt samfund</h4>
        <div class="testimonial-container">
            
            <div class="testimonial">
                <img src="../../img/testimonial.png" alt="Client 1">
                <h3>John Doe</h3>
                <p>"Working with this team was an amazing experience. They delivered beyond my expectations."</p>
            </div>
            <div class="testimonial">
                <img src="../../img/testimonial.png" alt="Client 2">
                <h3>Jane Smith</h3>
                <p>"I'm impressed with the professionalism and quality of service. Highly recommend them!"</p>
            </div>
            <div class="testimonial">
                <img src="../../img/testimonial.png" alt="Client 3">
                <h3>Michael Johnson</h3>
                <p>"These guys truly understand our needs and delivered results that helped our business grow."</p>
            </div>
        </div>
    </section>

    <div class="container becomepartner mb-5">
        <p class="partnertext">Våra officiella partners inspirerar oss. Visa dina projekt på vår webbplats för direkt stöd från donatorer. <a href="contactus.html">BLI OFFICIELL PARTNER</a> </p>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                    Genom att samtycka accepterar du hur vi använder cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nödvändiga cookies – kan inte stängas av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                        få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                        tillfredsställande utan dessa cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marknadsföring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                        olika ämnen, så att vi kan ge dig relevanta annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Följ oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Prenumerera på vårt nyhetsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Prenumerera</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakta oss</h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- core  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/home.js"></script>
    
    <script src="../../public/js/MessageSystem.js"></script>

    <script>
        $(document).ready(function() {
            sessionStorage.setItem('selectedLanguage', 'sv');
        });
    </script>

    <script src="../../public/js/header.js"></script>
</body>
</html>