<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Our partners and donors</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/partners.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Hitta din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Vanliga frågor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakta oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelska</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="index.html">Svenska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finska</a>
                                <a class="dropdown-item" href="../is/index.html">Isländska</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="partnerheading">
        <div class="content-text-left">
            <div class="container introduction">
                <h1 class="mainheading">Våra partners</h1>
                <p class="linetext"> 
                    Instaraising är en innovativ onlineplattform som kommer att förändra sättet givare engagerar sig och hur de kan stödja ett brett spektrum av välgörenhetsorganisationer. Som en ny tjänst kommer Instaraising att erbjuda unika fördelar för både välgörenhetsorganisationer och givare

                </p>
            </div>
        </div>
        <div class="content-text-right">
            <img src="../../img/partners.png" width="100%" alt="">
        </div>
    </section>

    <section class="instaraising-section">
        <div class="container benifitcontainer">
            <!-- <h2 class="benifitmainheading">Instaraising (Launching Soon)</h2> -->
            
            <div class="benefits mt-5">
                <div class="benefit-item">
                    <h3 class="benifitsubheading">Utvidga räckvidden för välgörenhetsorganisationer</h3>
                    <p class="linetext">
                        Instaraising syftar till att ge välgörenhetsorganisationer tillgång till en mångfaldig och växande bas av potentiella givare. Detta kommer att vara särskilt fördelaktigt för olika ändamål som miljöskydd, utbildning och hälsoinitiativ.
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Förenkla donationserfarenheten</h3>
                    <p class="linetext">
                        Instaraising är utformat för att erbjuda en sömlös och säker donationsprocess, vilket uppmuntrar givare att enkelt stödja flera välgörenhetsorganisationer. Denna användarvänliga strategi förväntas stärka givares engagemang och bidrag.
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Säkra förtroende och trovärdighet</h3>
                    <p class="linetext">
                        Plattformen består av en noggrant granskad lista av välgörenhetsorganisationer, så att givare kan vara säkra på att deras bidrag går till respekterade och effektiva stiftelser. Denna utvärderingsprocess syftar till att bygga givares förtroende för både plattformen och organisationerna.
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Personlig sökning efter välgörenhetsorganisationer</h3>
                    <p class="linetext">
                        Instaraising siktar på att använda avancerad teknologi för att rekommendera välgörenhetsorganisationer som överensstämmer med individuella givares preferenser och tidigare givarhistorik. Denna personliga strategi förväntas hjälpa givare att utforska och stödja en mängd orsaker.
                    </p>
                </div>
            </div>

            <p class="anticipated-text">
                 Instaraising väcker stort intresse bland välgörenhetsorganisationer, eftersom tjänsten kommer att förbättra hur insamling görs, utöka givares engagemang och öka effektiviteten av välgörenhetsinitiativ inom olika områden. Plattformen förväntas vara en banbrytande brobyggare mellan givare och en mångfald av välgörenhetsorsaker.
            </p>
        </div>
    </section>

    <section class="donorheading">
        <div class="content-text-left">
            <img src="../../img/our donors.png" width="100%" alt="">  
        </div>
        <div class="content-text-right">
            <div class="container introduction">
                <h1 class="mainheading">Våra givare</h1>
                <p class="linetext">
                    Vi ser fram emot att knyta an till våra givare. Deras stöd är grunden för vår förmåga att göra skillnad.
                </p>
            </div>
            
        </div>
    </section>

    <section class="donorsdetails mt-5">
        <div class="leftdonordetails">
            <div class="container donorleftcontainer">
                <h2 class="donorleftheading">Påverkan från givare</h2>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Skapa förändring</h3>
                        <p class="linetext">
                            Varje donation, stor eller liten, spelar en kritisk roll i att driva våra initiativ framåt. Ditt stöd ger oss energi att ta itu med utmaningar och skapa varaktig förändring i de samhällen vi hjälper.
                        </p>
                </div>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Finansiera projekt och program</h3>
                        <p class="linetext">
                            Bidrag från givare som dig är avgörande för finansieringen av våra olika projekt och program. Från att tillhandahålla utbildningsresurser till att säkerställa tillgång till hälsovård, din generositet gör allt detta möjligt.
                        </p>
                </div>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Utöka vår räckvidd</h3>
                        <p class="linetext">
                            Med ditt stöd kan vi utöka våra tjänster för att inkludera fler människor och hjälpa de som behöver det mest. Din donation hjälper oss att skala upp vårt arbete och öka vår påverkan.
                        </p>
                </div>
            </div>
            
        </div>
        <div class="rightdonordetails">
            <div class="container rightdonorcontainer">
                <h2 class="donorleftheading">Redo att göra skillnad?</h2>
            <div class="row donor-items">
                <p class="linetext">
                    Med Instaraising kommer du att ha möjlighet att bli en del av ett community av medkännande individer dedikerade till att skapa positiv påverkan. Dina donationer kommer att enkelt förmedlas genom plattformen och koppla dig till organisationer som arbetar med det du brinner för med enkelhet och öppenhet.
                </p>
            </div>
            <div class="row donor-items">
                <p class="linetext">
                    Prenumerera på vårt nyhetsbrev och följ oss på sociala medier för att få regelbundna uppdateringar om viktiga frågor och vad som görs.
                </p>
            </div>
            </div>
            
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                    Genom att samtycka accepterar du hur vi använder cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nödvändiga cookies – kan inte stängas av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                        få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                        tillfredsställande utan dessa cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marknadsföring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                        olika ämnen, så att vi kan ge dig relevanta annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Följ oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Prenumerera på vårt nyhetsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Prenumerera</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakta oss</h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../public/js/header.js"></script>
</body>
</html>