<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Privacy</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="#"></i>Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Hitta din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Vanliga frågor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contactus.html">Kontakta oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelska</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="index.html">Svenska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finska</a>
                                <a class="dropdown-item" href="../is/index.html">Isländska</a>
                               
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container privacycontainer">
            <div class="content">
                <h1 class="mainheading mt-5">Dataskyddsdeklaration</h1>
            </div>
            <div class="content">
                <p>
                    <ol>
                        <li>INSAMLING AV PERSONUPPGIFTER</li>
                        <li>DINA RÄTTIGHETER</li>
                        <li>INSAMLING AV PERSONUPPGIFTER FRÅN VÅRA WEBBPLATSBEÖKARE</li>
                        <li>ANDRA FUNKTIONER OCH ERBJUDANDEN PÅ VÅR WEBBPLATS</li>
                        <li>INVÄNDNING MOT DATAPROCESSERING ELLER ÅTERKALLAN AV DINA UPPGIFTER FRÅN BEHANDLING</li>
                        <li>ONLINE EVENEMANGSREGISTRERING</li>
                    </ol> 
                </p>
            </div>
            <div class="content">
                <h2>1. INSAMLING AV PERSONUPPGIFTER</h2>
                <p class="mb-2">
                    (1) Denna dataskyddsdeklaration förklarar hur och vilka personuppgifter vi samlar in från dig genom vår webbplats. Personuppgifter 
                    innebär alla uppgifter som kan relateras till dig personligen, såsom ditt namn, adress, e-postadress(er) och användarbeteende. 
                </p>
                <p class="mb-2">
                    (2) Personuppgiftsansvarig enligt artikel 4 punkt 7 i EU:s allmänna dataskyddsförordning (GDPR) är
                </p>
                <div class="contact-info">
                    <p class="company-name">PEACH GROUP AS</p>
                    <p>Stangslia 5</p>
                    <p>3179 Åsgårdsstrand</p>
                    <p>Tel.: +47 46 31 18 65</p>
                    <p>Email: <a href="mailto:finncato@peachgroup.no">finncato@peachgroup.no</a></p>
                </div>
                <p>Dataskyddsombud: Martin Hoel</p>
                <p class="mb-2">
                    Du kan kontakta vårt dataskyddsombud på  <a href="mailto:ir-contact@instaraising.com" class="linkpages">ir-contact@instaraising.com</a>  
                    eller på vår postadress genom att lägga till "GDPR".
                </p>
                <p class="mb-2">
                    (3) Varje gång du kontaktar oss via e-post eller genom ett kontaktformulär sparar vi de uppgifter som du har lämnat (din e-postadress, 
                    eventuellt ditt namn och telefonnummer) för att kunna ge svar på dina frågor. Vi raderar de uppgifter som samlas in i detta sammanhang när 
                    dess lagring inte längre är nödvändig, eller vi begränsar dess behandling om den omfattas av lagliga skyldigheter att behålla data.
                </p>
                <p class="mb-2">
                    (4) Om vi involverar kontrakterade tredjepartsleverantörer för att stödja enskilda funktioner i vårt erbjudande eller om vi vill 
                    använda dina data för reklam, beskrivs de relevanta tillämpliga förfarandena i detalj nedan. Nedan beskriver vi också de fastställda 
                    kriterierna för varaktigheten av datalagringsperioden.
                </p>
                <p class="mb-2">
                    (5) De data som behandlas av oss raderas eller deras behandling begränsas enligt artiklarna 17 och 18 i GDPR. Om inte annat uttryckligen anges i 
                    denna dataskyddsdeklaration raderas de data som lagras av oss så snart de inte längre behövs för sitt avsedda ändamål och inga lagliga skyldigheter 
                    att behålla data förhindrar deras radering. Begränsningar läggs på behandlingen av data som inte har raderats eftersom de krävs för andra lagligt 
                    tillåtna ändamål. Med andra ord blockeras sådana data och är inte tillgängliga för behandling för något annat ändamål. Denna regel gäller till 
                    exempel för data som måste behållas av skäl som är relaterade till handels- eller skattelagstiftning.
                </p>
            </div>
            <div class="content">
                <h2>2. Dina rättigheter </h2>
                <p class="mb-2">
                    (1) Du har följande rättigheter avseende dina personuppgifter som rör dig: Du har rätt att få information om dina personuppgifter som behandlas av oss.
                     Vi hoppas på din förståelse eftersom vi i händelse av en förfrågan som inte lämnats in skriftligt sannolikt kommer att begära bevis från dig i en 
                     sådan situation för att bekräfta att du faktiskt är den person du påstår dig vara.
                </p>
                <p class="mb-2">
                    Du har också rätt att justera, radera eller begränsa behandlingen av dina data i den utsträckning som är lagligen tillåten. Dessutom har 
                    du rätt att invända mot behandlingen av dina data i den utsträckning som är tillåten enligt lag. Detsamma kan sägas om rätten till "datamöjlighet".
                </p>
                <p class="mb-2">
                    (2) Dessutom har du rätt att vända dig till den norska dataskyddsmyndigheten (Datatilsynet) med klagomål om hur dina personuppgifter behandlas av oss.
                </p>
            </div>
            <div class="content">
                <h2>3. Insamling av personuppgifter från våra webbplatsbesökare </h2>
                <p class="mb-2">
                    (1) När vår webbplats endast används för att hämta information, dvs. när du inte registrerar dig eller på något annat sätt tillhandahåller oss 
                    information, samlar vi endast in de personuppgifter som din webbläsare tillhandahåller till vår server. När du vill se vår webbplats samlar 
                    vi in följande data som är nödvändiga av tekniska skäl för att kunna visa vår webbplats för dig och säkerställa tillräcklig tillgänglighet, 
                    stabilitet och säkerhet (rättslig grund är artikel 6 punkt 1 avsnitt (1) bokstav (f) i GDPR):
                </p>
                <ul>
                    <li class="listclass">IP-adress</li>
                    <li class="listclass">Förfrågans datum och tid</li>
                    <li class="listclass">Tidszonsskillnad till Greenwich Mean Time (GMT)</li>
                    <li class="listclass">Förfrågans innehåll (exakt vilken webbsida som besöktes)</li>
                    <li class="listclass">Åtkomststatus/HTTP-statuskod</li>
                    <li class="listclass">Data volym som överfördes i varje fall</li>
                    <li class="listclass">Webbplats som genererade förfrågan</li>
                    <li class="listclass">Webbläsare</li>
                    <li class="listclass">Operativsystem och dess gränssnitt</li>
                    <li class="listclass">Webbläsarspråk och version</li>
                </ul>
                <p class="mb-2">
                    Denna data sparas av säkerhetsskäl (till exempel för utredning av missbruk eller förebyggande av bedrägeri) i högst sju dagar och raderas efter 
                    utgången av den perioden. Data som måste behållas längre som bevis kommer endast att raderas efter att det relevanta incidenten är fullständigt 
                    utrett.
                </p>
                <p class="mb-2">
                    (2) Utöver de uppgifter som anges ovan kommer din dator att spara våra cookies när du besöker vår webbplats. Cookies är små textfiler som 
                    lagras på din hårddisk som filer som tilldelats din webbläsare och genom vilka viss information tillhandahålls till cookie-sändaren 
                    i detta fall till oss). Cookies kan inte utföra några program eller infektera din dator med något virus. Deras syfte är att göra ditt 
                    arbete på internet generellt mer användarvänligt och effektivt.
                </p>
                <p>(3) Användning av cookies: </p>
                <p class="mb-2">
                    a) Denna webbplats använder följande cookie-typer vars omfattning och funktioner förklaras mer detaljerat nedan:
                </p>
                <ul>
                    <li class="listclass">Tillfälliga cookies (se b).</li>
                    <li class="listclass">Beständiga cookies (se c).</li>
                </ul>
                <p class="mb-2">
                    b) Tillfälliga cookies raderas automatiskt när du stänger din webbläsare. De inkluderar särskilt sessionscookies. De lagrar information 
                    om den så kallade sessions-ID med vilken olika förfrågningar från din webbläsare tilldelas under hela sessionen. De gör det möjligt för 
                    oss att känna igen din dator som den tillhörande vår tidigare besökare när du återvänder till vår webbplats. Sessionscookies raderas när 
                    du stänger din webbläsare.

                </p>
                <p class="mb-2">
                    c) Beständiga cookies raderas automatiskt efter en förinställd tidsperiod som kan variera från cookie till cookie. Du kan när som helst 
                    radera cookies med hjälp av säkerhetsinställningarna i din webbläsare. d) Du kan konfigurera dina webbläsarinställningar efter eget 
                    gottfinnande och särskilt avböja att acceptera tredjepartscookies eller alla cookies. Vi vill dock påpeka att i sådant fall kommer du 
                    troligen inte att kunna använda vissa av funktionerna på denna webbplats.
                </p>
            </div>
            <div class="content">
                <h2>4.	Andra funktioner och erbjudanden på vår webbplats</h2>
                <p class="mb-2">
                    (1) Förutom möjligheten att använda vår webbplats enbart för informationsändamål erbjuder vi olika tjänster som du kan använda om de är av 
                    intresse för dig. I allmänhet skulle du bli ombedd att lämna mer detaljerad personlig information för att kunna använda dem, vilken vi 
                    använder för att tillhandahålla den berörda tjänsten och som omfattas av de dataskyddsprinciper som beskrivs ovan.
                </p>
                <p class="mb-2">
                    (2) Vi använder tjänsterna från externa tjänsteleverantörer för att behandla vissa av dina data. Vi väljer och engagerar våra 
                    tjänsteleverantörer noggrant; de är bundna av våra instruktioner och övervakas regelbundet.
                </p>
                <p class="mb-2">
                    (3) Dessutom kan vi vidarebefordra dina personuppgifter till tredje parter om vi erbjuder evenemang, kontrakt eller liknande 
                    tjänster tillsammans med partners. Du kommer att få mer detaljerad information om detta när du lämnar dina personuppgifter.
                </p>
                <p class="mb-2">
                    (4) Om våra tjänsteleverantörer eller partners är belägna i en stat utanför den Europeiska ekonomiska samarbetsområdet (EEA), 
                    informerar vi dig om konsekvenserna av denna situation i beskrivningen av vårt erbjudande.
                </p>
            </div>
            <div class="content">
                <h2>5.	Invändningar mot dataskyddsbehandling eller återkallelse av dina data från behandling</h2>
                <p class="mb-4">
                    (1) Du kan när som helst återkalla ditt tidigare lämnade samtycke för behandling av dina personuppgifter. 
                    Sådan återkallelse av ditt samtycke kommer att påverka tillgängligheten av dina personuppgifter för behandling så snart du meddelar oss detta.
                </p>
                <p class="mb-2">
                    (2) I den utsträckning vi behandlar dina personuppgifter för att stödja vår legitima intresse kan du lämna invändningar mot sådan behandling. 
                    Detta gäller särskilt där behandlingen av de berörda uppgifterna inte är nödvändig för att genomföra vårt avtal med dig, vilket vi påpekar 
                    i beskrivningen av den berörda funktionen ovan. Om du lämnar en invändning till oss, vänligen ange skäl till varför vi inte bör behandla 
                    dina personuppgifter på det sätt som vi för närvarande gör. Om din invändning anses vara motiverad kommer vi att utreda ärendet och 
                    antingen avbryta behandlingen av dina uppgifter och göra lämpliga justeringar eller meddela dig våra överordnade skäl att fortsätta 
                    behandlingen av de berörda uppgifterna där skydd är nödvändigt.
                </p>
                <p class="mb-2">
                    (3) Du kan invända mot behandlingen av dina personuppgifter för våra ändamål med marknadsföring och dataanalys när som helst. 
                    Du kan informera oss om din invändning mot marknadsföring under kontaktuppgifterna som nämns i punkt 1 (2).
                </p>
            </div>
            <div class="content">
                <h2>6.	Online-evenemangsregistrering</h2>
                <p class="mb-2">
                    1) Om du vill registrera dig för evenemang - både gratis och betalda - är det nödvändigt för avtalets ingående att du tillhandahåller 
                    oss de personuppgifter som vi behöver för att behandla din registrering. Obligatoriska fält är markerade separat, ytterligare fält är 
                    frivilliga. Vi behandlar de uppgifter som du lämnar för att behandla din registrering. Den rättsliga grunden för detta är artikel 6 
                    punkt 1 avsnitt (1) bokstav (b) och bokstav (f) i GDPR.
                </p>
                <p class="mb-2">
                    Vi kan också behandla den information du tillhandahåller för att informera dig om lagliga, skattemässiga och ekonomiska utvecklingar, 
                    för att tillhandahålla dig annan intressant och viktig information eller för att skicka e-postmeddelanden med teknisk information.
                </p>
                <p class="mb-2">
                    (2) Enligt handels- och skattelag är vi skyldiga att lagra din adress, betalnings- och orderdata i en period av tio år. Efter tre år
                     kommer vi emellertid att begränsa behandlingen, dvs. dina data kommer endast att användas för att uppfylla lagliga skyldigheter.
                </p>
                <p class="mb-2">
                    Åsgårdsstrand, 28.08.2023
                </p>
            </div>
        </div>
    </main>

   
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                    Genom att samtycka accepterar du hur vi använder cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nödvändiga cookies – kan inte stängas av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                        få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                        tillfredsställande utan dessa cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marknadsföring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                        olika ämnen, så att vi kan ge dig relevanta annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Följ oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Prenumerera på vårt nyhetsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Prenumerera</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakta oss</h4>
                    <p><i class="fas fa-envelope"></i> E-post: star@peachgroup.no</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
    
</body>
</html>