<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - charity reports</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/report.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Hitta din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Vanliga frågor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakta oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelska</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="index.html">Svenska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finska</a>
                                <a class="dropdown-item" href="../is/index.html">Isländska</a>
                               
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- <section class="headertext">
        <h1>Instaraising Top 3 Organizations Charity Report</h1>
    </section> -->

    <section class="hero"></section>

    <section class="content">
        <div class="content-left">
            <div class="container leftsidetext">
                <p class="lines">
                    Denna rapport syftar till att ge en översikt över de finansiella bidragen som gjorts till CERF från 2006 till 2023, med fokus på de största givarländerna och deras åtagande att stödja CERF:s uppdrag. Data från det medföljande diagrammet kommer att utgöra grunden för denna analys.  
                </p>
            </div>
            
        </div>
        <div class="content-right">
            <div class="container rightsidetext">
                <h2 class="reportheading">Statistics & Reports</h2>
                <div class="row reportdetails">
                    <p class="lines">
                        FN:s centrala nödfond (CERF) är en humanitär fond som inrättades av FN:s generalförsamling 2006 för att säkerställa snabb och mer tillförlitlig humanitär assistans till de som drabbas av naturkatastrofer och väpnade konflikter. CERF är ett av de snabbaste och mest effektiva sätten att stödja humanitära insatser för människor i nöd. Det möjliggör för de som erbjuder humanitär hjälp att snabbt reagera och ge assistans under den kritiska perioden när nödsituationer uppstår och säkerställer att hjälpen når offren utan fördröjning.  
                    </p>

                    <h4 class="chartheading">Totala bidrag från 2006 till 2023 </h4>
                    <p class="lines">
                        Genom åren har CERF fått betydande stöd från olika medlemsstater. Från 2006 till 2023 har fonden sett betydande donationer från länder som leder i humanitär hjälp. Storbritannien står som den största bidragsgivaren med donationer på totalt 1,8 miljarder USD, följt av Sverige och Nederländerna, vardera med bidrag på 1,2 miljarder USD. Tyskland gav 1,1 miljarder USD, och Norge bidrog med 983,9 miljoner USD, vilket visar en stark åtagande för globala humanitära insatser. 
                    </p>
                   
                </div>
                <div class="row reportdetails">
                    <h4 class="chartheading">Bidrag under år 2023</h4>
                    <p class="lines">
                        Med fokus på året 2023 framstår Tyskland som den största givaren med ett imponerande bidrag på 106,5 miljoner USD. Nederländerna följer efter med en summa på 71,8 miljoner USD. Storbritannien, som behåller sin historiska position som en betydande givarstat, har bidragit med 64,0 miljoner USD. Sverige, med 63,3 miljoner USD, och Norge, med 43,1 miljoner USD, figurerar också som toppgivare och förstärker sina positioner som nyckelspelare inom humanitär stöd.  
                    </p>
                </div>

                <div class="row reportdetails">
                    <h4 class="chartheading">Toppgivare i 2023 Analys </h4>
                    <p class="lines">
                        Data för 2023 indikerar ett strategiskt samarbete bland europeiska nationer, med Tyskland som den största bidragsgivaren, följt nära av Nederländerna, Storbritannien, Sverige och Norge. Bidragen speglar de kontinuerliga och samordnade ansträngningarna av dessa nationer att hantera utmaningar som nödsituationer runt om i världen presenterar.  
                    </p>
                </div>

                <div class="row reportdetails">
                    <h4 class="chartheading">Norges bidrag och global påverkan </h4>
                    <p class="lines">
                        Norges bidrag, som totalt närmar sig 1 miljard USD sedan 2006 och 43,1 miljoner USD i 2023, understryker landets åtagande att upprätthålla globala humanitära värderingar. Norska medel har varit avgörande för att möjliggöra omedelbara åtgärder, stödja underfinansierade nödsituationer och ge hjälp i kölvattnet av oförutsedda katastrofer. Norges strategiska fokus på att finansiera CERF visar en förståelse för behovet av en välresurserad nödhjälpsmekanism för att säkerställa att ingen står utan hjälp när en kris inträffar.  
                    </p>
                </div>

                              
            </div>
            
        </div>
    </section>

    <div class="container">
        <div class="chart">
            <div class="chart-container">
                <!-- <h2>Top 3 Organizations Donation Distribution</h2> -->
                <canvas id="donationPieChart"></canvas>
            </div>
    
            <div class="explanation">
                <h4 class="chartheading">Top Donator 2023 (i USD)</h4>
                <ul>
                    <li class="lines"><strong class="chartheading">Germany:</strong> USD 106.5 M</li>
                    <li class="lines"><strong class="chartheading">Netherlands:</strong> USD 71.8 M</li>
                    <li class="lines"><strong class="chartheading">United Kingdom:</strong> USD 63.3 M</li>
                    <li class="lines"><strong class="chartheading">Sweden:</strong> USD 63.3 M</li>
                    <li class="lines"><strong class="chartheading">Norway:</strong> USD 43.1 M</li>
                </ul>
            </div>
        </div>  
    </div>

    <section>
        <div class="remainingcontent">
            <div class="row reportdetails">
                <h4 class="chartheading">Geografisk och nödhjälpsspecifik påverkan</h4>
                <p class="lines">
                    CERF:s tildelningar har distribuerats globalt, och adresserar underfinansierade kriser främst i Afrika, Asien och Latinamerika. Till exempel har CERF:s finansiering varit avgörande i den snabba responsen på hungersnöden i Sydsudan, jordbävningen i Indonesien och den pågående syriska krisen. Diagrammet ger inte detaljer om den specifika geografiska fördelningen av medlen 2023, men historiskt sett har CERF säkerställt att hjälpen når olika regioner baserat på hur snabbt nödsituationerna uppstår och omfattningen av dessa.  
                </p>
            </div>
            <div class="row reportdetails">
                <h4 class="chartheading">Slutsats</h4>
                <p class="lines">
                    FN:s centrala nödfond förblir ett vitalt instrument i den globala humanitära responsarkitekturen, tack vare stadigt stöd från sina toppgivare. Data från 2006 till 2023, med ett detaljerat fokus på bidragen gjorda 2023, exemplifierar det kollektiva engagemanget från det internationella samfundet, lett av länder som Tyskland, Nederländerna, Storbritannien, Sverige och särskilt Norge. Dessa bidrag ger inte bara omedelbar hjälp, utan bidrar också till ett mer samordnat och effektivt globalt nödhjälpssystem. 
                </p>
            </div>
        </div>
    </section>

    
    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                    Genom att samtycka accepterar du hur vi använder cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nödvändiga cookies – kan inte stängas av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                        få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                        tillfredsställande utan dessa cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marknadsföring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                        olika ämnen, så att vi kan ge dig relevanta annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Följ oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Prenumerera på vårt nyhetsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Prenumerera</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakta oss</h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Dummy data for pie chart
            // var pieChartData = [45, 20, 15, 15, 10 ];
            var pieChartData = [106.5 , 71.8, 64.0, 63.3, 43.1 ];

            // Dummy data for explanation
            var explanationData = [
                'Germany: Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                'Organization B: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
                'Organization C: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
            ];

            // Pie chart
            var pieCtx = document.getElementById('donationPieChart').getContext('2d');
            var pieChart = new Chart(pieCtx, {
                type: 'pie',
                data: {
                    labels: ['Germany', 'Netherlands', 'United Kingdom','Sweden','Norway'],
                    datasets: [{
                        data: pieChartData,
                        backgroundColor: [
                            //'rgba(144, 238, 144, 0.7)',   // Light reeen

                            //'rgba(173, 216, 230, 0.7)',   // Light Blue

                            //'rgba(50, 205, 50, 0.7)',  // Medium green

                            //'rgba(70, 130, 180, 0.7)',   // Medium Blue

                            //'rgba(0, 128, 0, 0.7)',   // Dark Green
                            
                            //'rgba(0, 0, 128, 0.7)'       // Dark Blue

                            

                            'rgba(135, 206, 250, 0.7)',   // Sky Blue

                            'rgba(255, 165, 0, 0.7)',     // Orange

                            'rgba(255, 69, 0, 0.7)',      // Red-Orange

                            'rgba(255, 192, 203, 0.7)',   // Pink

                            'rgba(128, 0, 128, 0.7)'      // Purple
                        ]
                    }]
                }
            });

            // Explanation
            // var explanationContainer = document.querySelector('.explanation ul');
            // explanationData.forEach(function (item) {
            //     var li = document.createElement('li');
            //     li.innerHTML = item;
            //     explanationContainer.appendChild(li);
            // });
        });
    </script>
    <script src="../../public/js/header.js"></script>
</body>
</html>
