<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - updates</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <!-- <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css"> -->

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/updatesandnews.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Hitta din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Vanliga frågor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakta oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelska</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="index.html">Svenska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finska</a>
                                <a class="dropdown-item" href="../is/index.html">Isländska</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">Tyska</a>
                                <a class="dropdown-item" href="../fr/index.html">Franska</a>
                                <a class="dropdown-item" href="../es/index.html">Spanska</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container latest-news-container">
        <din class="row mb-4">
            <h3 class="latesupdates">Senaste nytt och uppdateringar</h3>
        </din>
        <div class="row">
            <!-- News Card 1 -->
            <div class="col-md-4">
                <div class="card news-card">
                    <img src="../../img/chadfood.png" class="card-img-top" alt="News Image 1">
                    <div class="card-body news-card-body">
                        <h5 class="card-title newstitle">Chad Food Crisis</h5>
                        <p class="card-text newscardtext">
                            Den nyligen offentliggjorda beslutet av Världens livsmedelsprogram (WFP) att avbryta livsmedelshjälpen till 1,4 miljoner människor i Tchad, inklusive flyktingar från Darfur.
                        </p>
                        <div class="row newsletter-download">
                            <a href="breakingnews1.html" class="btn  readmorebtn">Läs mer</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- News Card 2 -->
            <div class="col-md-4">
                <div class="card news-card">
                    <img src="../../img/Photo for Extreme Poverty News.jpg" class="card-img-top" alt="News Image 2">
                    <div class="card-body news-card-body">
                        <h5 class="card-title newstitle">Extrem fattigdom: En stor utmaning för politiker  </h5>
                        <p class="card-text newscardtext">
                            Nästan 700 miljoner människor globalt lever för närvarande i extrem fattigdom och överlever på mindre än 20 SEK per dag. Mer än hälften av dessa människor finns söder om Sahara.   
                        </p>
                        <div class="row newsletter-download">
                            <a href="extrempoverty.html" class="btn readmorebtn">Läs mer</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- News Card 3 -->
            <div class="col-md-4">
                <div class="card news-card">
                    <img src="../../img/Photo for Education Remains News.jpg" class="card-img-top" alt="News Image 3">
                    <div class="card-body news-card-body">
                        <h5 class="card-title newstitle">Utbildning förblir en universell lösning för utrotning av fattigdom  </h5>
                        <p class="card-text newscardtext">
                            Vicepresident Kashim Shettima säger att utbildning och kompetensutveckling är svaret på hungern och fattigdomen i Nigeria. 
                        </p>
                        <div class="row newsletter-download">
                            <a href="educationnews.html" class="btn  readmorebtn">Läs mer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        

        <!--Slider for newsletter-->

        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-3 latesupdates">Våra nyhetsbrev </h3>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1 arrowspace" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">

                                        <!--January 2024-->
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid newsletterimg" alt="100%x280" src="../../img/newsletter-jan.png">
                                                <div class="card-body">
                                                    <h4 class="card-title newslettertitle">Instaraisings digitala plattform: Revolutionerar filantropi</h4>
                                                    <p class="card-text">
                                                        Vår nya digitala plattform är utformad för att förbättra sättet vi stödjer projekten hos våra partnerorganisationer.
                                                    </p>
                                                    <div class="row newsletter-download">
                                                        <a href="../../newsletters/IR_Swedish_Newsletter_Jan_24.pdf" download="IR_Swedish_Newsletter_Jan_24.pdf" class="btn downloadBtn">Ladda ner Jan/24 - nyhetsbrev</a>
                                                    </div>
        
                                                </div>
                                            </div>
                                        </div>
                                        <!--December 2023-->
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid newsletterimg" alt="100%x280" src="../../img/children.png">
                                                <div class="card-body">
                                                    <h4 class="card-title newslettertitle">Instaraising: Det är ett löfte om en bättre morgondag</h4>
                                                    <p class="card-text">
                                                        Instaraisings resa är progressiv. Utöver vår webbplats fokuserar vårt engagerade team på att utveckla en interaktiv digital...
                                                    </p>
                                                    <div class="row newsletter-download">
                                                        <a href="../../newsletters/IR_Swedish_Newsletter_Dec_23.pdf" download="IR_Swedish_Newsletter_Dec_23.pdf" class="btn downloadBtn">Ladda ner Dec/23 - nyhetsbrev</a>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
                                        <!--November 2023-->
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid newsletterimg" alt="100%x280" src="../../img/newsletternov.jpg">
                                                <div class="card-body">
                                                    <h4 class="card-title newslettertitle">Instaraising: En Kanal för Förändring</h4>
                                                    <p class="card-text">
                                                        I en transformations era där digital innovation omformar vår samhällsstruktur, är Peach Group glada att meddela födelsen...  
                                                    </p>
                                                    <div class="row newsletter-download">
                                                        <a href="../../newsletters/IR_Swedish_Newsletter_Nov_23.pdf" download="IR_Swedish_Newsletter_Nov_23.pdf" class="btn downloadBtn">Ladda ner Nov - nyhetsbrev</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">

                                    <div class="row">
                                        <!--October 2023-->
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid newsletterimg" alt="100%x280" src="../../img/newsletteroctober.png">
                                                <div class="card-body">
                                                    <h4 class="card-title newslettertitle">Instaraising: En Enad Portal för Välgörenhetssträvanden</h4>
                                                    <p class="card-text">
                                                        När löven vänder och oktober vecklar ut sig är vi på Instaraising glada att dela med oss av de senaste utvecklingarna... 
                                                    </p>
                                                    <div class="row newsletter-download">
                                                        <a href="../../newsletters/IR_Swedish_Newsletter_Oct_23.pdf" download="IR_Swedish_Newsletter_Oct_23.pdf" class="btn downloadBtn">Ladda ner Oct - nyhetsbrev</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!--September 2023-->
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid newsletterimg" alt="100%x280" src="../../img/newsletter1.png">
                                                <div class="card-body">
                                                    <h4 class="card-title newslettertitle">Instaraising: Din globala insamlingsportal</h4>
                                                    <p class="card-text">
                                                        När vi omfamnar höstförändringarna är det en stund av eftertanke och förväntan på Instaraising.
                                                    </p>
                                                    <div class="row newsletter-download">
                                                        <a href="../../newsletters/IR_Swedish_Newsletter_Sep_23.pdf" download="IR_Swedish_Newsletter_Sep_23.pdf" class="btn  downloadBtn">Ladda ner Sep - nyhetsbrev</a>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
                                        
                                        
        
                                    </div>

                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                    Genom att samtycka accepterar du hur vi använder cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nödvändiga cookies – kan inte stängas av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                        få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                        tillfredsställande utan dessa cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marknadsföring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                        olika ämnen, så att vi kan ge dig relevanta annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Följ oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Prenumerera på vårt nyhetsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Prenumerera</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakta oss</h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- core  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="../../vendors/bootstrap/bootstrap.min.js"></script> -->

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script src="../../public/js/home.js"></script>

    <script>
        $(document).ready(function() {
            $('#carouselExampleIndicators2').carousel();
        });
    </script>

    <script src="../../public/js/header.js"></script>
    
</body>
</html>