<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - FAQ</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/faq.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Hjem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om os</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Find din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="faq.html">Ofte stillede spørgsmål</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakt os</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sprog
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelsk</a>
                                <a class="dropdown-item" href="../no/index.html">Norsk</a>
                                <a class="dropdown-item" href="../sv/index.html">Svensk</a>
                                <a class="dropdown-item" href="index.html">Dansk</a>
                                <a class="dropdown-item" href="../fi/index.html">Finsk</a>
                                <a class="dropdown-item" href="../is/index.html">Islandsk</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container faqcontainer mt-5">
        <h1 class="text-center mb-4">Ofte stillede spørgsmål</h1>

        <input type="text" id="faqSearch" placeholder="Søg efter et spørgsmål...">
        
        <div class="accordion" id="faqAccordion">
            <!-- FAQ Item 1 -->
            <div class="card">
                <div class="card-header" id="faqHeading1">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                            <i class="fas fa-chevron-down"></i>  Hvad er Instaraising?
                        </button>
                    </h2>
                </div>
    
                <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising er en digital platform designet til at forbinde velgørenhedsdonorer med velgørenhedsorganisationer globalt. Vores mission er at facilitere effektiv giving og skabe et betydeligt indtryk i reduktionen af global ekstrem fattigdom.
                    </div>
                </div>
            </div>
    
            <!-- FAQ Item 2 -->
            <div class="card">
                <div class="card-header" id="faqHeading2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                            <i class="fas fa-chevron-down"></i>  Hvordan fungerer Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising giver donorer mulighed for at opdage og forbinde sig med forskellige velgørenhedsorganisationer og årsager. Donorer kan direkte finansiere projekter eller årsager, de holder af, og organisationer kan fremvise deres initiativer og modtage støtte gennem vores officielle hjemmeside.
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="card-header" id="faqHeading3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                            <i class="fas fa-chevron-down"></i>  Hvilke årsager støtter Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi støtter et bredt udvalg af årsager, herunder krisehåndtering, humanitær hjælp, uddannelse, sundhedspleje, samfundsudvikling, børnevelfærd, menneskerettigheder, miljøbevarelse og mange flere. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                            <i class="fas fa-chevron-down"></i>  Hvordan adskiller Instaraising sig fra andre velgørenhedsplatforme? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising er unik i sit engagement i at reducere ekstrem fattigdom med mindst 5% globalt. Vores platform er designet til transparens, brugervenlighed og for at maksimere effekten af hver donation. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading5">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                            <i class="fas fa-chevron-down"></i>  Er Instaraising en nonprofit organisation? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Nej, Instaraising fungerer som en samfundsudviklingsorganisation under Peach Group. Vores primære mål er social indvirkning snarere end profit.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading6">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg donere gennem Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse6" class="collapse" aria-labelledby="faqHeading6" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        For at donere skal du blot oprette en konto, gennemse listen over årsager eller organisationer og vælge, hvor du gerne vil bidrage. Vores platform tilbyder en sikker og ligetil proces for at foretage donationer. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading7">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse7">
                            <i class="fas fa-chevron-down"></i>  Kan velgørende organisationer samarbejde med Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse7" class="collapse" aria-labelledby="faqHeading7" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Absolut. Velgørende organisationer kan ansøge om at blive opført på vores platform. Når de er vurderet og godkendt, kan de begynde at modtage donationer og støtte fra vores globale fællesskab af donorer. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading8">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse8">
                            <i class="fas fa-chevron-down"></i>  Hvordan sikrer Instaraising legitimiteten af organisationer på sin platform? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse8" class="collapse" aria-labelledby="faqHeading8" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi udfører en grundig vurderingsproces for hver organisation. Dette inkluderer verificering af deres juridiske status, mission, finansiel gennemsigtighed og indvirkningsspor. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading9">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse9" aria-expanded="false" aria-controls="faqCollapse9">
                            <i class="fas fa-chevron-down"></i>  Er donationer gennem Instaraising fradragsberettigede?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse9" class="collapse" aria-labelledby="faqHeading9" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Donationer foretaget gennem Instaraising kan være fradragsberettigede afhængigt af dit lands skattelove. Vi råder til at konsultere med en skatteprofessionel for nøjagtige oplysninger. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading10">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse10" aria-expanded="false" aria-controls="faqCollapse10">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg komme i kontakt med Instaraising for flere spørgsmål eller partnerskaber?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse10" class="collapse" aria-labelledby="faqHeading10" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        For yderligere forespørgsler eller for at diskutere partnerskabsmuligheder, kontakt os venligst på info@instaraising.com eller besøg vores "Kontakt Os"-side på vores hjemmeside. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading11">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse11" aria-expanded="false" aria-controls="faqCollapse11">
                            <i class="fas fa-chevron-down"></i>  Hvad er visionen bag Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse11" class="collapse" aria-labelledby="faqHeading11" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising blev grundlagt med visionen om at skabe et mere forbundet og indflydelsesrigt velgørende økosystem. Vores mål er at udnytte kraften af digital innovation til at facilitere meningsfuld forandring og styrke både donorer og organisationer til effektivt at bidrage til global velfærd.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading12">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse12" aria-expanded="false" aria-controls="faqCollapse12">
                            <i class="fas fa-chevron-down"></i>  Hvem kan drage fordel af Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse12" class="collapse" aria-labelledby="faqHeading12" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising betjener to primære grupper: individuelle og institutionelle donorer, der ønsker at bidrage til pålidelige årsager, og verificerede velgørende organisationer, der søger støtte til deres initiativer. Vores platform er designet til at imødekomme enhver, der ønsker at gøre en positiv indvirkning. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading13">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse13" aria-expanded="false" aria-controls="faqCollapse13">
                            <i class="fas fa-chevron-down"></i>  Hvordan sikrer Instaraising gennemsigtighed og tillid? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse13" class="collapse" aria-labelledby="faqHeading13" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi prioriterer gennemsigtighed ved at give detaljerede oplysninger om hver velgørende organisation, deres projekter og brugen af midler. Regelmæssige opdateringer og effektrapporter deles med donorerne. Desuden overholder vores platform strenge sikkerhedsprotokoller for at sikre sikre og gennemsigtige transaktioner. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading14">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse14" aria-expanded="false" aria-controls="faqCollapse14">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg spore effekten af min donation på Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse14" class="collapse" aria-labelledby="faqHeading14" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Donorer modtager regelmæssige opdateringer og effektrapporter relateret til de projekter, de støtter. Disse rapporter indeholder detaljer om fremskridt, præstationer og den virkelige verdens indvirkning af deres bidrag. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading15">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse15" aria-expanded="false" aria-controls="faqCollapse15">
                            <i class="fas fa-chevron-down"></i>  Kan jeg frivilligt eller tilbyde ikke-monetær støtte gennem Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse15" class="collapse" aria-labelledby="faqHeading15" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, udover monetære donationer planlægger Instaraising at facilitere frivillige muligheder og andre former for ikke-monetær støtte. Denne funktion vil blive udviklet for at muliggøre brugere at engagere sig i velgørende årsager på forskellige måder. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading16">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse16" aria-expanded="false" aria-controls="faqCollapse16">
                            <i class="fas fa-chevron-down"></i>  Hvilke foranstaltninger tager Instaraising for at beskytte personlige og finansielle oplysninger?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse16" class="collapse" aria-labelledby="faqHeading16" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi anvender avancerede sikkerhedsforanstaltninger, herunder kryptering og sikre serverforbindelser, for at beskytte dine personlige og finansielle oplysninger. Privatlivets fred og datasikkerhed er af allerstørste vigtighed i alle vores operationer. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading17">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse17" aria-expanded="false" aria-controls="faqCollapse17">
                            <i class="fas fa-chevron-down"></i>  Hvordan vælger og kategoriserer Instaraising de årsager, den støtter?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse17" class="collapse" aria-labelledby="faqHeading17" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Årsager vælges baseret på akutte globale behov og bæredygtige udviklingsmål. Vi kategoriserer dem i forskellige sektorer som uddannelse, sundhed, menneskerettigheder osv. for at lette nem navigation for donorer. 
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="faqHeading18">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse18" aria-expanded="false" aria-controls="faqCollapse18">
                            <i class="fas fa-chevron-down"></i>  Samarbejder Instaraising med virksomheder om CSR-initiativer?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse18" class="collapse" aria-labelledby="faqHeading18" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, vi samarbejder aktivt med virksomheder om deres Corporate Social Responsibility (CSR)-initiativer. Vores platform kan hjælpe virksomheder med at identificere finansiering og spore sociale projekter, der er i overensstemmelse med deres CSR-mål. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading19">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse19" aria-expanded="false" aria-controls="faqCollapse19">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg holde mig opdateret med Instaraisings aktiviteter og effekthistorier?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse19" class="collapse" aria-labelledby="faqHeading19" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi opfordrer dig til at følge os på vores sociale mediekanaler og abonnere på vores nyhedsbreve for regelmæssige opdateringer, effekthistorier og indsigter i vores aktiviteter. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading20">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse20" aria-expanded="false" aria-controls="faqCollapse20">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg give feedback eller forslag til forbedring af Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse20" class="collapse" aria-labelledby="faqHeading20" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi værdsætter din feedback og forslag. Du er velkommen til at kontakte os via vores hjemmesides kontaktformular eller direkte på info@instaraising.com. Din input er afgørende for vores løbende forbedring. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading21">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse21" aria-expanded="false" aria-controls="faqCollapse21">
                            <i class="fas fa-chevron-down"></i>  Hvordan sikrer Instaraising, at min donation anvendes som tilsigtet?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse21" class="collapse" aria-labelledby="faqHeading21" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi opretholder streng tilsyn med brugen af midler. Hver organisation på vores platform skal give detaljerede planer for, hvordan donationer vil blive anvendt, og de skal indsende regelmæssige rapporter om fondsfordeling og projektets fremgang. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading22">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse22" aria-expanded="false" aria-controls="faqCollapse22">
                            <i class="fas fa-chevron-down"></i>   Hvilken form for finansiel gennemsigtighed tilbyder Instaraising sine donorer?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse22" class="collapse" aria-labelledby="faqHeading22" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Finansiel gennemsigtighed er en hjørnesten i vores drift. Vi giver donorer adgang til finansielle rapporter, herunder opdelinger af, hvordan midlerne distribueres og anvendes af de velgørende organisationer. Dette sikrer, at donorerne kan se den direkte indvirkning af deres bidrag.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading23">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse23" aria-expanded="false" aria-controls="faqCollapse23">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg verificere ægtheden af velgørende organisationer på Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse23" class="collapse" aria-labelledby="faqHeading23" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi udfører en omfattende undersøgelsesproces for hver organisation på vores platform. Dette inkluderer verificering af deres juridiske status, finansielle sundhed, operationelle historie og indvirkningsspor. Kun organisationer, der opfylder vores strenge kriterier, er opført. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading24">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse24" aria-expanded="false" aria-controls="faqCollapse24">
                            <i class="fas fa-chevron-down"></i>  Trækkes der administrative gebyrer fra donationer på Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse24" class="collapse" aria-labelledby="faqHeading24" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi stræber efter at maksimere effekten af dine donationer. Mens der er minimale administrative gebyrer for drift af platformen, sikrer vi gennemsigtighed omkring disse gebyrer, og et betydeligt flertal af hver donation støtter direkte den valgte årsag. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading25">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse25" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  Hvor ofte opdaterer Instaraising donorer om fremskridtene af finansierede projekter?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse25" class="collapse" aria-labelledby="faqHeading25" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Donorer modtager regelmæssige opdateringer om de projekter, de støtter. Disse opdateringer, som typisk gives på kvartalsbasis, inkluderer fremskridtsrapporter, nylige udviklinger og fremtidsplaner. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading26">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse26" aria-expanded="false" aria-controls="faqCollapse26">
                            <i class="fas fa-chevron-down"></i>  Kan donorer vælge, hvordan deres donationer anvendes inden for et specifikt projekt eller organisation?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse26" class="collapse" aria-labelledby="faqHeading26" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, donorer har fleksibiliteten til at specificere, hvordan de gerne vil have deres donation anvendt. Organisationer på vores platform beskriver forskellige behov og projekter, hvilket giver donorer mulighed for at bidrage til områder, de er mest passionerede omkring. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading27">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse27" aria-expanded="false" aria-controls="faqCollapse27">
                            <i class="fas fa-chevron-down"></i>  Udsteder Instaraising kvitteringer for donationer til skatteformål?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse27" class="collapse" aria-labelledby="faqHeading27" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, vi udsteder donation kvitteringer, som kan anvendes til skattefradrag. Skattefordelen afhænger dog af donorernes bopælsland og dets specifikke skattelove.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading28">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse28" aria-expanded="false" aria-controls="faqCollapse28">
                            <i class="fas fa-chevron-down"></i>  I tilfælde af en tvist eller bekymring omkring en donation, hvordan håndterer Instaraising det?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse28" class="collapse" aria-labelledby="faqHeading28" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        ler bekymring omkring en donation, hvordan håndterer Instaraising det? Vi tager enhver bekymring eller tvist vedrørende donationer meget alvorligt. Donorer kan kontakte vores supportteam direkte med eventuelle problemer, og vi sikrer en grundig og rettidig løsningsproces. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading29">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse29" aria-expanded="false" aria-controls="faqCollapse29">
                            <i class="fas fa-chevron-down"></i>  Kan jeg spore den langsigtede indvirkning af min donation på Instaraising-platformen? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse29" class="collapse" aria-labelledby="faqHeading29" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Absolut. Vi opfordrer til langsigtede indvirkningssporing og giver årlige effektrapporter, der illustrerer den vedvarende effekt af dine donationer på forskellige projekter og årsager. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading30">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse30" aria-expanded="false" aria-controls="faqCollapse30">
                            <i class="fas fa-chevron-down"></i>  Hvordan håndterer Instaraising tilbagebetalinger eller fejl i donationsbehandlingen?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse30" class="collapse" aria-labelledby="faqHeading30" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        I tilfælde af fejl i donationsbehandlingen eller hvis en tilbagebetaling anmodes, er vores supportteam til rådighed for at hjælpe. Vi har en klar politik på plads for at håndtere sådanne situationer for at sikre donorernes tilfredshed og tillid. 
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne side bruger cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vores side bruger vi cookies til at forbedre brugeroplevelsen, optimere websiden, og til markedsføring.
                    Ved at give samtykke accepterer du, hvordan vi bruger cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Acceptér</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Afvis</button>
                <button type="button" class="btn" id="customizeBtn">Tilpas cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne side bruger cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke slås fra</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies bruges til grundlæggende funktioner som side-navigation 
                        og for at få adgang til beskyttede dele af websiden. Websiden kan ikke fungere tilfredsstillende uden disse cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookie hjælper os med at finde brugere, der er interesserede i information om forskellige emner, 
                        så vi kan give dig relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Gem ændringer og luk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Læs mere</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Følg os</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Abonner på vores nyhedsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-mail" required>
                        <button type="submit" class="irsubscription" data-language="English">Abonner</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakt os</h4>
                    <p><i class="fas fa-envelope"></i> E-mail: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/faq.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
</body>
</html>