<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Our partners and donors</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/partners.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Hjem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om os</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Find din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Ofte stillede spørgsmål</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakt os</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sprog
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelsk</a>
                                <a class="dropdown-item" href="../no/index.html">Norsk</a>
                                <a class="dropdown-item" href="../sv/index.html">Svensk</a>
                                <a class="dropdown-item" href="index.html">Dansk</a>
                                <a class="dropdown-item" href="../fi/index.html">Finsk</a>
                                <a class="dropdown-item" href="../is/index.html">Islandsk</a>
                               
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="partnerheading">
        <div class="content-text-left">
            <div class="container introduction">
                <h1 class="mainheading">Vore partnere</h1>
                <p class="linetext"> 
                    Instaraising er en innovativ online platform, der vil ændre måden, hvorpå donorer engagerer sig, og hvordan de kan støtte et bredt udvalg af velgørende organisationer. Som en ny tjeneste vil Instaraising tilbyde unikke fordele for både velgørende organisationer og donorer

                </p>
            </div>
        </div>
        <div class="content-text-right">
            <img src="../../img/partners.png" width="100%" alt="">
        </div>
    </section>

    <section class="instaraising-section">
        <div class="container benifitcontainer">
            <!-- <h2 class="benifitmainheading">Instaraising (Launching Soon)</h2> -->
            
            <div class="benefits mt-5">
                <div class="benefit-item">
                    <h3 class="benifitsubheading">Udvide rækkevidden af velgørende organisationer</h3>
                    <p class="linetext">
                        Instaraising sigter mod at give velgørende organisationer adgang til en mangfoldig og voksende base af potentielle donorer. Dette vil være særligt gavnligt for forskellige formål som miljøbeskyttelse, uddannelse og sundhedsinitiativer.
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Forenkle donationsoplevelsen</h3>
                    <p class="linetext">
                        Instaraising er designet til at tilbyde en problemfri og sikker donationsproces, hvilket vil opmuntre donorer til nemt at støtte flere velgørende organisationer. Denne brugervenlige tilgang forventes at styrke donorernes engagement og bidrag.
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Sikre tillid og troværdighed</h3>
                    <p class="linetext">
                        Platformen består af en omhyggeligt gennemgået liste over velgørende organisationer, så donorer kan være sikre på, at deres bidrag går til respekterede og effektive fonde. Denne vurderingsproces er rettet mod at opbygge donorernes tillid til både platformen og organisationerne.
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Personlig søgning efter velgørende organisationer</h3>
                    <p class="linetext">
                        Instaraising har til hensigt at bruge avanceret teknologi til at anbefale velgørende organisationer, der stemmer overens med individuelle donorpræferencer og tidligere doneringshistorik. Denne personlige tilgang forventes at hjælpe donorer med at udforske og støtte en række årsager.
                    </p>
                </div>
            </div>

            <p class="anticipated-text">
                Instaraising vækker stor interesse blandt velgørende organisationer, da tjenesten vil forbedre, hvordan indsamling foretages, udvide donorernes engagement og øge effektiviteten af velgørende initiativer på tværs af forskellige områder. Platformen forventes at være en banebrydende brobygger mellem donorer og en mangfoldighed af velgørende årsager.
            </p>
        </div>
    </section>

    <section class="donorheading">
        <div class="content-text-left">
            <img src="../../img/our donors.png" width="100%" alt="">  
        </div>
        <div class="content-text-right">
            <div class="container introduction">
                <h1 class="mainheading">Vores Donorer</h1>
                <p class="linetext">
                    Vi ser frem til at knytte bånd med vores donorer. Deres støtte er fundamentet for vores evne til at gøre en forskel.
                </p>
            </div>
            
        </div>
    </section>

    <section class="donorsdetails mt-5">
        <div class="leftdonordetails">
            <div class="container donorleftcontainer">
                <h2 class="donorleftheading">Påvirkning fra Donorer</h2>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Skabe forandring</h3>
                        <p class="linetext">
                            Hver donation, stor eller lille, spiller en kritisk rolle i at drive vores initiativer fremad. Din støtte giver os energi til at tackle udfordringer og skabe varig forandring i de samfund, vi hjælper.
                        </p>
                </div>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Finansiere projekter og programmer</h3>
                        <p class="linetext">
                            Bidrag fra donorer som dig er afgørende for finansieringen af vores forskellige projekter og programmer. Fra at tilbyde uddannelsesressourcer til at sikre adgang til sundhedspleje, gør din generøsitet alt dette muligt.
                        </p>
                </div>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Udvide vores rækkevidde</h3>
                        <p class="linetext">
                            Med din støtte kan vi udvide vores tjenester for at inkludere flere mennesker og hjælpe dem, der har mest brug for det. Din donation hjælper os med at skalere vores arbejde og øge vores indflydelse.
                        </p>
                </div>
            </div>
            
        </div>
        <div class="rightdonordetails">
            <div class="container rightdonorcontainer">
                <h2 class="donorleftheading">Klar til at Gøre en Forskel?</h2>
            <div class="row donor-items">
                <p class="linetext">
                    Med Instaraising vil du have muligheden for at blive en del af et fællesskab af medfølende individer, der er dedikeret til at skabe positiv indflydelse. Dine donationer vil nemt blive formidlet gennem platformen og forbinde dig med organisationer, der arbejder med det, du brænder for, med enkelhed og åbenhed.
                </p>
            </div>
            <div class="row donor-items">
                <p class="linetext">
                    Abonner på vores nyhedsbrev og følg os på sociale medier for at få regelmæssige opdateringer om vigtige sager og hvad der gøres.
                </p>
            </div>
            </div>
            
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne side bruger cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vores side bruger vi cookies til at forbedre brugeroplevelsen, optimere websiden, og til markedsføring.
                    Ved at give samtykke accepterer du, hvordan vi bruger cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Acceptér</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Afvis</button>
                <button type="button" class="btn" id="customizeBtn">Tilpas cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne side bruger cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke slås fra</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies bruges til grundlæggende funktioner som side-navigation 
                        og for at få adgang til beskyttede dele af websiden. Websiden kan ikke fungere tilfredsstillende uden disse cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookie hjælper os med at finde brugere, der er interesserede i information om forskellige emner, 
                        så vi kan give dig relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Gem ændringer og luk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Læs mere</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Følg os</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Abonner på vores nyhedsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-mail" required>
                        <button type="submit" class="irsubscription" data-language="English">Abonner</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakt os</h4>
                    <p><i class="fas fa-envelope"></i> E-mail: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../public/js/header.js"></script>
</body>
</html>