<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Privacy</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Hjem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="aboutus.html"></i>Om os</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Find din match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Ofte stillede spørgsmål</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contactus.html">Kontakt os</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sprog
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelsk</a>
                                <a class="dropdown-item" href="../no/index.html">Norsk</a>
                                <a class="dropdown-item" href="../sv/index.html">Svensk</a>
                                <a class="dropdown-item" href="index.html">Dansk</a>
                                <a class="dropdown-item" href="../fi/index.html">Finsk</a>
                                <a class="dropdown-item" href="../is/index.html">Islandsk</a>
                                
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container privacycontainer">
            <div class="content">
                <h1 class="mainheading mt-5">Databeskyttelseserklæring</h1>
            </div>
            <div class="content">
                <p>
                    <ol>
                        <li>INDSAMLING AF PERSONLIGE OPLYSNINGER</li>
                        <li>DINE RETTIGHEDER</li>
                        <li>INDSAMLING AF PERSONLIGE OPLYSNINGER FRA VORES WEBSTEDSBESØGENDE</li>
                        <li>ANDRE FUNKTIONER OG TILBUD PÅ VORES WEBSTED</li>
                        <li>INDSIGELSER MOD DATABEHANDLING ELLER TILBAGEKALDELSE AF DINE OPLYSNINGER FRA BEHANDLING</li>
                        <li>ONLINE BEGIVENHEDSTILMELDING</li>
                    </ol> 
                </p>
            </div>
            <div class="content">
                <h2>1. Indsamling af personlige oplysninger</h2>
                <p class="mb-2">
                    (1) Denne databeskyttelseserklæring forklarer, hvordan og hvilke personlige oplysninger vi indsamler fra dig via vores hjemmeside. 
                    Personlige oplysninger betyder alle oplysninger, der kan henføres til dig personligt, såsom dit navn, adresse, e-mailadresse(r) og brugeradfærd.
                </p>
                <p class="mb-2">
                    (2) Den dataansvarlige i overensstemmelse med artikel 4, punkt 7 i EU's generelle forordning om databeskyttelse (GDPR) er
                </p>
                <div class="contact-info">
                    <p class="company-name">PEACH GROUP AS</p>
                    <p>Stangslia 5</p>
                    <p>3179 Åsgårdsstrand</p>
                    <p>Tel.: +47 46 31 18 65</p>
                    <p>Email: <a href="mailto:finncato@peachgroup.no">finncato@peachgroup.no</a></p>
                </div>
                <p>Databeskyttelsesansvarlig: Martin Hoel</p>
                <p class="mb-2">
                    Du kan kontakte vores databeskyttelsesansvarlige på <a href="mailto:ir-contact@instaraising.com" class="linkpages">ir-contact@instaraising.com</a>  
                    eller på vores postadresse ved at tilføje "GDPR".
                </p>
                <p class="mb-2">
                    (3) Hver gang du kontakter os via e-mail eller gennem en kontaktformular, gemmer vi de oplysninger, du har givet os (din e-mailadresse, 
                    eventuelt dit navn og telefonnummer) for at kunne besvare dine spørgsmål. Vi sletter de oplysninger, der er indsamlet i denne sammenhæng, 
                    når deres opbevaring ikke længere er nødvendig, eller vi begrænser deres behandling, når den er underlagt lovpligtige opbevaringsforpligtelser. 
                </p>
                <p class="mb-2">
                    (4) Hvis vi involverer kontraherede tredjepartsleverandører til at understøtte individuelle funktioner i vores tilbud eller hvis vi ønsker 
                    at bruge dine oplysninger til reklame, beskrives de relevante gældende procedurer detaljeret nedenfor. Herunder beskriver vi også de 
                    fastlagte kriterier for varigheden af datalagringsperioden.
                </p>
                <p class="mb-2">
                    (5) De af os behandlede data slettes, eller deres behandling begrænses i overensstemmelse med artiklerne 17 og 18 i GDPR. Medmindre 
                    der udtrykkeligt er angivet anderledes i denne databeskyttelseserklæring, slettes de af os lagrede data, så snart de ikke længere er 
                    nødvendige til det tiltenkte formål, og ingen lovpligtige opbevaringsforpligtelser forhindrer deres sletning. Der pålægges 
                    begrænsninger for behandlingen af data, der ikke er slettet, fordi de er nødvendige til andre lovligt tilladte formål. Med 
                    andre ord blokeres sådanne data og er ikke tilgængelige for behandling til andre formål. Denne regel gælder f.eks. for data, 
                    der skal opbevares af grunde, der er forbundet med handels- eller skatteret.
                </p>
            </div>
            <div class="content">
                <h2>2.	Dine rettigheder</h2>
                <p class="mb-2">
                    (1) Du har følgende rettigheder i forhold til os vedrørende de personoplysninger, der vedrører dig: Du har ret til at få oplysninger 
                    om dine personoplysninger, som behandles af os. Vi håber på din forståelse, fordi i tilfælde af en forespørgsel, der indgives til 
                    os på anden måde end skriftligt, vil vi sandsynligvis anmode om bevis fra dig i en sådan situation for at bekræfte, at du faktisk 
                    er den person, du hævder at være.
                </p>
                <p class="mb-2">
                    Du har også ret til at justere, slette eller begrænse behandlingen af dine oplysninger i det omfang, der er lovligt tilladt. 
                    Derudover har du ret til at gøre indsigelse mod behandlingen af dine oplysninger i det omfang, det er tilladt i henhold til 
                    loven. Det samme kan siges om retten til "datagennemførlighed".
                </p>
                <p class="mb-2">
                    (2) Desuden har du ret til at klage til den norske datatilsynsmyndighed (Datatilsynet) over, hvordan dine personoplysninger behandles af os. 
                </p>
            </div>
            <div class="content">
                <h2>3. Indsamling af personlige oplysninger fra vores webstedsbesøgende</h2>
                <p class="mb-2">
                    (1) Hvor vores websted kun tilgås for at få information, dvs. hvor du ikke registrerer dig eller på anden måde giver os information, 
                    indsamler vi kun de personlige oplysninger, som din browser giver til vores server. Hvis du ønsker at se vores websted, indsamler vi 
                    følgende data, der er nødvendige af tekniske årsager for at kunne vise vores websted for dig og sikre tilstrækkelig adgangsstabilitet 
                    og sikkerhed (den retlige grund er artikel 6, stk. 1, nr. (1), bogstav (f) i GDPR):
                </p>
                <ul>
                    <li class="listclass">IP-adresse</li>
                    <li class="listclass">Forespørgselsdato og tidspunkt</li>
                    <li class="listclass">Tidszoneforskel til Greenwich Mean Time (GMT)</li>
                    <li class="listclass">Forespørgselsindhold (den præcise webside, der blev tilgået)</li>
                    <li class="listclass">Adgangsstatus/HTTP-statuskode</li>
                    <li class="listclass">Datavolumen transmitteret i hvert tilfælde</li>
                    <li class="listclass">Websted, der genererer forespørgslen</li>
                    <li class="listclass">Browser</li>
                    <li class="listclass">Operativsystem og dets grænseflade</li>
                    <li class="listclass">Browserens sprog og version</li>
                </ul>
                <p class="mb-2">
                    Disse data opbevares af sikkerhedsmæssige årsager (f.eks. til efterforskning af misbrug eller forebyggelse af svindel) 
                    i højst syv dage og slettes ved udløbet heraf. Data, der skal opbevares som bevis i længere tid, vil kun blive slettet, 
                    efter at den relevante hændelse er fuldt opklaret.
                </p>
                <p class="mb-2">
                    (2) Ud over de ovenfor nævnte data vil din computer også gemme vores cookies, når du tilgår vores websted. Cookies er små tekstfiler, 
                    der gemmes på din harddisk som filer tildelt din browser, og som giver visse oplysninger til cookiens afsender (i dette tilfælde til os). 
                    Cookies kan ikke udføre programmer eller inficere din computer med nogen form for virus. Deres formål er at gøre dit arbejde på internettet 
                    generelt mere brugervenligt og effektivt.
                </p>
                <p>(3) Brug af cookies: </p>
                <p class="mb-2">
                    a) Denne hjemmeside bruger følgende typer cookies, hvis omfang og funktioner forklares nærmere nedenfor:
                </p>
                <ul>
                    <li class="listclass">Session cookies (se b)</li>
                    <li class="listclass">Vedvarende cookies (se c).</li>
                </ul>
                <p class="mb-2">
                    b) Session cookies slettes automatisk, når du lukker din browser. De omfatter især sessionscookies. De gemmer oplysninger 
                    om den såkaldte sessions-ID, med hvilken forskellige anmodninger fra din browser tildeles i hele sessionen. De gør det muligt 
                    for os at genkende din computer som en tidligere besøgende, når du vender tilbage til vores websted. Sessionscookies slettes, 
                    når du lukker din browser.

                </p>
                <p class="mb-2">
                    c) Vedvarende cookies slettes automatisk efter en forudindstillet tidsperiode, der kan variere fra cookie til cookie. 
                    Du kan til enhver tid slette cookies ved hjælp af sikkerhedsindstillingerne i din browser.
                </p>
                <p class="mb-2">
                    d) Du kan konfigurere dine browserindstillinger efter eget valg og især afvise accept af tredjepartscookies eller alle cookies. 
                    Vi gør dog opmærksom på, at i så fald vil du sandsynligvis ikke kunne bruge nogle af funktionerne på dette websted.

                </p>
            </div>
            <div class="content">
                <h2>4.	Andre funktioner og tilbud på vores websted</h2>
                <p class="mb-2">
                    (1) Ud over muligheden for at bruge vores websted udelukkende til informationsformål tilbyder vi forskellige tjenester, som du kan bruge, 
                    hvis de er af interesse for dig. Som regel vil du blive bedt om at give dine mere detaljerede personlige oplysninger for at kunne bruge dem, 
                    og de er omfattet af de databehandlingsprincipper, der er beskrevet ovenfor.
                </p>
                <p class="mb-2">
                    (2) Vi bruger tjenester fra eksterne tjenesteudbydere til at behandle nogle af dine data. Vi vælger og engagerer vores serviceudbydere med 
                    omhu, de er bundet af vores instruktioner og overvåges regelmæssigt.
                </p>
                <p class="mb-2">
                    (3) Derudover kan vi videregive dine personoplysninger til tredjeparter, hvis vi sammen med partnere tilbyder arrangementer, kontrakter eller lignende tjenester. 
                    Du vil modtage mere detaljerede oplysninger om dette, når du giver dine personoplysninger. 
                </p>
                <p class="mb-2">
                    (4) Hvis vores serviceudbydere eller partnere er placeret i et land uden for det Europæiske Økonomiske Samarbejdsområde (EEA), informerer vi dig om konsekvenserne 
                    af denne situation i beskrivelsen af vores tilbud.
                </p>
            </div>
            <div class="content">
                <h2>5.	Indsigelser mod databehandling eller tilbagekaldelse af dine data fra behandling 
                </h2>
                <p class="mb-4">
                    (1) Du kan til enhver tid tilbagekalde dit tidligere afgivne samtykke til behandling af dine personoplysninger. Sådan tilbagekaldelse af dit samtykke vil påvirke 
                    tilgængeligheden af dine personoplysninger til behandling, så snart du gør det kendt for os.
                </p>
                <p class="mb-2">
                    (2) I det omfang vi behandler dine personoplysninger for at støtte vores legitime interesse, kan du indgive indsigelse mod sådan behandling. 
                    Det er tilfældet især, når behandlingen af de pågældende data ikke er nødvendig for at udføre vores aftale med dig, hvilket vi påpeger i 
                    beskrivelsen af den pågældende funktion nedenfor. Hvis du indgiver indsigelse hos os, bedes du venligst give grunde til, hvorfor vi ikke bør 
                    behandle dine personoplysninger på den måde, vi behandler dem i øjeblikket. Hvis din indsigelse anses for at være begrundet, vil vi undersøge 
                    sagen og enten suspendere behandlingen af dine data og foretage passende justeringer eller oplyse dig om vores overordnede grunde til at 
                    fortsætte behandlingen af de pågældende data, hvor beskyttelse er nødvendig.
                </p>
                <p class="mb-2">
                    (3) Du kan gøre indsigelse mod behandlingen af dine personoplysninger til vores formål med markedsføring og dataanalyse når som helst. 
                    Du kan informere os om din indsigelse mod markedsføring under de kontaktdata, der er nævnt i punkt 1 (2).
                </p>
            </div>
            <div class="content">
                <h2>6.	Online begivenhedstilmelding</h2>
                <p class="mb-2">
                    (1) Hvis du ønsker at tilmelde dig begivenheder - både gratis og betalte - er det nødvendigt for indgåelsen af kontrakten, at du giver os 
                    de personoplysninger, vi kræver for at behandle din tilmelding. Obligatoriske felter er markeret separat, yderligere felter er valgfrie. 
                    Vi behandler de oplysninger, du giver os, for at behandle din tilmelding. Den retlige grund for dette er artikel 6, stk. 1, nr. (1), bogstav (b) 
                    og bogstav (f) i GDPR.
                </p>
                <p class="mb-2">
                    Vi kan også behandle de oplysninger, du giver os, for at informere dig om juridiske, skattemæssige og økonomiske udviklinger, for at 
                    give dig andre interessante og vigtige oplysninger eller for at sende dig e-mails med teknisk information.
                </p>
                <p class="mb-2">
                    2) Vi er forpligtede efter handels- og skattelov til at opbevare din adresse, betalings- og ordreoplysninger i en periode på ti år. Efter tre år 
                    vil vi dog begrænse behandlingen, dvs. dine data vil kun blive brugt til at opfylde lovpligtige forpligtelser.
                </p>
                <p class="mb-2">Åsgårdsstrand, 28.08.2023</p>
            </div>
        </div>
    </main>

    
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne side bruger cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vores side bruger vi cookies til at forbedre brugeroplevelsen, optimere websiden, og til markedsføring.
                    Ved at give samtykke accepterer du, hvordan vi bruger cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Acceptér</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Afvis</button>
                <button type="button" class="btn" id="customizeBtn">Tilpas cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne side bruger cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke slås fra</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies bruges til grundlæggende funktioner som side-navigation 
                        og for at få adgang til beskyttede dele af websiden. Websiden kan ikke fungere tilfredsstillende uden disse cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookie hjælper os med at finde brugere, der er interesserede i information om forskellige emner, 
                        så vi kan give dig relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Gem ændringer og luk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Læs mere</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Følg os</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Abonner på vores nyhedsbrev</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-mail" required>
                        <button type="submit" class="irsubscription" data-language="English">Abonner</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakt os</h4>
                    <p><i class="fas fa-envelope"></i> E-mail: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
</body>
</html>