<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - FAQ</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/faq.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html"></i>Hjem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om Oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="search.html">Finn Din Match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="faq.html">Ofte Stilte Spørsmål</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakt Oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Languages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelsk</a>
                                <a class="dropdown-item" href="index.html">Norsk</a>
                                <a class="dropdown-item" href="../sv/index.html">Svensk</a>
                                <a class="dropdown-item" href="../dk/index.html">Dansk</a>
                                <a class="dropdown-item" href="../fi/index.html">Finsk</a>
                                <a class="dropdown-item" href="../is/index.html">Islandsk</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">German</a>
                                <a class="dropdown-item" href="../fr/index.html">French</a>
                                <a class="dropdown-item" href="../es/index.html">Spanish</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container faqcontainer mt-5">
        <h1 class="text-center mb-4">Ofte Stilte Spørsmål</h1>

        <input type="text" id="faqSearch" placeholder="Søk etter et spørsmål...">
        
        <div class="accordion" id="faqAccordion">
            <!-- FAQ Item 1 -->
            <div class="card">
                <div class="card-header" id="faqHeading1">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                            <i class="fas fa-chevron-down"></i>  Hva er Instaraising?
                        </button>
                    </h2>
                </div>
    
                <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising er en nettbasert plattform designet for å koble sammen givere med veldedige organisasjoner over hele verden. Vår misjon er å gjøre gavegivning mer effektiv og bidra betydelig til å redusere global ekstrem fattigdom. 
                    </div>
                </div>
            </div>
    
            <!-- FAQ Item 2 -->
            <div class="card">
                <div class="card-header" id="faqHeading2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                            <i class="fas fa-chevron-down"></i>  Hvordan fungerer Instaraising? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising lar givere oppdage og knytte seg til ulike veldedige organisasjoner og formål. Givere kan direkte finansiere prosjekter eller formål de brenner for, og organisasjoner kan fremme sine initiativer og motta støtte gjennom nettsiden vår. 
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="card-header" id="faqHeading3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                            <i class="fas fa-chevron-down"></i>  Hvilke formål støtter Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi støtter et bredt spekter av formål, inkludert krisehåndtering, humanitær hjelp, utdanning, helse, samfunnsutvikling, barns velferd, menneskerettigheter, miljøvern, og mange flere. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                            <i class="fas fa-chevron-down"></i>  Hvordan skiller Instaraising seg fra andre veldedighetsplattformer?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising skiller seg ut med sitt engasjement for å redusere global ekstrem fattigdom med målet om minst 5%. Vår plattform er utviklet for å være transparent, brukervennlig og for å maksimere effekten av hver donasjon. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading5">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                            <i class="fas fa-chevron-down"></i>  Er Instaraising en ideell organisasjon? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Nei, Instaraising fungerer som en samfunnsutviklingsorganisasjon under Peach Group, med hovedfokus på sosial innvirkning fremfor profitt.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading6">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg donere gjennom Instaraising? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse6" class="collapse" aria-labelledby="faqHeading6" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        For å donere, bare opprett en konto, utforsk listen over årsaker eller organisasjoner, og velg hva du ønsker å støtte. Vår plattform sikrer en trygg og problemfri donasjonsprosess. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading7">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse7">
                            <i class="fas fa-chevron-down"></i>   Kan veldedige organisasjoner samarbeide med Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse7" class="collapse" aria-labelledby="faqHeading7" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, absolutt. Veldedige organisasjoner kan søke om å bli listet på vår plattform. Etter godkjenning kan de motta donasjoner og støtte fra vårt globale giverfellesskap. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading8">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse8">
                            <i class="fas fa-chevron-down"></i>  Hvordan sikrer Instaraising legitimiteten til organisasjonene på sin plattform?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse8" class="collapse" aria-labelledby="faqHeading8" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi gjennomfører en omfattende og grundig vurderingsprosess for hver organisasjon, som inkluderer å verifisere deres juridiske status, misjon, økonomisk åpenhet og oppnådde resultater. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading9">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse9" aria-expanded="false" aria-controls="faqCollapse9">
                            <i class="fas fa-chevron-down"></i>  Er donasjoner gjennom Instaraising skattefradragsberettiget?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse9" class="collapse" aria-labelledby="faqHeading9" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Donasjoner via Instaraising kan være fradragsberettiget på skatten, avhengig av det enkelte lands skatteregler. Vi anbefaler å konsultere en skatteekspert for presis informasjon.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading10">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse10" aria-expanded="false" aria-controls="faqCollapse10">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg kontakte Instaraising for spørsmål eller partnerskap?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse10" class="collapse" aria-labelledby="faqHeading10" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Kontakt oss på info@instaraising.com eller besøk vår 'Kontakt oss'-side på nettsiden for spørsmål eller å diskutere partnerskap. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading11">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse11" aria-expanded="false" aria-controls="faqCollapse11">
                            <i class="fas fa-chevron-down"></i>  Hva er visjonen bak Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse11" class="collapse" aria-labelledby="faqHeading11" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising ble grunnlagt for å skape et mer sammenkoblet og effektivt veldedighetssystem. Vårt mål er å bruke digital innovasjon til å fremme meningsfull forandring og gi både givere og organisasjoner muligheten til effektivt å bidra til global velferd.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading12">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse12" aria-expanded="false" aria-controls="faqCollapse12">
                            <i class="fas fa-chevron-down"></i>  Hvem kan dra nytte av Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse12" class="collapse" aria-labelledby="faqHeading12" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Hovedmålgruppene for Instaraising er individuelle og institusjonelle givere som ønsker å støtte pålitelige formål, og verifiserte veldedige organisasjoner som trenger støtte til sine prosjekter. Plattformen vår er designet for å imøtekomme alle som ønsker å gjøre en positiv forskjell. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading13">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse13" aria-expanded="false" aria-controls="faqCollapse13">
                            <i class="fas fa-chevron-down"></i>  Hvordan sikrer Instaraising gjennomsiktighet og tillit? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse13" class="collapse" aria-labelledby="faqHeading13" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        For å sikre gjennomsiktighet, tilbyr vi detaljert informasjon om hver veldedig organisasjon, deres prosjekter, og midlenes bruk. Givere får løpende oppdateringer og rapporter om effekten av deres bidrag. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading14">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse14" aria-expanded="false" aria-controls="faqCollapse14">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg følge med på effekten av min donasjon på Instaraising? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse14" class="collapse" aria-labelledby="faqHeading14" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Donorer mottar regelmessige oppdateringer og effektrapporter om prosjektene de støtter. Disse rapportene gir detaljer om fremgang, resultater og den faktiske innvirkningen av bidragene. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading15">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse15" aria-expanded="false" aria-controls="faqCollapse15">
                            <i class="fas fa-chevron-down"></i>   Kan jeg bidra som frivillig eller tilby ikke-monetær støtte gjennom Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse15" class="collapse" aria-labelledby="faqHeading15" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, i tillegg til pengegaver planlegger Instaraising å legge til funksjoner for frivillig arbeid og andre former for ikke-monetær støtte, slik at brukerne kan engasjere seg i veldedige årsaker på ulike måter. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading16">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse16" aria-expanded="false" aria-controls="faqCollapse16">
                            <i class="fas fa-chevron-down"></i>  Hvilke tiltak tar Instaraising for å beskytte personlig og finansiell informasjon?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse16" class="collapse" aria-labelledby="faqHeading16" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi bruker avanserte sikkerhetstiltak, som kryptering og sikre serverforbindelser, for å beskytte dine personlige og finansielle opplysninger. Personvern og datasikkerhet er av største betydning i alle våre handlinger. 


                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading17">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse17" aria-expanded="false" aria-controls="faqCollapse17">
                            <i class="fas fa-chevron-down"></i>  Hvordan velger og kategoriserer Instaraising de sakene de støtter?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse17" class="collapse" aria-labelledby="faqHeading17" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Saker blir valgt basert på akutte globale behov og bærekraftige utviklingsmål. Vi kategoriserer dem i ulike sektorer, som utdanning, helse, menneskerettigheter osv., for å lette navigasjonen for givere. 
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="faqHeading18">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse18" aria-expanded="false" aria-controls="faqCollapse18">
                            <i class="fas fa-chevron-down"></i>  Samarbeider Instaraising med bedrifter for CSR-initiativer?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse18" class="collapse" aria-labelledby="faqHeading18" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, vi samarbeider aktivt med bedrifter for deres Corporate Social Responsibility (CSR)-initiativer. Vår plattform kan hjelpe selskaper med å identifisere, finansiere og spore sosiale prosjekter som er i tråd med deres CSR-mål. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading19">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse19" aria-expanded="false" aria-controls="faqCollapse19">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg holde meg oppdatert på Instaraisings aktiviteter og innvirkningshistorier?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse19" class="collapse" aria-labelledby="faqHeading19" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi oppfordrer deg til å følge oss på våre sosiale medier og abonnere på våre nyhetsbrev for jevnlige oppdateringer, innvirkningshistorier og innsikt i våre aktiviteter. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading20">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse20" aria-expanded="false" aria-controls="faqCollapse20">
                            <i class="fas fa-chevron-down"></i>  Hvordan kan jeg gi tilbakemeldinger eller forslag til å forbedre Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse20" class="collapse" aria-labelledby="faqHeading20" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi setter pris på din tilbakemelding og forslag. Vær vennlig å ta kontakt med oss via vårt nettsteds kontaktskjema eller direkte på info@instaraising.com. Din innsikt er viktig for vår kontinuerlige forbedring. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading21">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse21" aria-expanded="false" aria-controls="faqCollapse21">
                            <i class="fas fa-chevron-down"></i>  Hvordan sikrer Instaraising at min donasjon blir brukt som planlagt? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse21" class="collapse" aria-labelledby="faqHeading21" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi opprettholder streng tilsyn med bruken av midler. Hver organisasjon på vår plattform er påkrevd å gi detaljerte planer for hvordan donasjoner vil bli brukt, og de må sende inn regelmessige rapporter om fondallokering og prosjektframskritt. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading22">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse22" aria-expanded="false" aria-controls="faqCollapse22">
                            <i class="fas fa-chevron-down"></i>   Hvilken type finansiell åpenhet tilbyr Instaraising til sine givere?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse22" class="collapse" aria-labelledby="faqHeading22" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Finansiell åpenhet er en hjørnestein i våre operasjoner. Vi gir givere tilgang til finansielle rapporter, inkludert oppdeling av hvordan midler blir distribuert og brukt av veldedige organisasjoner. Dette sikrer at givere kan se den direkte effekten av sine bidrag. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading23">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse23" aria-expanded="false" aria-controls="faqCollapse23">
                            <i class="fas fa-chevron-down"></i>   Hvordan kan jeg bekrefte ektheten av veldedige organisasjoner på Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse23" class="collapse" aria-labelledby="faqHeading23" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi gjennomfører en omfattende vurderingsprosess for hver organisasjon på vår plattform. Dette inkluderer å verifisere deres juridiske status, økonomiske helse, operasjonell historie og innvirkningsspor. Kun organisasjoner som møter våre strenge kriterier blir oppført. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading24">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse24" aria-expanded="false" aria-controls="faqCollapse24">
                            <i class="fas fa-chevron-down"></i>  Er det administrative gebyrer trukket fra donasjoner på Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse24" class="collapse" aria-labelledby="faqHeading24" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi streber etter å maksimere effekten av dine donasjoner. Selv om det er minimale administrative gebyrer for driften av plattformen, sikrer vi gjennomsiktighet om disse gebyrene, og et betydelig flertall av hver donasjon støtter direkte den valgte årsaken. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading25">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse25" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  Hvor ofte oppdaterer Instaraising givere om fremgangen av finansierte prosjekter?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse25" class="collapse" aria-labelledby="faqHeading25" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Givere mottar regelmessige oppdateringer om prosjektene de støtter. Disse oppdateringene, som vanligvis gis på kvartalsbasis, inkluderer fremdriftsrapporter, nylige utviklinger og fremtidige planer. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading26">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse26" aria-expanded="false" aria-controls="faqCollapse26">
                            <i class="fas fa-chevron-down"></i>  Kan givere velge hvordan deres donasjoner brukes innenfor et spesifikt prosjekt eller organisasjon? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse26" class="collapse" aria-labelledby="faqHeading26" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, givere har fleksibiliteten til å spesifisere hvordan de ønsker at deres donasjon skal brukes. Organisasjoner på vår plattform skisserer ulike behov og prosjekter, slik at givere kan bidra til områder de er mest lidenskapelige om. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading27">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse27" aria-expanded="false" aria-controls="faqCollapse27">
                            <i class="fas fa-chevron-down"></i>  Gir Instaraising kvitteringer for donasjoner til skatteformål?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse27" class="collapse" aria-labelledby="faqHeading27" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ja, vi gir donasjonskvitteringer som kan brukes til skattefradrag. Skattefordelen avhenger imidlertid av giverens bostedsland og dets spesifikke skattelover.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading28">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse28" aria-expanded="false" aria-controls="faqCollapse28">
                            <i class="fas fa-chevron-down"></i>  I tilfelle en tvist eller bekymring om en donasjon, hvordan håndterer Instaraising det?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse28" class="collapse" aria-labelledby="faqHeading28" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Vi tar alle bekymringer eller tvister angående donasjoner veldig alvorlig. Givere kan kontakte vårt støtteteam direkte med eventuelle problemer, og vi sikrer en grundig og rettidig løsningsprosess. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading29">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse29" aria-expanded="false" aria-controls="faqCollapse29">
                            <i class="fas fa-chevron-down"></i>  Kan jeg spore den langsiktige effekten av min donasjon på Instaraising-plattformen? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse29" class="collapse" aria-labelledby="faqHeading29" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Absolutt. Vi oppfordrer til sporing av langsiktig innvirkning og gir årlige effektrapporter som illustrerer den vedvarende effekten av dine donasjoner på ulike prosjekter og årsaker. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading30">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse30" aria-expanded="false" aria-controls="faqCollapse30">
                            <i class="fas fa-chevron-down"></i>  Hvordan håndterer Instaraising refusjoner eller feil i donasjonsbehandlingen?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse30" class="collapse" aria-labelledby="faqHeading30" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        I tilfelle av feil i donasjonsbehandlingen eller hvis en refusjon er forespurt, er vårt støtteteam tilgjengelig for å hjelpe. Vi har en klar policy for å håndtere slike situasjoner for å sikre giveres tilfredshet og tillit.
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>

    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På siden vår bruker vi cookies til å forbedre brukeropplevelsen, optimalisere websiden, og for markedsføring.
                    Ved å samtykke, aksepterer du hvordan vi bruker cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkjenn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Avslå</button>
                <button type="button" class="btn" id="customizeBtn">Tilpass cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke skrus av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies brukes til grunnleggende funksjoner som side-navigering og for å få tilgang til beskyttede 
                        deler av websiden. Websiden kan ikke fungere tilfredsstillende uten disse cookiene.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookien hjelper oss med å finne brukere som er interesserte i informasjon om forskjellige emner, 
                        sånn at vi gi deg relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Lagre og lukk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Les mer</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Følg oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Abonner på nyhetsbrevet vårt </h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Abonner</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakt oss </h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/faq.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
</body>
</html>