<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Privacy</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Hjem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om Oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Finn Din Match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Ofte Stilte Spørsmål</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contactus.html">Kontakt Oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelsk</a>
                                <a class="dropdown-item" href="index.html">Norsk</a>
                                <a class="dropdown-item" href="../sv/index.html">Svensk</a>
                                <a class="dropdown-item" href="../dk/index.html">Dansk</a>
                                <a class="dropdown-item" href="../fi/index.html">Finsk</a>
                                <a class="dropdown-item" href="../is/index.html">Islandsk</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">Tysk</a>
                                <a class="dropdown-item" href="../fr/index.html">Fransk</a>
                                <a class="dropdown-item" href="../es/index.html">Spansk</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container privacycontainer">
            <div class="content">
                <h1 class="mainheading mt-5">Personvernerklæring for Instaraising</h1>
            </div>
            <div class="content">
                <p>Instaraising drives av Peach Group AS.</p>
                <p>Her beskriver Peach Group AS hvordan Peach Group AS samler inn og bruker informasjon om besøk på våre nettsider. </p>
                <p>
                    Det er Datatilsynet som er klageinstans ved feil i behandlinger av personopplysninger, men har du spørsmål knyttet til 
                    personvern på våre nettsider kan du gjerne kontakte oss på e-postadressen <a href="mailto:ir-contact@instaraising.com" class="linkpages">ir-contact@instaraising.com</a>
                </p>
            </div>
            <div class="content">
                <h2>Personvern hos Peach Group AS </h2>
                <p class="mb-2">
                    Når du registrerer dine personopplysninger hos oss skal du være trygg på at vi behandler disse på en trygg måte. Vi har 
                    ansvaret for at de opplysningene vi har om deg ivaretas i samsvar med personvernlovgivningen. 
                </p>
                <p class="mb-2">
                    <a href="https://lovdata.no/dokument/NL/lov/2018-06-15-38" class="linkpages">Lov om behandling av personopplysninger (personopplysningsloven) </a>
                </p>
            </div>
            <div class="content">
                <h2>Våre mål for beskyttelse av personopplysninger </h2>
                <p class="mb-2">
                    All behandling av personopplysninger Peach Group AS gjør skal være i henhold til gjeldende regelverk. Vi skal ikke behandle 
                    personopplysninger i større utstrekning enn det som er nødvendig for å oppfylle Peach Group AS sine formål.  
                </p>
                <p class="mb-2">
                    Når du, uavhengig av din tilknytning til oss, gir oss dine personopplysninger er din tillit avgjørende. Vi skal følge 
                    alle prinsippene for behandling av personopplysninger i personopplysningsloven: 
                </p>
                <ul>
                    <li class="listclass">Lovlighet, rettferdighet og åpenhet: Vi skal behandle personopplysninger i henhold til gjeldende lover og regler, 
                        slik at opplysninger beskyttes og dine rettigheter med hensyn til innsyn, retting og sletting varetas. Vi holder oss til de lovlige 
                        formålene med behandlingene og vi informerer om disse.
                    </li>
                    <li class="listclass">
                        Dataminimering: Vi behandler ikke flere personopplysninger enn vi trenger til formålene. 
                    </li>
                    <li class="listclass">
                        Lagringsbegrensning: Vi oppbevarer personopplysninger bare så lenge vi må, og vi deler dem ikke med uvedkommende. Vi dokumenterer 
                        hvordan ulike typer opplysninger kan behandles, og vi holder oss til dette. 
                        Personopplysninger skal bare oppbevares i vår organisasjon på måter vi har god nok kontroll på. 
                    </li>
                    <li class="listclass">
                        Integritet og konfidensialitet: Så lenge vi behandler personopplysningene har vi fokus på å beskytte dem godt. Vi vurderer 
                        beskyttelsesbehovet til alle personopplysninger vi behandler. Vi jobber systematisk med tiltak og forbedringer som beskytter 
                        personopplysningene. Vi skal ha stadig bedre kontroll på at personopplysninger er korrekte og at bare de som skal ha tilgang til dem får tilgang. 
                    </li>
                </ul>
                <p class="mb-2">
                    Hele organisasjonen bidrar til dette. Vi har mange interne retningslinjer for behandling av personopplysninger i administrasjon, 
                    utdanning og forskning, men alle hviler på disse prinsippene. Vi dokumenterer all vår behandling av personopplysninger og vi vurderer 
                    jevnlig om behandlingen fortsatt er i tråd med prinsippene våre og med etiske hensyn, god arbeidsetikk og vår taushetsplikt. 
                </p>
                <p class="mb-2">
                    Vi gjør ansatte kjent med disse prinsippene, og de ansatte tar hensyn til ditt privatliv. Den enkelte ansatte har bare tilgang til opplysninger 
                    som er nødvendige for å utføre sitt arbeid, og behandler alle opplysningene i tråd med våre prinsipper og retningslinjer. 
                </p>
            </div>
            <div class="content">
                <h2>Når behandler vi personopplysninger om deg?</h2>
                <p class="mb-2">
                    Hos Peach Group AS behandles personopplysninger for administrative-, arkiv og regnskapsmessige formål. Som hovedregel behandler vi 
                    personopplysninger om deg som er; 
                </p>
                <ul>
                    <li class="listclass">Kunde </li>
                    <li class="listclass">Ansatt (jobbsøker, ansatt og tidligere ansatt) </li>
                    <li class="listclass">Deltager ved kurs og arrangementer </li>
                    <li class="listclass">Nyhetsbrev </li>
                    <li class="listclass">Besøker nettsidene våre</li>
                </ul>
            </div>
            <div class="content">
                <h2>Hvem deler vi personopplysninger med?</h2>
                <p class="mb-2">
                    Vi kan dele personopplysninger eller eksportere data som inneholder personopplysninger til andre systemer, der det anses som nødvendig. 
                    I noen tilfeller er vi også lovpålagt til å utlevere personopplysninger til en del offentlige instanser. 
                </p>
                <p class="mb-2">
                    Nærmere informasjon om hvem vi deler opplysningene dine med finner du i hver enkelt personvernerklæring.
                </p>
            </div>
            <div class="content">
                <h2>Hvor lenge oppbevarer vi opplysningene dine? </h2>
                <p class="mb-4">
                    Opplysninger vil bli som hovedregel bli slettet når vi ikke lenger har behandlingsgrunnlag for personopplysningene, med mindre 
                    det er en lovpålagt plikt å oppbevare dem lenger, som for eksempel etter arkiv- eller regnskapsloven. Informasjon om lagringstiden 
                    av personopplysninger finner du hver enkelt personvernerklæring. 
                </p>
            </div>
            <div class="content">
                <h2>Automatiserte behandlinger</h2>
                <p class="mb-2">
                    I noen tilfeller utfører vi behandling av dine personopplysninger som er delvis automatisk eller helautomatisert. Nærmere informasjon om 
                    av automatiserte avgjørelser finner du i den enkelte personvernerklæring. 
                </p>
            </div>
            <div class="content">
                <h2>Dine rettigheter </h2>
                <p class="mb-2">
                    Du som registrert har krav på å få vite hvilke personopplysninger som er registrert om deg hos Peach Group AS og hvordan disse blir behandlet. 
                    Du har også rett til å kreve retting, sletting, begrensning av personopplysningene og til å protestere mot behandlingen. 
                    <a href="https://www.datatilsynet.no/rettigheter-og-plikter/den-registrertes-rettigheter/" class="linkpages">Oversikt og informasjon over alle rettighetene du har finner du på Datatilsynets nettsider.</a>
                    Du kan utøve dine rettigheter ved å ta kontakt med oss. 
                    Du har krav på svar uten ugrunnet opphold og senest innen 30 dager. 
                </p>
            </div>
            <div class="content">
                <h2>Hvordan kan du bidra? </h2>
                <p class="mb-2">
                    Du kan selv også bidra til at dine personopplysninger beskyttes ved å unngå å sende sensitiv informasjon til oss via e-post eller sosiale medier. 
                    Dette kan være helseopplysninger, fødselsnummer, PIN-koder, engangskoder, passord og bank- og kredittkortnummer og lignende. Bruk i stedet digital 
                    postkasse (Digipost eller eBoks) for å sende slik informasjon til oss.
                </p>
            </div>
            <div class="content">
                <h2>Kontaktinformasjon </h2>
                <p class="mb-2">
                    Peach Group AS har et eget personvernombud som du kan kontakte hvis du har spørsmål om vår behandling av personopplysninger eller om du trenger råd 
                    og veiledning. Personvernombudet har taushetsplikt. Ta kontakt med vårt ombud på <a href="mailto:ir-contact@instaraising.com" class="linkpages">ir-contact@instaraising.com</a>
                </p>
            </div>
            <div class="content">
                <h2>Cookies</h2>
                <p class="mb-2">
                    Peach Group AS benytter som de fleste andre nettsteder sporingskoder (trackere) og informasjonskapsler (cookies). Informasjonskapsler er små 
                    informasjonsfiler som blir liggende igjen på datamaskinen din for at nettsidene våre skal virke best mulig. Førsteparts informasjonskapsler er 
                    nødvendige for at websiden skal fungere. Tredjeparts informasjonskapsler blir brukt til analyser, markedsføring og personalisering 
                    (GDPR art. 6 nr.1 bokstav f). 
                </p>
                <p class="mb-2">
                    På <a href="https://nettvett.no/" class="linkpages">www.nettvett.no</a>  kan du lese om hvordan du <a href="https://nettvett.no/veiledninger/sikrere-bruk/internett/" class="linkpages">stiller inn nettleseren for å godta/avvise informasjonskapsler, og få tips til sikrere bruk av internett. 
                        På denne nettsiden vil du også finne informasjon om hvordan interessebasert markedsføring fungerer, få mer informasjon om informasjonskapsler (cookies)
                        samt hvordan du kan beskytte din personlige informasjon. </a>
                </p>
            </div>
            <div class="content">
                <h2>Her er en oversikt over hvilke cookies som brukes på Peach Group AS sine nettsider</h2>
                <p class="mb-2">
                    <table>
                        <tr>
                            <th>Cookie Name</th>
                            <th>Description</th>
                            <th>Validity</th>
                        </tr>
                        <tr>
                            <td>BNI_PEACHGROUP NSLBS</td>
                            <td>
                                Når du med din nettleser forsøker å nå våre nettsider kommer du først til en lastbalanserer (Barracuda Load Balancer) som 
                                legger inn en cookie på utgående respons. Denne cookien oversendes hver gang 
                                du navigerer på våre nettsider. Lastbalansereren fjerner deretter 
                                informasjonskapselen og leder deg videre til korrekt webserver (se også CorePublishSession). 
                            </td>
                            <td>1 time - br lastbalanse sticky sess</td>
                        </tr>
                        <tr>
                            <td>CorePublishSession</td>
                            <td>
                                Denne cookien brukes for at vår publiseringsløsning (CorePublish)
                                skal fungere og gi deg innhold på nettsiden. Verdien i cookien er 
                                en tilfeldig generert rekke med bokstaver og tall og inneholder  
                            </td>
                            <td>Evig, men fra server bar timers inak </td>
                        </tr>
                        <tr>
                            <td>ctcdk</td>
                            <td>
                                Brukes av vår publiseringsløsning CorePublish og inneholder informasjon om hvilken enhet og hvilken nettleser du bruker, slik at nettsidene våre kan presentere 
                                innhold til riktig type enhet (pc, mobil, nettbrett, etc.). 
                            </td>
                            <td>uke.</td>
                        </tr>
                        <tr>
                            <td>
                                _ga og _ga_* 
                            </td>
                            <td>
                               <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" class="linkpages">Brukes av Google Analytics for å skille ulike brukere fra hverandre</a>  og å lagre anonymisert statistikk.
                            </td>
                            <td>
                                år 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                _gid 
                            </td>
                            <td>
                                <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" class="linkpages">Brukes av Google Analytics for å skille brukere fra hverandre</a> 
                            </td>
                            <td>
                                timer 
                            </td>
                        </tr>
                        <tr>
                            <td>_gat* </td>
                            <td>
                                <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/display-features" class="linkpages">Identifiserer Peach Group AS sine Google Analytics-konto.</a> Lagrer ikke brukerinfo, men begrenser antall spørringer som må gjøres mot 
                                doubleclick.net (Googleannonsering). 	 
                            </td>
                            <td>minutt</td>
                        </tr>
                        <tr>
                            <td>gcl_au </td>
                            <td>
                                Brukes av Google AdSense for å måle resultat av annonser som Peach Group AS har i Google 
                            </td>
                            <td>
                                måneder
                            </td>
                        </tr>
                        <tr>
                            <td>nmstat</td>
                            <td>Brukes av verktøyet Siteimprove for innhenting av analysedata ved besøk på nettsidene. </td>
                            <td>månede</td>
                        </tr>
                        <tr>
                            <td>_fbp og _fbc </td>
                            <td>
                                <a href="https://www.facebook.com/privacy/policies/cookies/?entry_point=cookie_policy_redirect&entry=0" class="linkpages">
                                    Brukes for å måle resultat av annonser</a>som Startfinans kjører på Facebook. 
                            </td>
                            <td>
                                dager 
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>ingen informasjon. 
                                (Eksempel på verdi: admjn35ef979tatltnglptm511)  
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>Cookie navn </th>
                            <th>Beskrivelse </th>
                            <th>Gyldigh</th>
                        </tr>
                        <tr>
                            <td>_scid </td>
                            <td><a href="https://snap.com/en-GB/privacy/cookie-information" class="linkpages">Brukes for å måle besøk fra Snapchat. </a></td>
                            <td>1 år </td>
                        </tr>
                    </table>
                </p>
            </div>
            <div class="content">
                <h2>Slik kan du unngå Cookies </h2>
                <p class="mb-2">
                    Om du ønsker å unngå bruk av informasjonskapsler kan du stille inn din nettleser til å ikke akseptere disse. Se nettleserens hjelpesider for 
                    innstillinger. Vær oppmerksom på at dersom du velger å utelukke informasjonskapsler, kan du få problemer med å få innhold opp på nettsiden. 
                    Dette gjelder spesielt de informasjonskapslene som kommer fra publiseringsløsningen vår CorePublish og er beskrevet i tabellen over. 
                </p>
            </div>
            <div class="content">
                <h2>Analyse – Besøk og søk på nettsidene </h2>
                <p class="mb-2">
                    Som en del av arbeidet vårt for å lage et best mulig nettsted bruker vi flere analyseverktøy (GDPR art. 6 nr.1 bokstav f). Søk på våre nettsider 
                    og sidebesøk blir logget av: 
                </p>
                <ul>
                    <li class="listclass"><a href="https://policies.google.com/privacy?hl=no" class="linkpages">Google Analytics og Google Tagmanager - Personvernregler</a> </li>
                    <li class="listclass"><a href="https://www.facebook.com/privacy/policies/cookies/?entry_point=cookie_policy_redirect&entry=0" class="linkpages">Facebook Pixels – Personvernregler</a></li>
                    <li class="listclass"><a href="https://www.siteimprove.com/blog" class="linkpages">Siteimprove – Privacy Policy</a></li>
                    <li class="listclass"><a href="https://support.google.com/searchads/answer/7298761?hl=en" class="linkpages">DoubleClick – Floodlight </a></li>
                    <li class="listclass"><a href="https://wiki.xandr.com/display/api/Conversion+Pixel+Service" class="linkpages">Xander - Universal Pixel </a></li>
                    <li class="listclass"><a href="https://businesshelp.snapchat.com/s/article/snap-pixel-faq?language=en_US" class="linkpages">Snap Pixel </a></li>
                </ul>
                <p class="mb-2">
                    Vi bruker Google Analytics til å samle inn besøksstatistikk på våre nettsider. Vi lagrer ikke personsensitive data her (som for eksempel IP-adresser). Data lagres i 50 måneder. 
                </p>
                <p class="mb-2">
                    Vi bruker facebooks «piksel» – som måler trafikk mellom facebook og våre nettsider. Vi bruker dataen som samles inn av pikselen til å levere spesialtilpasset innhold til dem som besøker våre nettsider, og til markedsføring på facebook. Facebook Pixel blir lagt inn gjennom Google Tagmanager. 
                </p>
                <p class="mb-2">
                    Siteimprove er et verktøy vi bruker for å kontrollere kvaliteten på nettsidene våre. Blant annet avdekker Siteimprove brutte lenker og skrivefeil, samtidig som verktøyet foreslår forbedringer i koding for å sikre universell utforming og søkemotoroptimalisering. Siteimprove lagrer også besøksstatistikk. 
                </p>
                <p class="mb-2">
                    Vi bruker DoubleClick Floodlight for å spore handlinger du utfører på våre nettsider etter du har sett eller klikket på våre annonser levert gjennom DoubleClick på facebook og Google. Etterpå gjenbruker vi disse dataene til å gi deg tilpassede annonser. DoubleClick blir lagt inn gjennom Google Tagmanager. 
                </p>
                <p class="mb-2">
                    Vi bruker Xander - Universal Pixel for å spore din bruk av våre nettsider, slik at vi kan målrette våre annonser mot deg på annonsørnettsteder (som Facebook og Google). Xander blir lagt inn gjennom Google Tagmanager. 
                </p>
                <p class="mb-2">
                    Vi bruker Snap Pixel for å spore trafikk fra Snapchat til våre nettsider. Dette gjør vi for å måle i hvilken grad innleggene våre på Snachat har effekt. Snap Pixel blir lagt inn gjennom Google Tagmanager. 
                </p>
            </div>
            <div class="content">
                <h2>Nyhetsbrev </h2>
                <p class="mb-2">
                    Det er mulig å abonnere på nyhetsbrev fra våre nettsider. For at vi skal sende e-post til riktig person, må vi registrere ditt navn og e-postadresse. Disse opplysningene deles ikke med andre virksomheter og slettes når vi får beskjed om at du ikke lenger ønsker å motta informasjon fra oss. Opplysningene slettes også om vi får tilbakemelding om at e-postadressen ikke lenger er aktiv. Vi bruker Mailchimp for utsendelser av nyhetsbrev. 
                </p>
                <p class="mb-2">
                    <a href="https://mailchimp.com/legal/privacy/" class="linkpages">Mailchimp – Privacy Policy</a>
                </p>
            </div>
            <div class="content">
                <h2>Deling </h2>
                <p class="mb-2">
                    Vi har delingsikoner for deling av lenker til Facebook og Twitter. Opplysninger om tips logges ikke hos oss og brukes kun der og da til å legge inn tipset hos nettsamfunnet. Du må regne med at disse nettsamfunnene logger opplysninger om ditt bruk. De har behandlingsansvaret for sin egen virksomhet. Se deres personvernerklæringer. 
                </p>
            </div>
            <div class="content">
                <h2>Sider med påmeldingsskjema </h2>
                <p class="mb-2">
                    Når du melder deg på kurs og arrangementer kan vi be deg om opplysninger som navn, organisasjon, adresse, e-post, fakturareferanser og lignende (GDPR art. 6 nr.1 bokstav c). Disse opplysningene deles ikke med andre, og slettes når vi ikke lenger har bruk for dataene. 
                </p>
            </div>
            <div class="content">
                <h2>Innebygging av innhold fra andre nettsteder </h2>
                <p class="mb-2">
                    På enkelte sider bygger vi innhold vi har publisert på andre plattformer. Det kan for eksempel være 
                    <a href="https://www.youtube.com/channel/UCih20sJ9gvs7Knn4n1BDcXA" class="linkpages"> filmer fra Youtube, innhold fra facebook, bilder fra Instagram eller brosjyrer i Issue. </a>
                </p>
                <p class="mb-2">
                    Du har rett til å be oss om innsyn i opplysningene og korrigering av eventuelle feil, eller eventuelt sletting av personopplysninger eller begrensning av behandlingen som gjelder deg, eller til å protestere mot behandlingen.  Det er ikke etablert egne sletterutiner for saker som lagres i vårt system for håndtering av henvendelser, Pureservice. Dersom du mener at behandlingen krenker ditt personvern kan du klage til Datatilsynet. Spør gjerne vårt personvernombud om dette. 
                </p>
            </div>
            <div class="content">
                <h2>Søknad på ledig stilling </h2>
                <p class="mb-2">
                    Vår personal- og organisasjonsavdeling behandler dine personopplysninger i forbindelse med søknad på ledig stilling hos oss. Har du spørsmål om 
                    behandlingen kan du kontakte Seksjon for rekruttering og personalforvaltning på epost <a href="mailto:ir-contact@instaraising.com" class="linkpages">ir-contact@instaraising.com</a>. 
                    Du kan også kontakte <a href="mailto:ir-contact@instaraising.com" class="linkpages">ir-contact@instaraising.com</a> dersom du har spørsmål omkring personvernet i behandlingen. De rettslige grunnlaget for behandlingen er allmenhetens interesser. Opplysningene om deg er alt av opplysninger du oppgir om deg selv i søknad, CV og eventuelle vedlegg som lastes opp. 
                </p>
                <p class="mb-2">
                    Ved søknad på stillinger oppnevnes det et sakkyndig utvalg for vurdering av søkernes kompetanse for den enkelte stilling, jf. Startfinans sine retningslinjer for ansettelser. Opplysningene lagres ikke for en lengre periode enn to år. Du har rett til å be oss om innsyn i opplysningene og korrigering av eventuelle feil, eller eventuelt sletting av personopplysninger eller begrensning av behandlingen som gjelder deg, eller til å protestere mot behandlingen. Dersom du mener at behandlingen krenker ditt personvern kan du klage til Datatilsynet. Spør gjerne vårt personvernombud om dette. 
                </p>
            </div>
        </div>
    </main>

    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På siden vår bruker vi cookies til å forbedre brukeropplevelsen, optimalisere websiden, og for markedsføring.
                    Ved å samtykke, aksepterer du hvordan vi bruker cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkjenn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Avslå</button>
                <button type="button" class="btn" id="customizeBtn">Tilpass cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke skrus av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies brukes til grunnleggende funksjoner som side-navigering og for å få tilgang til beskyttede 
                        deler av websiden. Websiden kan ikke fungere tilfredsstillende uten disse cookiene.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookien hjelper oss med å finne brukere som er interesserte i informasjon om forskjellige emner, 
                        sånn at vi gi deg relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Lagre og lukk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Les mer</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Følg oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Abonner på nyhetsbrevet vårt </h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Abonner</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakt oss </h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
    
</body>
</html>