<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Our partners and donors</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/projects.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Hjem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>Om Oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Finn Din Match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Ofte Stilte Spørsmål</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Kontakt Oss</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Språk
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Engelsk</a>
                                <a class="dropdown-item" href="index.html">Norsk</a>
                                <a class="dropdown-item" href="../sv/index.html">Svensk</a>
                                <a class="dropdown-item" href="../dk/index.html">Dansk</a>
                                <a class="dropdown-item" href="../fi/index.html">Finsk</a>
                                <a class="dropdown-item" href="../is/index.html">Islandsk</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">Tysk</a>
                                <a class="dropdown-item" href="../fr/index.html">Fransk</a>
                                <a class="dropdown-item" href="../es/index.html">Spansk</a>
                                Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="partnerheading">
        <div class="content-text-left">
            <div class="container introduction">
                <h1 class="mainheading"> Prosjekter & Programmer</h1>
                <p class="linetext">Hos Instaraising og våre partnere er vi dedikerte til å skape meningsfull endring gjennom en rekke prosjekter og programmer. Vi er entusiastiske over hvordan Instaraising kan bidra til å hjelpe ulike samfunn og mennesker.</p>
            </div>
        </div>
        <div class="content-text-right">
            <img src="../../img/Education.png" width="100%" alt="">
        </div>
    </section>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom benifitmainheading">Nåværende Prosjekter</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Fremtidige tiltak</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">Instaraising og våre partnere jobber aktivt med å utvikle ulike prosjekter og programmer. Våre fokusområder vil inkludere å gi tilgang til rent vann, forbedre utdanningsmuligheter, og forbedre helsevesenet i underutviklede regioner.</p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Lær mer
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Prosjektutvikling</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">For øyeblikket er våre team engasjert i grundig planlegging og utforming av ulike prosjekter. Samarbeid med eksperter, samfunn og potensielle partnere er i gang for å sikre at prosjektene er bærekraftige, effektive og virkelig nytter.</p>
                    </div>
                    <a href="#" class="btn custombtn">
                        Lær mer
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Følg med for oppdateringer</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">Detaljer om våre kommende prosjekter og hvordan du kan engasjere deg og støtte disse årsakene vil bli annonsert snart.</p>
                    </div>
                    <a href="#" class="btn custombtn">
                        Lær mer
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom benifitmainheading">Ser fremover</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Samfunnsengasjement</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Prosjektene til Instaraising og våre partnere vil være sentrert rundt engasjement med samfunn for å adressere deres spesifikke behov.</p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Lær mer
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Partnerskap og Samarbeidsinnsats</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Vi er forpliktet til å bygge sterke partnerskap for å øke rekkevidden og påvirkningen av våre programmer.</p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Lær mer
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Bruk av Instaraising</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Med Instaraising forventer vi å koble oss til et bredere publikum av givere og støttespillere, og øke våre felles anstrengelser for å drive positiv endring.</p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Lær mer
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>

    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På siden vår bruker vi cookies til å forbedre brukeropplevelsen, optimalisere websiden, og for markedsføring.
                    Ved å samtykke, aksepterer du hvordan vi bruker cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkjenn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Avslå</button>
                <button type="button" class="btn" id="customizeBtn">Tilpass cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke skrus av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies brukes til grunnleggende funksjoner som side-navigering og for å få tilgang til beskyttede 
                        deler av websiden. Websiden kan ikke fungere tilfredsstillende uten disse cookiene.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookien hjelper oss med å finne brukere som er interesserte i informasjon om forskjellige emner, 
                        sånn at vi gi deg relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Lagre og lukk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Les mer</button>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Følg oss</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Abonner på nyhetsbrevet vårt </h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Din E-post" required>
                        <button type="submit" class="irsubscription" data-language="English">Abonner</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Kontakt oss </h4>
                    <p><i class="fas fa-envelope"></i> E-post: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Telefon: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../public/js/header.js"></script>
</body>
</html>