<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - I am a InstaRaiser</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/community.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="aboutus.html"></i>About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Find Match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Languages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="index.html">English</a>
                                <a class="dropdown-item" href="../no/index.html">Norwegian</a>
                                <a class="dropdown-item" href="../sv/index.html">Swedish</a>
                                <a class="dropdown-item" href="../dk/index.html">Danish</a>
                                <a class="dropdown-item" href="../fi/index.html">Finnish</a>
                                <a class="dropdown-item" href="../is/index.html">Icelandic</a>
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    
    <section class="intaraiserheading">
        <div class="content-text-left">
            <h1 class="mainheading"> I’m an Instaraiser!</h1>
            <p class="lines">Congratulations, you are now an Instaraiser!  </p>
            <p class="lines">
                Congratulations! You have just taken a meaningful step in making a positive impact on the world. By using our web portal to find a charity organization that works with what you are passionate about, and making a generous donation, you have earned the prestigious digital badge "I’m an Instaraiser!". 
            </p>
            
        </div>
        <div class="content-text-right">
            <div class="irbadge">
                <img src="../../img/IR_mailtag.png" alt="IR badge"  class="irbadgeimg" width="200">
            </div>
            
        </div>
    </section>

    <section class="intaraisermean">
        <div class="content-text">
            <h2 class="subheading">What does it mean to be an Instaraiser?  </h2>
            <!-- <p><em>"Embark on Your InstaRaising Journey"</em></p> -->
            <p class="lines">As an Instaraiser, you are part of a community of empathetic individuals who believe in giving back. This badge shows your commitment to supporting causes that matter to you. But it's more than just a badge – it's a symbol of your dedication to creating a better world.  </p>
        </div>
        <div class="contextimg">
            <img src="../../img/community.png" alt="InstaRaiser Image" class="content-image">
        </div>
        
    </section>


    <div class="container comunitycontainer">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <h3 class="subheading"> Share your badge</h3>
                </div>
                <div class="row">
                    <p class="lines">
                        Share your "I’m an Instaraiser!" badge on social media and inspire others to become Instaraisers themselves. Your commitment to charity can inspire positive change and encourage others to get involved.  
                    </p>
                </div>
                <div class="row">
                    <ul>
                        <li>
                            <h3 class="subheading">Stay tuned for more</h3>
                             
                            We are continuously working on new initiatives and partnerships to expand our community's impact. As an Instaraiser, you will be among the first to hear about exciting opportunities to make an even bigger difference.  
                        </li>
                        <li>
                            <h3 class="subheading">Thank you for being an Instaraiser</h3>
                            Your support and dedication make a real difference in the lives of those who need it the most. We couldn't have done this without you. Thank you for being an Instaraiser and for helping us change the world, one kind-hearted act at a time.  
                        </li>
                        <li>
                            <h3 class="subheading">Get Started</h3>
                            Ready to continue your journey as an Instaraiser? Explore our web portal, discover more charity organizations, and keep the spirit of giving alive.  
                        </li>
                        
                    </ul>
                </div>
            </div>
            <!-- <div class="col-3">
                <img src="../../img/IRbadge.png" alt="IR badge"  class="irbadgeimg">
            </div> -->
        </div>
    </div>

   
    <section class="cta-section mb-5"> 
        <!-- <p class="lines">Ready to make a difference? Become an InstaRaiser today and be part of a community that believes in change. Together, we can create a better world.</p> -->
            <a href="#" class="cta-btn">Apply Now</a>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>This page uses cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    On our website we use cookies to improve the user experience, optimize our website and for marketing.
                    By clicking accept, you agree to our use of these cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Approve</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Decline</button>
                <button type="button" class="btn" id="customizeBtn">Customize cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>This page uses cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Necessary cookies - cannot be turned off</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Necessary cookies handle basic functions such as page navigation and access to secure areas of the website.The website can not
                        function optimally without these cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marketing</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        This cookie helps us to find users who are intrested in information on various topics so that we can 
                        provide you with relevant advertisments from us.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Save and Close</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Read more</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Follow Us</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Subscribe to Our Newsletter</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Your Email" required>
                        <button type="submit" class="irsubscription" data-language="English">Subscribe</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Contact Us</h4>
                    <p><i class="fas fa-envelope"></i> Email: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Phone: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- core  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/home.js"></script>
    
    <script src="../../public/js/header.js"></script>
    
</body>
</html>