<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Contact Us</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/contactus.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Find Match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Languages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="index.html">English</a>
                                <a class="dropdown-item" href="../no/index.html">Norwegian</a>
                                <a class="dropdown-item" href="../sv/index.html">Swedish</a>
                                <a class="dropdown-item" href="../dk/index.html">Danish</a>
                                <a class="dropdown-item" href="../fi/index.html">Finnish</a>
                                <a class="dropdown-item" href="../is/index.html">Icelandic</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">German</a>
                                <a class="dropdown-item" href="../fr/index.html">French</a>
                                <a class="dropdown-item" href="../es/index.html">Spanish</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="contactimg">
        <div class="imagecontainer">
            <img src="../../img/contact-us.jpeg" alt="contactus">
        </div>
    </section>

    <div class="container contactcontainer mb-5">
        <div class="row managecontent">
            <div class="row heading">
                <h1>Contact Us</h1>
            </div>
            
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="name" class="contactlabel">Name <span class="mustfill">*</span></label>
                    <input type="text" id="name" name="name" class="formfields" required>
                </div>
                <div class="form-group">
                    <label for="phone" class="contactlabel">Phone <span class="mustfill">*</span></label>
                    <input type="tel" id="phone" name="phone" class="formfields" required>
                </div>
                <div class="form-group">
                    <label for="email" class="contactlabel">Email <span class="mustfill">*</span></label>
                    <input type="email" id="email" name="email" class="formfields" required>
                </div>
                <div class="form-group">
                    <label for="message" class="contactlabel">Message <span class="mustfill">*</span></label>
                    <textarea id="message" name="message" class="formfields" rows="4" required></textarea>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="privacy-policy" name="privacy-policy" required>
                    <label for="privacy-policy" class="contactlabel">I have read and agree to the <a href="privacy.html" class="linkstyle">Privacy Policy</a> <span class="mustfill">*</span></label>
                </div>
                <!--<div class="checkbox-group">
                    <input type="checkbox" id="terms-and-conditions" name="terms-and-conditions" required>
                    <label for="terms-and-conditions" class="contactlabel">I have read and agree to the <a href="/terms-and-conditions" class="linkstyle">Terms and Conditions</a></label>
                </div>-->
                <div class="checkbox-group mb-2">
                    <input type="checkbox" id="subscribe-newsletter" name="subscribe-newsletter">
                    <label for="subscribe-newsletter" class="contactlabel">Subscribe to our newsletter</label>
                </div>
                <button type="submit" class="submit-btn">Submit</button>
                <p class="checkboxvalidation mt-5">Please acept the terms and conditions</p>
            </form>
        </div>
        <div class="row managecontent">
            <p>If you have any questions, please visit our <a href="faq.html" class="linkstyle" target="_blank">FAQs</a> section.</p>
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>This page uses cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    On our website we use cookies to improve the user experience, optimize our website and for marketing.
                    By clicking accept, you agree to our use of these cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Approve</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Decline</button>
                <button type="button" class="btn" id="customizeBtn">Customize cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>This page uses cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Necessary cookies - cannot be turned off</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Necessary cookies handle basic functions such as page navigation and access to secure areas of the website.The website can not
                        function optimally without these cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marketing</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        This cookie helps us to find users who are intrested in information on various topics so that we can 
                        provide you with relevant advertisments from us.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Save and Close</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Read more</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Follow Us</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Subscribe to Newsletter</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Your Email" required>
                        <button type="submit" class="irsubscription" data-language="English">Subscribe</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Contact Us</h4>
                    <p><i class="fas fa-envelope"></i> Email: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Phone: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
    <script src="../../public/js/contactus.js"></script>
    
</body>
</html>