<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Home</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
   
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Find Match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Languages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="index.html">English</a>
                                <a class="dropdown-item" href="../no/index.html">Norwegian</a>
                                <a class="dropdown-item" href="../sv/index.html">Swedish</a>
                                <a class="dropdown-item" href="../dk/index.html">Danish</a>
                                <a class="dropdown-item" href="../fi/index.html">Finnish</a>
                                <a class="dropdown-item" href="../is/index.html">Icelandic</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">German</a>
                                <a class="dropdown-item" href="../fr/index.html">French</a>
                                <a class="dropdown-item" href="../es/index.html">Spanish</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   
    <div class="container-fluid video-background">

        <div class="content-wrapper d-flex justify-content-center align-items-center">
            <div class="mb-4 text-center">
                <h1 class="mainheading">Support your cause in a Faster, Smarter, and More Intuitive way.</h1>
                <p class="text">
                    Do you want to make a difference but don't know where to start? 
                    <br>
                    Try our unique fundraising portal to find your ideal charity organization.
                </p>
                <p class="mb-0 mt-5"><a href="search.html" class="btn lead">Find Your Match</a></p>
            </div>
        </div>
    </div>

   

    <section class="boxsection">
        <div class="container boxcontainer">
            <div class="row mx-auto">
                <div class="col-md-3 mb-2 mt-2 col-sm-6 column part part1 enpart1">
                    <i class="fas fa-envelope"></i>
                    <div class="newsletter-section">
                        <h5> Newsletters & Updates </h5>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mt-2 col-sm-6 column part part2 partnersen">
                    <i class="fas fa-handshake"></i>
                    <div class="newsletter-section">
                        <h5>Partners & Donors</h5>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mt-2 col-sm-6 column part part3 projectsen">
                    <i class="fas fa-tasks"></i>
                    <div class="newsletter-section">
                        <h5>Projects & Programs</h5>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mt-2 col-sm-6 column part part4 reporten">
                    <i class="fas fa-chart-bar"></i>
                    <div class="newsletter-section">
                        <h5>Statistics & Reports</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="testimonial-section">
        <h4 class="aimsHead">Hear from & Community</h4>
        <div class="testimonial-container">
            
            <div class="testimonial">
                <img src="../../img/testimonial.png" alt="Client 1">
                <h3>John Doe</h3>
                <p>"Working with this team was an amazing experience. They delivered beyond my expectations."</p>
            </div>
            <div class="testimonial">
                <img src="../../img/testimonial.png" alt="Client 2">
                <h3>Jane Smith</h3>
                <p>"I'm impressed with the professionalism and quality of service. Highly recommend them!"</p>
            </div>
            <div class="testimonial">
                <img src="../../img/testimonial.png" alt="Client 3">
                <h3>Michael Johnson</h3>
                <p>"These guys truly understand our needs and delivered results that helped our business grow."</p>
            </div>
        </div>

        
    </section>

    <div class="container becomepartner mt-2">
        <p class="partnertext">Our
            Official Partners inspire us. Showcase your projects on our website for direct donor support. <a href="contactus.html">Become Official Partner</a> </p>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>This page uses cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    On our website we use cookies to improve the user experience, optimize our website and for marketing.
                    By clicking accept, you agree to our use of these cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Approve</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Decline</button>
                <button type="button" class="btn" id="customizeBtn">Customize cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>This page uses cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Necessary cookies - cannot be turned off</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Necessary cookies handle basic functions such as page navigation and access to secure areas of the website.The website can not
                        function optimally without these cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marketing</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        This cookie helps us to find users who are intrested in information on various topics so that we can 
                        provide you with relevant advertisments from us.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Save and Close</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Read more</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Follow Us</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Subscribe to Our Newsletter</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Your Email" required>
                        <button type="submit" class="irsubscription" data-language="English">Subscribe</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Contact Us</h4>
                    <p><i class="fas fa-envelope"></i> Email: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Phone: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- core  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/home.js"></script>
    
    <script src="../../public/js/MessageSystem.js"></script>

    <script>
        $(document).ready(function() {
            sessionStorage.setItem('selectedLanguage', 'en');
        });
    </script>

    <script src="../../public/js/header.js"></script>
</body>
</html>