<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Our partners and donors</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/partners.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Find Match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Languages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="index.html">English</a>
                                <a class="dropdown-item" href="../no/index.html">Norwegian</a>
                                <a class="dropdown-item" href="../sv/index.html">Swedish</a>
                                <a class="dropdown-item" href="../dk/index.html">Danish</a>
                                <a class="dropdown-item" href="../fi/index.html">Finnish</a>
                                <a class="dropdown-item" href="../is/index.html">Icelandic</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">German</a>
                                <a class="dropdown-item" href="../fr/index.html">French</a>
                                <a class="dropdown-item" href="../es/index.html">Spanish</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="partnerheading">
        <div class="content-text-left">
            <div class="container introduction">
                <h1 class="mainheading"> Our partners</h1>
                <p class="linetext"> 
                    Instaraising is an innovative online platform that will change the way donors engage and how they can support a wide range of charitable organizations. 
                    As a new service, Instaraising will offer unique benefits for both charitable organizations and donors

                </p>
            </div>
        </div>
        <div class="content-text-right">
            <img src="../../img/partners.png" width="100%" alt="">
        </div>
    </section>

    <section class="instaraising-section">
        <div class="container benifitcontainer">
            <!-- <h2 class="benifitmainheading">Instaraising (Launching Soon)</h2> -->
            
            <div class="benefits mt-5">
                <div class="benefit-item">
                    <h3 class="benifitsubheading">Expanding the reach of charitable organizations</h3>
                    <p class="linetext">
                        Instaraising aims to give charitable organizations access to a diverse and growing base of potential donors. This will be especially beneficial for various causes like environmental protection, education, and health initiatives.
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Simplifying the donation experience</h3>
                    <p class="linetext">
                        Instaraising is designed to provide a seamless and secure donation process, encouraging donors to easily support multiple charitable organizations. This user-friendly approach is expected to strengthen donor engagement and contributions. 
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Ensuring trust and credibility</h3>
                    <p class="linetext">
                        The platform consists of a carefully reviewed list of charitable organizations, so donors can be sure that their contributions go to respected and effective foundations. This evaluation process is aimed at building donor trust in both the platform and the organizations. 
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Personalized search for charitable organizations</h3>
                    <p class="linetext">
                        Instaraising aims to use advanced technology to recommend charitable organizations that align with individual donor preferences and past giving history. This personalized approach is expected to help donors explore and support a variety of causes. 
                    </p>
                </div>
            </div>

            <p class="anticipated-text">
                Instaraising is generating significant interest among charitable organizations, as the service will improve how fundraising is done, expand donor engagement, and increase the effectiveness of charitable initiatives across various areas. The platform is expected to be a groundbreaking bridge between donors and a diversity of charitable causes. 
            </p>
        </div>
    </section>

    <section class="donorheading">
        <div class="content-text-left">
            <img src="../../img/our donors.png" width="100%" alt="">  
        </div>
        <div class="content-text-right">
            <div class="container introduction">
                <h1 class="mainheading"> Our Donors</h1>
                <p class="linetext">
                    We look forward to connecting with our donors. Their support is the foundation for our ability to make a difference. 
                </p>
            </div>
            
        </div>
    </section>

    <section class="donorsdetails mt-5">
        <div class="leftdonordetails">
            <div class="container donorleftcontainer">
                <h2 class="donorleftheading">Impact from Donors</h2>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Creating change</h3>
                        <p class="linetext">
                            Every donation, big or small, plays a critical role in advancing our initiatives. Your support gives us the energy to tackle challenges and create lasting change in the communities we help. 
                        </p>
                </div>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Funding projects and programs</h3>
                        <p class="linetext">
                            Contributions from donors like you are essential for funding our various projects and programs. From providing educational resources to ensuring access to healthcare, your generosity makes all this possible. 
                        </p>
                </div>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Extending our reach</h3>
                        <p class="linetext">
                            With your support, we can extend our services to include more people and help those who need it most. Your donation helps us scale our work and increase our impact. 
                        </p>
                </div>
            </div>
            
        </div>
        <div class="rightdonordetails">
            <div class="container rightdonorcontainer">
                <h2 class="donorleftheading">Ready to Make a Difference?</h2>
            <div class="row donor-items">
                <p class="linetext">
                    With Instaraising, you will have the opportunity to join a community of compassionate individuals dedicated to creating positive impact. Your donations will easily be facilitated through the platform, connecting you to organizations working on what you are passionate about with simplicity and openness. 
                </p>
            </div>
            <div class="row donor-items">
                <p class="linetext">
                    Subscribe to our newsletter and follow us on social media to get regular updates on important issues and what is being done. 
                </p>
            </div>
            </div>
            
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>This page uses cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    On our website we use cookies to improve the user experience, optimize our website and for marketing.
                    By clicking accept, you agree to our use of these cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Approve</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Decline</button>
                <button type="button" class="btn" id="customizeBtn">Customize cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>This page uses cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Necessary cookies - cannot be turned off</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Necessary cookies handle basic functions such as page navigation and access to secure areas of the website.The website can not
                        function optimally without these cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marketing</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        This cookie helps us to find users who are intrested in information on various topics so that we can 
                        provide you with relevant advertisments from us.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Save and Close</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Read more</button>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Follow Us</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Subscribe to Our Newsletter</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Your Email" required>
                        <button type="submit" class="irsubscription" data-language="English">Subscribe</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Contact Us</h4>
                    <p><i class="fas fa-envelope"></i> Email: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Phone: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../public/js/header.js"></script>
</body>
</html>