<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - FAQ</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/faq.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html">Heim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html">Um okkur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Finndu þinn passa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="faq.html">Oft spurðar spurningar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Hafðu samband við okkur</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tungumál
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Ensku</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="../sv/index.html">Svænska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finnska</a>
                                <a class="dropdown-item" href="index.html">Íslenska</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">Þýska</a>
                                <a class="dropdown-item" href="../fr/index.html">Franska</a>
                                <a class="dropdown-item" href="../es/index.html">Spænska</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container faqcontainer mt-5">
        <h1 class="text-center mb-4">Oft spurðar spurningar</h1>

        <input type="text" id="faqSearch" placeholder="Leitaðu að spurningu...">
        
        <div class="accordion" id="faqAccordion">
            <!-- FAQ Item 1 -->
            <div class="card">
                <div class="card-header" id="faqHeading1">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                            <i class="fas fa-chevron-down"></i>  Hvað er Instaraising? 
                        </button>
                    </h2>
                </div>
    
                <div id="faqCollapse1" class="collapse show" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising er stafræn vettvangur hönnuð til að tengja gjafaraðila við góðgerðarfélög um allan heim. Markmið okkar er að auðvelda árangursríka gjöf og hafa veruleg áhrif á minnkun alþjóðlegrar örbirgðar. 
                    </div>
                </div>
            </div>
    
            <!-- FAQ Item 2 -->
            <div class="card">
                <div class="card-header" id="faqHeading2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                            <i class="fas fa-chevron-down"></i>  Hvernig virkar Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising gerir gjöfum kleift að uppgötva og tengjast ýmsum góðgerðarstofnunum og málum. Gjafar geta beint styrkt verkefni eða mál sem þeim þykir vænt um og stofnanir geta sýnt frumkvæði sitt og fengið stuðning í gegnum opinberu vefsíðu okkar. 
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="card-header" id="faqHeading3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                            <i class="fas fa-chevron-down"></i> Hvaða mál styður Instaraising? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við styðjum við fjölbreytt úrval málefna, þar á meðal krísustjórnun, mannúðaraðstoð, menntun, heilbrigðisþjónustu, samfélagsþróun, velferð barna, mannréttindi, umhverfisvernd og margt fleira. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                            <i class="fas fa-chevron-down"></i>  Hvernig er Instaraising frábrugðið öðrum góðgerðarvettvangi?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising er einstakt í skuldbindingu sinni við að draga úr örbirgð um að minnsta kosti 5% á heimsvísu. Vettvangur okkar er hönnuð fyrir gagnsæi, auðvelda notkun og hámarka áhrif hvers gjafar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading5">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                            <i class="fas fa-chevron-down"></i> Er Instaraising óhagnaðardrifin samtök?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Nei, Instaraising starfar sem samfélagssköpunarstofnun undir Peach Group. Aðalmarkmið okkar er félagsleg áhrif frekar en hagnaður. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading6">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
                            <i class="fas fa-chevron-down"></i> Hvernig get ég gefið í gegnum Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse6" class="collapse" aria-labelledby="faqHeading6" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Til að gefa skaltu einfaldlega búa til reikning, skoða lista yfir orsakir eða samtök og velja hvar þú vilt leggja þitt af mörkum. Vettvangur okkar veitir öruggt og beint ferli fyrir framlög. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading7">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse7">
                            <i class="fas fa-chevron-down"></i>  Getur góðgerðarstofnun samstarfað við Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse7" class="collapse" aria-labelledby="faqHeading7" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Algjörlega. Góðgerðarstofnanir geta sótt um að vera skráðar á vettvangi okkar. Eftir að hafa verið metnar og samþykktar geta þær byrjað að fá framlög og stuðning frá alþjóðlegu samfélagi gjafara okkar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading8">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse8">
                            <i class="fas fa-chevron-down"></i>  Hvernig tryggir Instaraising lögmæti samtaka á vettvangi sínum?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse8" class="collapse" aria-labelledby="faqHeading8" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við framkvæmum ítarlega könnunarferli fyrir hverja stofnun. Þetta inniheldur að staðfesta þeirra lagalega stöðu, markmið, fjárhagslega gagnsæi og áhrifasögu. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading9">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse9" aria-expanded="false" aria-controls="faqCollapse9">
                            <i class="fas fa-chevron-down"></i>  Eru framlög í gegnum Instaraising frádráttarbær frá skatti?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse9" class="collapse" aria-labelledby="faqHeading9" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Framlög gerð í gegnum Instaraising geta verið frádráttarbær frá skatti eftir skattalögum lands þíns. Við ráðleggjum að hafa samband við skattfræðing til að fá nákvæmar upplýsingar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading10">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse10" aria-expanded="false" aria-controls="faqCollapse10">
                            <i class="fas fa-chevron-down"></i>  Hvernig get ég haft samband við Instaraising vegna frekari spurninga eða samstarfs? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse10" class="collapse" aria-labelledby="faqHeading10" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Fyrir frekari fyrirspurnir eða til að ræða um samstarfsmöguleika vinsamlegast hafðu samband við okkur á info@instaraising.com eða heimsæktu „Hafðu samband“ síðu okkar á vefsíðu okkar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading11">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse11" aria-expanded="false" aria-controls="faqCollapse11">
                            <i class="fas fa-chevron-down"></i>   Hver er framtíðarsýn Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse11" class="collapse" aria-labelledby="faqHeading11" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising var stofnað með sýn um að skapa tengdari og áhrifameiri veldgæðisvistkerfi. Markmið okkar er að nýta kraft stafrænnar nýsköpunar til að auðvelda merkingarbreytingu og valdefla bæði gjafara og stofnanir til að leggja fram áhrifaríkt framlag til alþjóðlegrar velferðar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading12">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse12" aria-expanded="false" aria-controls="faqCollapse12">
                            <i class="fas fa-chevron-down"></i>  Hverjir geta haft gagn af Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse12" class="collapse" aria-labelledby="faqHeading12" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Instaraising þjónar tveimur aðalhópum: einstaklingum og stofnanalegum gjöfum sem vilja leggja fram til áreiðanlegra orsaka og staðfestra veldgæðisstofnana sem leita stuðnings við frumkvæði þeirra. Vettvangur okkar er hannaður til að þjóna þeim sem vilja hafa jákvæð áhrif. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading13">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse13" aria-expanded="false" aria-controls="faqCollapse13">
                            <i class="fas fa-chevron-down"></i> Hvernig tryggir Instaraising gegnsæi og traust?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse13" class="collapse" aria-labelledby="faqHeading13" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við leggjum áherslu á gegnsæi með því að veita ítarlegar upplýsingar um hverja veldgæðisstofnun, verkefni þeirra og notkun fjármuna. Reglulegar uppfærslur og áhrifaskýrslur eru deildar með gjöfum. Auk þess fylgir vettvangur okkar ströngum öryggisreglum til að tryggja öruggar og gegnsæjar viðskipti. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading14">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse14" aria-expanded="false" aria-controls="faqCollapse14">
                            <i class="fas fa-chevron-down"></i>  Hvernig get ég fylgst með áhrifum gjafar minnar á Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse14" class="collapse" aria-labelledby="faqHeading14" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Gjafar fá reglulegar uppfærslur og áhrifaskýrslur tengdar verkefnum sem þeir styðja. Þessar skýrslur innihalda upplýsingar um framvindu, árangur og raunveruleg áhrif framlaga þeirra. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading15">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse15" aria-expanded="false" aria-controls="faqCollapse15">
                            <i class="fas fa-chevron-down"></i>  Get ég boðið fram sjálfboðaliðastörf eða ófjárhagslegan stuðning í gegnum Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse15" class="collapse" aria-labelledby="faqHeading15" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Já, auk fjárhagslegra framlaga hyggst Instaraising auðvelda sjálfboðaliðastörf og aðrar ófjárhagslegar stuðningsleiðir. Þessi eiginleiki verður þróaður til að gera notendum kleift að taka þátt í veldgæðismálum á fjölbreyttan hátt. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading16">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse16" aria-expanded="false" aria-controls="faqCollapse16">
                            <i class="fas fa-chevron-down"></i>  Hvaða ráðstafanir gerir Instaraising til að vernda persónu- og fjárhagsupplýsingar?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse16" class="collapse" aria-labelledby="faqHeading16" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við beitum háþróuðum öryggisráðstöfunum, þar á meðal dulkóðun og öruggum netþjónatengingum, til að vernda persónu- og fjárhagsupplýsingar þínar. Friðhelgi og öryggi gagna eru í fyrirrúmi í öllum okkar aðgerðum. 


                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading17">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse17" aria-expanded="false" aria-controls="faqCollapse17">
                            <i class="fas fa-chevron-down"></i> Hvernig velur og flokkar Instaraising orsakir sem það styður?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse17" class="collapse" aria-labelledby="faqHeading17" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Orsakir eru valdar út frá brýnum alþjóðlegum þörfum og markmiðum um sjálfbæra þróun. Við flokkum þær í ýmsa geira, svo sem menntun, heilsu, mannréttindi o.s.frv., til að auðvelda gjöfum að finna leiðina. 
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="faqHeading18">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse18" aria-expanded="false" aria-controls="faqCollapse18">
                            <i class="fas fa-chevron-down"></i>  Starfar Instaraising með fyrirtækjum í CSR-frumkvæðum?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse18" class="collapse" aria-labelledby="faqHeading18" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Já, við vinnum virkt með fyrirtækjum í samfélagsábyrgðarverkefnum (CSR) þeirra. Vettvangur okkar getur hjálpað fyrirtækjum að greina fjármögnun og fylgjast með félagslegum verkefnum sem eru í samræmi við CSR-markmið þeirra. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading19">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse19" aria-expanded="false" aria-controls="faqCollapse19">
                            <i class="fas fa-chevron-down"></i>  Hvernig get ég haldið mig upplýstum um starfsemi Instaraising og áhrifasögur?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse19" class="collapse" aria-labelledby="faqHeading19" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við hvetjum þig til að fylgjast með okkur á samfélagsmiðlum okkar og gerast áskrifandi að fréttabréfum okkar til að fá reglulegar uppfærslur, áhrifasögur og innsýn í starfsemi okkar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading20">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse20" aria-expanded="false" aria-controls="faqCollapse20">
                            <i class="fas fa-chevron-down"></i>  Hvernig get ég veitt endurgjöf eða tillögur til að bæta Instaraising? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse20" class="collapse" aria-labelledby="faqHeading20" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við metum endurgjöf þína og tillögur mikils. Vinsamlegast ekki hika við að hafa samband við okkur í gegnum tengiliðaformið á vefsíðu okkar eða beint á info@instaraising.com. Innlegg þitt er mikilvægt fyrir stöðuga umbætur okkar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading21">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse21" aria-expanded="false" aria-controls="faqCollapse21">
                            <i class="fas fa-chevron-down"></i>  Hvernig tryggir Instaraising að gjöfin mín sé notuð eins og til er ætlast?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse21" class="collapse" aria-labelledby="faqHeading21" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við viðhöldum strangt eftirliti með notkun fjármuna. Hver stofnun á vettvangi okkar þarf að veita ítarlegar áætlanir um hvernig framlög verða nýtt og þær verða að skila reglulegum skýrslum um fjárúthlutun og framgang verkefna. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading22">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse22" aria-expanded="false" aria-controls="faqCollapse22">
                            <i class="fas fa-chevron-down"></i>   Hvers konar fjárhagslegt gagnsæi býður Instaraising gjöfum sínum?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse22" class="collapse" aria-labelledby="faqHeading22" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Fjárhagslegt gagnsæi er hornsteinn í rekstri okkar. Við veitum gjöfum aðgang að fjárhagslegum skýrslum, þar á meðal sundurliðunum um hvernig fjármunir eru dreift og nýtt af góðgerðarstofnunum. Þetta tryggir að gjafar sjái beinan áhrif framlaga sinna.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading23">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse23" aria-expanded="false" aria-controls="faqCollapse23">
                            <i class="fas fa-chevron-down"></i>   Hvernig get ég staðfest réttmæti góðgerðarstofnana á Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse23" class="collapse" aria-labelledby="faqHeading23" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við framkvæmum ítarlega skoðunarferli fyrir hverja stofnun á vettvangi okkar. Þetta felur í sér að staðfesta lagalegan stöðu þeirra, fjárhagslega heilsu, rekstrarsögu og áhrifasögu. Aðeins stofnanir sem uppfylla strangar kröfur okkar eru skráðar. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading24">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse24" aria-expanded="false" aria-controls="faqCollapse24">
                            <i class="fas fa-chevron-down"></i>  Eru rekstrarþóknanir dregnar frá framlögum á Instaraising?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse24" class="collapse" aria-labelledby="faqHeading24" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við leitumst við að hámarka áhrif framlaga þinna. Þó að það séu lágmarks rekstrarþóknanir fyrir rekstur vettvangsins, tryggjum við gegnsæi um þessar þóknanir og verulegur meirihluti hvers framlags styður beint við valda ástæðu. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading25">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse25" aria-expanded="false" aria-controls="faqCollapse25">
                            <i class="fas fa-chevron-down"></i>  Hversu oft uppfærir Instaraising gjafa um framgang fjármagnaðra verkefna?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse25" class="collapse" aria-labelledby="faqHeading25" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Gjafar fá reglulegar upplýsingar um verkefnin sem þeir styðja. Þessar upplýsingar, sem venjulega eru veittar á ársfjórðungslega grundvelli, innihalda framfaraskýrslur, nýlegar þróanir og framtíðaráætlanir. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading26">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse26" aria-expanded="false" aria-controls="faqCollapse26">
                            <i class="fas fa-chevron-down"></i>  Getur gjafar valið hvernig framlög þeirra eru notuð innan tiltekins verkefnis eða stofnunar?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse26" class="collapse" aria-labelledby="faqHeading26" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Já, gjafar hafa sveigjanleika til að tilgreina hvernig þeir vilja að framlag þeirra sé notað. Stofnanir á vettvangi okkar útskýra ýmsar þarfir og verkefni sem gerir gjöfum kleift að leggja fram á þeim sviðum sem þeir brenna mest fyrir. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading27">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse27" aria-expanded="false" aria-controls="faqCollapse27">
                            <i class="fas fa-chevron-down"></i> Veitir Instaraising kvittanir fyrir framlög til skattalegra nota?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse27" class="collapse" aria-labelledby="faqHeading27" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Já, við veitum kvittanir fyrir framlög sem hægt er að nota til skattafrádráttar. Skattalegir ávinningar eru þó háðir búsetulandi gjafans og þeim sérstöku skattalögum þess. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading28">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse28" aria-expanded="false" aria-controls="faqCollapse28">
                            <i class="fas fa-chevron-down"></i>   Hvernig tekst Instaraising á við ágreining eða áhyggjur varðandi framlag?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse28" class="collapse" aria-labelledby="faqHeading28" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Við tökum öll áhyggjuefni eða ágreining varðandi framlög mjög alvarlega. Gjafar geta haft beint samband við stuðningsliðið okkar með öllum málum og við tryggjum ítarlega og tímanlega lausn á þeim. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading29">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse29" aria-expanded="false" aria-controls="faqCollapse29">
                            <i class="fas fa-chevron-down"></i>  Get ég fylgst með langtímaáhrifum gjafar minnar á Instaraising-vettvanginum? 
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse29" class="collapse" aria-labelledby="faqHeading29" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Algjörlega. Við hvetjum til þess að fylgst sé með langtímaáhrifum og veitum árlegar áhrifaskýrslur sem sýna varanleg áhrif framlaga þinna á ýmis verkefni og mál. 
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="faqHeading30">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse30" aria-expanded="false" aria-controls="faqCollapse30">
                            <i class="fas fa-chevron-down"></i>  Hvernig tekst Instaraising á við endurgreiðslur eða villur í vinnslu framlaga?
                        </button>
                    </h2>
                </div>
                <div id="faqCollapse30" class="collapse" aria-labelledby="faqHeading30" data-bs-parent="#faqAccordion">
                    <div class="card-body">
                        Ef villur koma upp í vinnslu framlaga eða ef endurgreiðsla er óskað eftir, er stuðningslið okkar til staðar til að aðstoða. Við höfum skýra stefnu um meðhöndlun slíkra aðstæðna til að tryggja ánægju og traust gjafa. 
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Fylgdu okkur</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Skráðu þig á fréttabréfið okkar</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Netfangið þitt" required>
                        <button type="submit" class="irsubscription" data-language="English">Skráðu þig</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Hafðu samband við okkur</h4>
                    <p><i class="fas fa-envelope"></i> Netfang: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Sími: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/faq.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
</body>
</html>