<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Our partners and donors</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/partners.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Heim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html">Um okkur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Finndu þinn passa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Oft spurðar spurningar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Hafðu samband við okkur</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tungumál
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Ensku</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="../sv/index.html">Svænska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finnska</a>
                                <a class="dropdown-item" href="index.html">Íslenska</a>
                               
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="partnerheading">
        <div class="content-text-left">
            <div class="container introduction">
                <h1 class="mainheading">Vinir okkar </h1>
                <p class="linetext"> 
                    Instaraising er nýsköpunarplattform á netinu sem mun endurskapa hvernig gjafir tengjast og hvernig þeir geta stutt fjölbreytt mæli gagnsömra stjórnmálafélaga. Sem ný þjónusta mun Instaraising veita einstaklega áhugaverða kosti bæði stjórnmálafélögum og gjöfendum
                </p>
            </div>
        </div>
        <div class="content-text-right">
            <img src="../../img/partners.png" width="100%" alt="">
        </div>
    </section>

    <section class="instaraising-section">
        <div class="container benifitcontainer">
            <!-- <h2 class="benifitmainheading">Instaraising (Launching Soon)</h2> -->
            
            <div class="benefits mt-5">
                <div class="benefit-item">
                    <h3 class="benifitsubheading">Auka skilning stjórnmálafélaga</h3>
                    <p class="linetext">
                        Instaraising ætlar að veita stjórnmálafélögum aðgang að fjölbreytilegu og vaxandi grunni mögulegra gjafa. Þetta verður sérstaklega hagnýt fyrir mismunandi markmið, svo sem umhverfisvernd, menntun og heilbrigðisáætlanir.
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Einfalda gjafarreynsluna</h3>
                    <p class="linetext">
                        Instaraising er hönnuð til að veita óskert og öruggt gjafarferli, sem mun hrifsa gjafa til að styðja margar stjórnmálafélög á einfaldan hátt. Þessi notandavæna leið er vonast til að styrkja þátttöku og framlag gjafa. 
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Örugga traust og trúverðugleika</h3>
                    <p class="linetext">
                        Plattforman samanstendur af vandlega skoðuðu lista yfir stjórnmálafélög, svo að gjafar geti verið viss um að þeirra framlög ferðist til virðingu verðandi og skilvirkra stofnana. Skoðanirnar þessar eru ætlaðar að byggja upp trú gjafa, svo vel sem gegn plattformunni og félögum. 
                    </p>
                </div>

                <div class="benefit-item">
                    <h3 class="benifitsubheading">Staðlað persónulegt leit eftir stjórnmálafélögum</h3>
                    <p class="linetext">
                        Instaraising á sér markmið að nota nýjustu tækni til að mæla með stjórnmálafélögum sem skarast við einstaklingsbundnar gáfuforsendur og fyrra gjafafrásögn. Þessi persónulega nálgun er vonast til að hjálpa gjöfendum að skoða og styðja ýmsar árásir. 
                    </p>
                </div>
            </div>

            <p class="anticipated-text">
                Instaraising vekur mikinn áhuga meðal stjórnmálafélaga, þar sem þjónustan mun bæta þá leið sem fjármögnuð samleitin fer fram, auka þátttöku gjafa og auka skilvirkni stjórnmálafélaga í mismunandi sviðum. Plattforman er vonast til að verða bráðabirgða brú milli gjafa og fjölbreytilegrar stjórnmálafélaga.
            </p>
        </div>
    </section>

    <section class="donorheading">
        <div class="content-text-left">
            <img src="../../img/our donors.png" width="100%" alt="">  
        </div>
        <div class="content-text-right">
            <div class="container introduction">
                <h1 class="mainheading">Gjafagjafar okkar</h1>
                <p class="linetext">
                    Vi hlutum vonandi til að tengjast gjafagjöfum okkar. Styrkur þeirra er grunnurinn fyrir okkar getu til að gera breytt.
                </p>
            </div>
            
        </div>
    </section>

    <section class="donorsdetails mt-5">
        <div class="leftdonordetails">
            <div class="container donorleftcontainer">
                <h2 class="donorleftheading">Áhrif frá gjöfum</h2>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Að valda breytingu</h3>
                        <p class="linetext">
                            Hver gjöf, stór eða smár, gegnur mikilvægu hlutverki í því að knýja stefnur okkar áfram. Styrkur þinn gefur okkur orku til að takast á við áskorunum og skapa varandi breytingu í samfélögum sem við hjúpum. 
                        </p>
                </div>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Að fjármagna verkefni og forrit</h3>
                        <p class="linetext">
                            Frálag gjafa eins og þig er nauðsynlegt til að fjármagna ýmis verkefni og forrit okkar. Frá að veita menntunarauðlindir til að tryggja aðgang að heilbrigðishjálparþjóð, gæðir þín gera allt þetta mögulegt. 
                        </p>
                </div>
                <div class="row donor-items">
                    <h3 class="benifitsubheading">Að auka geim gegnum okkur</h3>
                        <p class="linetext">
                            Með stuðningi þínum getum við þau víðka þjónustu okkar til að taka inn fleiri fólk og hjálpa þeim sem þar þurfa mest. Gjöf þín hjálpar okkur að stækka starf okkar og auka áhrifin okkar. 
                        </p>
                </div>
            </div>
            
        </div>
        <div class="rightdonordetails">
            <div class="container rightdonorcontainer">
                <h2 class="donorleftheading">Hvort þú ert tilbúinn að gera breytingu? </h2>
            <div class="row donor-items">
                <p class="linetext">
                    Með Instaraising munt þú hafa tækifæri til að verða hluti af samfélagi miskunnsamra einstaklinga sem hafa hugmyndir um jákvæð áhrif. Gjafir þínar verða auðveldlega fluttar gegnum plattformuna, tengja þig við stjórnmálafélög sem vinna að því sem þig brennur mest fyrir, með einfaldleika og opinskátt.
                </p>
            </div>
            <div class="row donor-items">
                <p class="linetext">
                    Prenumerera á tíðindabréfinu okkar og fylgstu okkur á samfélagsmiðlum, og fáðu reglulegar uppfærslur um mikilvægar mál og hvað er verið að vinna.
                </p>
            </div>
            </div>
            
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Þessi síða notar vafrakökur</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Á síðu okkar notum við vafrakökur til að bæta notendaupplifun, hámarka vefsíðu og fyrir markaðssetningu.
                    Með því að samþykkja samþykkir þú hvernig við notum vafrakökur.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Samþykkja</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hafna</button>
                <button type="button" class="btn" id="customizeBtn">Sérsníða vafrakökur</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Þessi síða notar vafrakökur</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nauðsynlegar vafrakökur – geta ekki verið afskráðar</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nauðsynlegar vafrakökur eru notaðar fyrir grundvallaratriði eins og síðuflettingu og 
                        til að fá aðgang að varinni hlutum vefsíðunnar. Vefsíðan getur ekki starfað fullnægjandi án þessara kökum.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markaðssetning</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Þessi vafrakaka hjálpar okkur að finna notendur sem hafa áhuga á upplýsingum um mismunandi efni, svo við 
                        getum veitt þér viðeigandi auglýsingar.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Vista breytingar og loka</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lesa meira</button>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Fylgdu okkur</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Skráðu þig á fréttabréfið okkar</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Netfangið þitt" required>
                        <button type="submit" class="irsubscription" data-language="English">Skráðu þig</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Hafðu samband við okkur</h4>
                    <p><i class="fas fa-envelope"></i> Netfang: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Sími: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../public/js/header.js"></script>
</body>
</html>