<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Privacy</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="index.html">Heim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html">Um okkur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Finndu þinn passa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">Oft spurðar spurningar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="contactus.html">Hafðu samband við okkur</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tungumál
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="../en/index.html">Ensku</a>
                                <a class="dropdown-item" href="../no/index.html">Norska</a>
                                <a class="dropdown-item" href="../sv/index.html">Svænska</a>
                                <a class="dropdown-item" href="../dk/index.html">Danska</a>
                                <a class="dropdown-item" href="../fi/index.html">Finnska</a>
                                <a class="dropdown-item" href="index.html">Íslenska</a>
                               
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container privacycontainer">
            <div class="content">
                <h1 class="mainheading mt-5">Persónuverndaryfirlýsing</h1>
            </div>
            <div class="content">
                <p>
                    <ol>
                        <li>SÖFNUN Á EINKENNUM</li>
                        <li>ÞITTAR RÉTTINDI</li>
                        <li>SÖFNUN Á EINKENNUM FRÁ HEIMSÓKNDRU VEFSTADUM OKKAR</li>
                        <li>AÐRAR FERLUR OG TILBOÐ Á VEFNUM VORUM OKKAR</li>
                        <li>ANDMÆLI VIÐ VEGABRÚÐU EÐA TILBÆTIS ÚR GAGNI Í VEGABRÚÐU</li>
                        <li>NETVIÐBURÐARSKRÁÐANIR</li>
                    </ol> 
                </p>
            </div>
            <div class="content">
                <h2>1.	Söfnun á persónuupplýsingum</h2>
                <p class="mb-2">
                    (1) Þessi persónuverndaryfirlýsing skýrir hvernig og hvaða persónuupplýsingar við söfnum frá þér með vefnum okkar. Persónuupplýsingar þýða alla þær upplýsingar sem gætu tengst þér persónulega, svo sem nafn þitt, heimilisfang, netfang, notandareynsla og fleira.
                </p>
                <p class="mb-2">
                    (2) Stjórnandi samkvæmt 7. gr. 4. grein og 4. mgr. Almennrar persónuverndarráðs (GDPR) er
                </p>
                <div class="contact-info">
                    <p class="company-name">PEACH GROUP AS</p>
                    <p>Stangslia 5</p>
                    <p>3179 Åsgårdsstrand</p>
                    <p>Tel.: +47 46 31 18 65</p>
                    <p>Email: <a href="mailto:finncato@peachgroup.no">finncato@peachgroup.no</a></p>
                </div>
                <p>Persónuverndarfulltrúi : Martin Hoel</p>
                <p class="mb-2">
                    Hægt er að hafa samband við persónuverndarfulltrúa okkar á netfangið  <a href="mailto:ir-contact@instaraising.com" class="linkpages">ir-contact@instaraising.com</a>  
                    eða á póstfangið okkar með því að bæta við "GDPR."
                </p>
                <p class="mb-2">
                    (3) Í hvert sinn sem þú sendir okkur tölvupóst eða fyllir út tengiliðablaði geymum við upplýsingar þær sem þú gefur okkur (netfangið þitt, mögulega nafnið þitt og símanúmerið þitt) til þess að geta svarað þínum spurningum. Við eyðum upplýsingum þeim sem náð er upp á í þessu samhengi þegar geymsla þeirra er ekki lengur nauðsynleg, eða við takmörkum vinnslu þeirra þegar lögaðili gagnvart geymslu persónuupplýsinga gerir það nauðsynlegt.
                </p>
                <p class="mb-2">
                    (4) Ef við nýjum samkomna þriðja aðila til að styðja einstaka þætti tilboðs okkar eða viljum nota persónuupplýsingar þínar í auglýsingu, er farið í smáatriðum yfir viðeigandi viðurkenndum aðferðum hér á eftir. Hér á eftir er einnig lýst á ákvæði um hversu lengi persónuupplýsingar eru geymdar.
                </p>
                <p class="mb-2">
                    (5) Upplýsingar sem við vinnslum verða eytt eða vinnslan þeirra takmörkuð samkvæmt 17. og 18. gr. GDPR. Nema þar sem það er skýrt fram annað í þessari persónuverndaryfirlýsingu, eru upplýsingar sem við geymum eytt þegar þær eru ekki lengur nauðsynlegar í ljósi markmiða sinna og lögskilyrði um geymslu leggi ekki fyrir þær takmörkun. Takmörkuð geymsla er ákveðin því gagnvart vinnslu upplýsinga sem ekki hafa verðið eytt vegna þess að þær þurfi vegna annarra löglega heimildar geymsluskilyrðis. Í öðrum orðum, svoð: slíkar upplýsingar eru lokkaðar og óaðgengilegar til að þær þjóniðu öðrum markmiðum vinnslu.
                </p>
            </div>
            <div class="content">
                <h2>2.	Þittar réttindi</h2>
                <p class="mb-2">
                    (1) Þú hefur eftirfarandi réttindi varðandi persónuupplýsingar sem við vinnslum um þig: Þú hefur rétt til að fá upplýsingar um persónuupplýsingar þínar sem við vinnslum. Við vonumst til skilnings þinn þegar fyrirspurn er gerð til okkar öðruvísi en skriflega, en þá munum við líklegast biðja þig um sönnunartilgang þína til að staðfesta að þú sért það fólk sem þú segist vera. 
                </p>
                <p class="mb-2">
                    Þú hefur einnig rétt til að leiðrétta, eyða eða takmörkun vinnslu persónuupplýsinga þinna að þeim marka sem lögleyfir. Að auki hefur þú rétt til að mótmæla vinnslu persónuupplýsinga þinna að þeim marka sem lögleyfir. Það sama gildir um réttinn til "gagnaflutnings."
                </p>
                <p class="mb-2">
                    (2) Í aðalefni hefur þú rétt til að kvarta til norsku persónuverndarvaldsins (Datatilsynet) með kvörtunum þínum um hvernig persónuupplýsingum þínum er hagað af okkur.
                </p>
            </div>
            <div class="content">
                <h2>3.	Söfnun á persónuupplýsingum frá heimsókndru vefstöðum okkar</h2>
                <p class="mb-2">
                    (1) Í þeim tilföllum þegar vefstöð okkar er heimsótt aðeins í þágu upplýsingasöfnunar, þar sem þú skráir þig ekki eða lætur okkur ekki síður vita um upplýsingar, söfnum við aðeins persónuupplýsingum sem vafur þinn lætur okkur vita um. Í þeim tilföllum þegar þú vilt skoða vefstöð okkar söfnum við eftirfarandi upplýsingum sem nauðsynlegum þætti í ljósi þess að veita þér vefstöðina og tryggja rétt mat á aðgengi og öryggi (löglega grundvallarlagi er 6. gr. 1. mgr. a-liðar f greinar 1. mgr. 1. gr. Almennrar persónuverndarráðs (GDPR)):
                </p>
                <ul>
                    <li class="listclass">IP-tala;</li>
                    <li class="listclass">Dagsetning og tími fyrirspurnar;</li>
                    <li class="listclass">Tímabelti frá Græenlensku meðaltíma (GMT);</li>
                    <li class="listclass">Efni fyrirspurnar (nákvæm vefblaðsíða aðgangs);</li>
                    <li class="listclass">Aðgangsstaða/HTTP-aðgangsstaða;</li>
                    <li class="listclass">Magn gagna sem er sent í hvert sinn;</li>
                    <li class="listclass">Vefurinn sem býr til fyrirspurnina;</li>
                    <li class="listclass">Vafri;</li>
                    <li class="listclass">Stýrikerfið þitt og það viðmót sem það hefur;</li>
                    <li class="listclass">Tungumál og útgáfa vafrans.</li>
                </ul>
                <p class="mb-2">
                    Þessar upplýsingar eru varðveisla varðveisluverndarsögunnar (t.d. vegna rannsókna á misnotkun og verndar fyrir svikum) í mest þremur dögum og eytt eftir því. Upplýsingar sem þurfa að varðveitt verða lengur í kjölfari verða eytt aðeins þegar tengt máli er fullvissað.
                </p>
                <p class="mb-2">
                    (2) Í auknum tilvistu fyrirspurna telst tölvan þín geyma vafrakökur okkar þegar hún heimsókar vefstöðina okkar. Vafrakökur eru smá textaskrár sem geymast á harða diskinum þínum sem skráðar eru við vafra þinn og gegna því hlutverki að veita kökuskilaboðum sendanda kökunnar (í þessu tilfelli okkur). Vafrakökur geta ekki keyrt neinar forrit eða sýkt tölvuna þína af veiru. Markmið þeirra er að gera vinnsluna þinni á netinu almennt notendavænlegri og árangursríkari.
                </p>
                <p>((3) Notkun vafrakaka: </p>
                <p class="mb-2">
                    a) Þessi vefur notar eftirfarandi gerðir vafrakaka, sem umfang og virkni eru útskýrðar nánar hér á eftir:
                </p>
                <ul>
                    <li class="listclass">•	Skammtíma vafrakakur (sjá b);; </li>
                    <li class="listclass">•	Langtíma vafrakakur (sjá c).</li>
                </ul>
                <p class="mb-2">
                    b) Skammtíma vafrakakur verða eytt sjálfkrafa þegar þú lokað vafranum þínum. Þær innihalda sérstakan kenni um vefsetningu (sogu) sem ýmsar fyrirspurnir þínar eru merktar með í gegnum allt vafrasessið. Þær gefa okkur möguleika á að endurkenna tölvuna þína sem vafa okkar fyrra heimsóknar þegar þú skoðar vefstöðina okkar. Skammtíma vafrakakur eru eytt þegar þú lokað vafranum þínum.
                </p>
                <p class="mb-2">
                    c) Langtíma vafrakakur verða eytt sjálfkrafa eftir fyrirfram skilgreindan tíma sem getur verið mismunandi frá koku til koku. Þú getur eytt vafrakökum hvenær sem er með því að nota öryggisstillingar vafrans þíns.
                </p>
                <p class="mb-2">
                    d) Þú getur stillt stillingar vafrans þíns í þinni ánægju og hafnað tekið við vafrakökum frá þriðja aðilum eða öllum vafrakökum. Við bendum hins vegar á að þar sem það er tilfelli verður þér líklegast ekki að geta notað sumar af föngum vefstöðarinnar okkar.

                </p>
            </div>
            <div class="content">
                <h2>4.	Aðrar ferlur og tilboð á vefnum vorum okkar</h2>
                <p class="mb-2">
                    (1) Næstumogu að nota vefstöðina okkar aðeins til að fá upplýsingar býðum við upp á ýmsa þjónustu sem þú getur notað ef þær henta þér. Almennt þarftu að leggja fram frekari persónuupplýsingar þínar sem við notum til þess að veita þér hæfileikana í tengist þjónustunni og sem falla undir persónuupplýsingaverndarreglur sem lýst er á hér áðan.
                </p>
                <p class="mb-2">
                    (2) Við notum þjónustuframleiðendur til að vinnslu persónuupplýsinga þinna. Við veljum þá með nægjari vörn og umhyggju, þeir eru skilyrðislaust viðráðaðir af okkar hagsmuni og eru reglulega eftirlaunsaðir.
                </p>
                <p class="mb-2">
                    (3) Þar að auki gætum við látið persónuupplýsingar þínar fara til þriðja aðila ef við bjóðum upp á viðburði, samkomu eða þjónustu með sömu aðilum. Þú færð nánari upplýsingar um þetta þegar þú gefur persónuupplýsingarnar þínar.
                </p>
                <p class="mb-2">
                    (4) Í því tilfelli að þjónustuveitendur eða samstarfsaðilar okkar eru staddrir í ríkjunum fyrir utan Evrópusambandið (EEA) gefum við þér upplýsingar um afleiðingar þess á því skilyrði okkar
                </p>
            </div>
            <div class="content">
                <h2>5.	Andmæli við vinnslu persónuupplýsinga eða kröfur um tilbætis úr gagni í vinnslu persónuupplýsinga
                </h2>
                <p class="mb-4">
                    (1) Þú getur dregið það samþykki sem þú gafst okkur um vinnslu persónuupplýsinga þinna hvenær sem er. Sá fjölbreytileiki sem þig snertir gagnvart persónuupplýsingum þínum breytist sem dögum liðnum sem þú gerir það vita.
                </p>
                <p class="mb-2">
                    (2) Í því tilfelli að við vinnslum persónuupplýsingar þínar til þess að styðja löglega hagsmuni okkar getur þú tekið til máls. Það er þá sérstaklega svo þegar vinnsla persónuupplýsinga þinna er ekki nauðsynleg fyrir að viðhalda samkomu okkar við þig, sem við gætum sýnt fram á í lýsingu á þeirri aðgerð þar að neðan. Ef þú tekur til máls með okkur ber þér að þrepa fram rök fyrir því af hverju við ættum ekki að vinna persónuupplýsingar þínar eins og þær verða vinnaðar núna. Ef máli þínu er komið fram þannig að það sé réttmætt, leggjum við það fyrir rannsókn og stöðvum vinnslu persónuupplýsinga þinna og gerum þær lagfærslur sem þurfa að vera. Eða drellum þér við verndaraðferðir okkar þar til að viðhalda vinnslu persónuupplýsinga þinna þar sem það er nauðsynlegt.
                </p>
                <p class="mb-2">
                    (3) Þú getur mótmælt því þegar persónuupplýsingar þínar verða vinnar fyrir markaðssetningu og gagnagreiningu. Þú getur tilkynnt okkur andmæli þinn um markaðssetningu undir tengiliðinum sem nefnt er í gr. 1 (2).
                </p>
            </div>
            <div class="content">
                <h2>6.	Netviðburðarskráðanir</h2>
                <p class="mb-2">
                    (1) Ef þú vilt skrá þig á viðburði, bæði ókeypis og greidd, er nauðsynlegt fyrir samkomulag að þú lætir okkur vita persónuupplýsingar þær sem þurfa að verða vinnarar til vinnslu skráðanar þinnar. Skyldu hópa er vísað sérstaklega, aðra hópa er nefnt sem valkostum. Við vinnum upplýsingar þær sem þú leggur fram í vinnslu skráðanar þinnar. Löglegur grundvallur fyrir þetta er 6. gr. 1. mgr. b-liðar og f-liðar greinar 1. mgr. 1. gr. Almennrar persónuverndarráðs (GDPR).
                </p>
                <p class="mb-2">
                    Við gætum einnig vunnið þær upplýsingar sem þú gefur okkur til þess að informera þig um löglega, skattfrétt og efnahaglega þróun, veita þér önnur skemmtileg og mikilvæg ræða eða senda þér tölvupóst með tæknilegum upplýsingum.
                </p>
                <p class="mb-2">
                    (2) Við erum skilyrt af verslunar- og skattalögum að geyma heimilisfang, greiðslugögn og pöntunargögn þín í tíu ár. En svo að það komi ekki í veg fyrir að þessi gögn geymist lengur, takmarkum við vinnslu þeirra þannig að þau verði aðeins notað til að uppfylla lögleg skyldur.
                </p>
                <p class="mb-2">
                    Åsgårdsstrand, 28.08.2023
                </p>
            </div>
        </div>
    </main>

    
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Þessi síða notar vafrakökur</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Á síðu okkar notum við vafrakökur til að bæta notendaupplifun, hámarka vefsíðu og fyrir markaðssetningu.
                    Með því að samþykkja samþykkir þú hvernig við notum vafrakökur.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Samþykkja</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hafna</button>
                <button type="button" class="btn" id="customizeBtn">Sérsníða vafrakökur</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Þessi síða notar vafrakökur</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nauðsynlegar vafrakökur – geta ekki verið afskráðar</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nauðsynlegar vafrakökur eru notaðar fyrir grundvallaratriði eins og síðuflettingu og 
                        til að fá aðgang að varinni hlutum vefsíðunnar. Vefsíðan getur ekki starfað fullnægjandi án þessara kökum.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markaðssetning</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Þessi vafrakaka hjálpar okkur að finna notendur sem hafa áhuga á upplýsingum um mismunandi efni, svo við 
                        getum veitt þér viðeigandi auglýsingar.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Vista breytingar og loka</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lesa meira</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Fylgdu okkur</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Skráðu þig á fréttabréfið okkar</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Netfangið þitt" required>
                        <button type="submit" class="irsubscription" data-language="English">Skráðu þig</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Hafðu samband við okkur</h4>
                    <p><i class="fas fa-envelope"></i> Netfang: star@peachgroup.no</p>
                    <p><i class="fas fa-phone"></i> Sími: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>
</body>
</html>