<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Instaraising page.">
    <meta name="author" content="Devcrud">
    <title>Instaraising - Our partners and donors</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/headers.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cookies.css">
    <link rel="stylesheet" href="../../public/css/projects.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../../img/logo.png" alt="Instaraising" width="150px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html"></i>About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="search.html">Find Match</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languagesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Languages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languagesDropdown">
                                <!-- Add your language options here -->
                                <a class="dropdown-item" href="index.html">English</a>
                                <a class="dropdown-item" href="../no/index.html">Norwegian</a>
                                <a class="dropdown-item" href="../sv/index.html">Swedish</a>
                                <a class="dropdown-item" href="../dk/index.html">Danish</a>
                                <a class="dropdown-item" href="../fi/index.html">Finnish</a>
                                <a class="dropdown-item" href="../is/index.html">Icelandic</a>
                                <!-- <a class="dropdown-item" href="../de/index.html">German</a>
                                <a class="dropdown-item" href="../fr/index.html">French</a>
                                <a class="dropdown-item" href="../es/index.html">Spanish</a> -->
                                <!-- Add more language options as needed -->
                            </div>
                        </li>
                        <!-- End Languages Dropdown -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="partnerheading">
        <div class="content-text-left">
            <div class="container introduction">
                <h1 class="mainheading">Verkefni og Forrit</h1>
                <p class="linetext">Hos Instaraising og okkar samstarfsaðilum erum við hingað til að skapa merkingarbreytingu gegnum fjölda verkefna og forrita. Við erum spennt um hvernig Instaraising getur hjálpað til að styðja mismunandi samfélög og einstaklinga.</p>
            </div>
        </div>
        <div class="content-text-right">
            <img src="../../img/Education.png" width="100%" alt="">
        </div>
    </section>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom benifitmainheading">Núverandi Verkefni</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Framtíðarverkefni</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">Instaraising og okkar samstarfsaðilar vinna því með miklum afla að þróa mismunandi verkefni og forrit. Vorum markmið verða að veita aðgang að hreinu vatni, bæta menntunarmöguleika og bæta heilbrigðisþjónustu í undirþróuðum svæðum. </p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Læra meira 
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Verkefnisskýring</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">Núna vinnum liðir okkar grundvallarlega að því að skipuleggja og hanna mismunandi verkefni. Samstarf við sérfræðinga, samfélagið og mögulegar samstarfsaðilum er í gangi til að tryggja að verkefnin verði bærekraftsam, árangursrík og gagnast almenningi. </p>
                    </div>
                    <a href="#" class="btn custombtn">
                        Læra meira 
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="project">
                    <div class="headingproject">
                        <h2>Fylgist með uppfærslum</h2>
                    </div>
                    <div class="detailproject">
                        <p class="linetext">Upplýsingar um komandi verkefni okkar og hvernig þú getir tekið þátt og stuðlað þessum málum verða kynntar fljótlega.</p>
                    </div>
                    <a href="#" class="btn custombtn">
                        Læra meira 
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom benifitmainheading">Horft áfram</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Samfélagshöfnun</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Verkefnin hjá Instaraising og samstarfsaðilum okkar verða miðað við samfélagshöfnun til að leysa þörfum þeirra. </p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Læra meira 
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Samstarfs- og samvinnuálag</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Við erum trúir að byggja upp sterka samstarfsaðila til að auka umfang og áhrif okkar forrita. </p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Læra meira 
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="forwardproject">
                    <div class="forwardheading">
                        <h2>Notkun Instaraising</h2>
                    </div>
                    <div class="forwardprojectdetails">
                        <p class="linetext">Með Instaraising vonumst við til að tengjast því breiðari áhorfsglugga gjafa og stuðningsmanna og auka samvinnu okkar til að knýja áfram jákvæða breytingu.</p>
                    </div>
                    
                    <a href="#" class="btn custombtn">
                        Læra meira 
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Þessi síða notar vafrakökur</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Á síðu okkar notum við vafrakökur til að bæta notendaupplifun, hámarka vefsíðu og fyrir markaðssetningu.
                    Með því að samþykkja samþykkir þú hvernig við notum vafrakökur.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Samþykkja</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hafna</button>
                <button type="button" class="btn" id="customizeBtn">Sérsníða vafrakökur</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Þessi síða notar vafrakökur</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nauðsynlegar vafrakökur – geta ekki verið afskráðar</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nauðsynlegar vafrakökur eru notaðar fyrir grundvallaratriði eins og síðuflettingu og 
                        til að fá aðgang að varinni hlutum vefsíðunnar. Vefsíðan getur ekki starfað fullnægjandi án þessara kökum.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markaðssetning</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Þessi vafrakaka hjálpar okkur að finna notendur sem hafa áhuga á upplýsingum um mismunandi efni, svo við 
                        getum veitt þér viðeigandi auglýsingar.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Vista breytingar og loka</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lesa meira</button>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container footer-container">
            <div class="footer-content">
                <div class="footer-column">
                    <h4 class="footer-text">Follow Us</h4>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Subscribe to Our Newsletter</h4>
                    <form class="newsletter-form">
                        <input type="email" id="irnewsletter" placeholder="Netfangið þitt" required>
                        <button type="submit" class="irsubscription" data-language="English">Subscribe</button>
                    </form>
                </div>
                <div class="footer-column">
                    <h4 class="footer-text">Contact Us</h4>
                    <p><i class="fas fa-envelope"></i> Email: ir-contact@instaraising.com</p>
                    <p><i class="fas fa-phone"></i> Phone: (+47) 982 34 223</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../public/js/header.js"></script>
</body>
</html>