<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start your development with Insta Raising page.">
    <meta name="author" content="Devcrud">
    <title>Greiðsla tókst</title>
    <link rel="icon" type="image/png" href="../../img/logoonly.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/sucess.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>

<body>
    <div class="container">
        <h1>Greiðsla tókst.</h1>
        <p>Þakka þér fyrir rausnarlegan stuðninginn! </p>
        <p>Þitt stuðningur hefur mikil áhrif og hjálpar okkur að halda áfram mikilvægu verkefni okkar í samfélaginu. </p>
        <p>Vertu uppfærð(ur) með nýjustu fréttirnar og sögurnar frá góðgerðarstofnunum sem þú umhyggst. Fylgdu okkur á:</p>

        <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=61551928796163" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.tiktok.com/@instaraising?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.instagram.com/instaraisingglobal/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/instaraising/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/InstaRaising" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCGxESF_5Qbw0H-vzlvoJ8nw" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>

        <p>Við erum þakklát fyrir skuldbindingu þína til að hafa jákvæð áhrif.</p>
        <p>Kærar kveðjur,<br>Instaraising</p>

        <div class="contact-info">
            <p>Fyrir frekari aðstoð eða endurgjöf, vinsamlegast hafðu samband við okkur á <a href="mailto:ir-contact@instaraising.com">ir-contact@instaraising.com</a>.</p>
        </div>
        <a href="https://127.0.0.1:8080/" style="text-decoration: none; color: white;text-align: center;">
            <button style="background-color: #0f476b; /* Green */
                           border: none;
                           color: white;
                           padding: 15px 32px;
                           text-align: center;
                           text-decoration: none;
                           display: inline-block;
                           font-size: 16px;
                           margin: 4px 2px;
                           cursor: pointer;">Fara aftur á upphafssíðu</button>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
</body>

</html>
